<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			Amel.details_init();
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<div class="container table-modal">
		<form action="detailsObj" method="POST" autocomplete="off">
			<div th:replace="fragments/header :: details-param"></div>
			<div th:replace="fragments/header :: details-header"></div>
           	<div th:with="rco=${readonly!=true ? 0 : 1}" class="col-sm-12 card small">
           		<div class="m-sm-0">
           			<div th:replace="fragments/header :: details-buttons"></div>
           			<div class="col-sm-12 border fit-height">
           				<th:block th:if="${bs!=true}">
           					<div class="w-100 border border-primary">
			                    <table class="table table-sm table-edited table-bordered"><tbody><tr>
			                    	<th:block th:with="w='20%',tt='label',nn='cm_nz',rr=1"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='10%',tt='text',nn='cm_nz',vv=${obj.cm_nz},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='20%',tt='label',nn='cm_dz_p'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='15%',tt='date',nn='cm_dz_p',vv=${obj.cm_dz_p},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='20%',tt='label',nn='cm_dz_f'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='15%',tt='date',nn='cm_dz_f',vv=${obj.cm_dz_f},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
	                    	</div>
	                    	<div class="w-100 border border-primary">
		                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
			                    	<th:block th:with="w='20%',tt='label',nn='c_type'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='30%',tt='select',nn='c_type',vv=${obj.c_type},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='20%',tt='label',nn='cm_stat_z'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='30%',tt='select',nn='cm_stat_z',vv=${obj.cm_stat_z},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
				        	</div>
				        	<!-- 
	                       	<div class="w-100 border border-primary">
	 							<table class="table table-sm table-edited table-bordered"><tbody><tr>
						        	<th:block th:with="w='32%',tt='label',vv='Члены комиссии, участвующие в заседании'"><th th:replace="fragments/tc :: ch"></th></th:block>
						        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_cs'"><td th:replace="fragments/tc :: cd"></td></th:block>
						        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Исправить',ddco='update',ddta='list_cs'"><td th:replace="fragments/tc :: cd"></td></th:block>
						        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_cs'"><td th:replace="fragments/tc :: cd"></td></th:block>
						        	<td width="20%"></td>
						        </tr></tbody></table>
						        <table id="list_cs" class="table table-sm table-edited table-bordered">
						        	<tbody>
						        		<tr>
								       		<td class="d-none"></td>
								       		<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
								       		<th:block th:with="w='34%',tt='label',vv='Участник заседания',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
								       		<th:block th:with="w='20%',tt='label',vv='Присутствие на заседании'"><td th:replace="fragments/tc :: cd"></td></th:block>
								       		<th:block th:with="w='20%',tt='label',vv='Особое мнение'"><td th:replace="fragments/tc :: cd"></td></th:block>
								       		<th:block th:with="w='21%',tt='label',vv='Результат голосования'"><td th:replace="fragments/tc :: cd"></td></th:block>
						       			</tr>
							        	<tr th:each="d : ${obj?.list_cs}" class="parent-popup">
								         	<td class="d-none"><input type="hidden" name="list_cs__rn" th:value="${d.rn}"><input type="hidden" name="list_cs__rnOld" th:value="${d.rn}"><input type="hidden" name="list_cs__clazz" value="RMeeting_RMember"><input type="hidden" name="list_cs__p_add" value="new"><input type="hidden" name="list_cs__p_cmd" value=""></td>
								           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
								           	<th:block th:with="w='30%',tt='text',vv=${d.uz?.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
		            						<th:block th:with="w='4%',tt='pbutton',nn1='list_cs',nn2='uz',vv=${d.rn},ro=${rco},ddcl='RMember',ddti='Выберите участника заседания',ddco='rn;name=Наименование=YYA',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
		            						<th:block th:with="w='20%',tt='check',nn='list_cs_uz_pz',vv=${d.uz_pz},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
		            						<th:block th:with="w='20%',tt='text',nn='list_cs__uz_oo',vv=${d.uz_oo},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
		            						<th:block th:with="w='21%',tt='select',nn='list_cs__uz_rg',vv=${d.uz_rg},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
								       	</tr>
								       	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
								           	<td class="d-none"><input type="hidden" name="list_cs__rn" value=""><input type="hidden" name="list_cs__rnOld" value=""><input type="hidden" name="list_cs__clazz" value="RMeeting_RMember"><input type="hidden" name="list_cs__p_add" value="new"><input type="hidden" name="list_cs__p_cmd" value=""></td>
								           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
								           	<th:block th:with="w='30%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
		            						<th:block th:with="w='4%',tt='pbutton',nn1='list_cs',nn2='rn',vv='',ddcl='RMember',ddti='Выберите участника заседания',ddco='rn;name=Наименование=YYA',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
								    		<th:block th:with="w='20%',tt='check',nn='list_cs_uz_pz'"><td th:replace="fragments/tc :: cd"></td></th:block>
								    		<th:block th:with="w='20%',tt='text',nn='list_cs__uz_oo'"><td th:replace="fragments/tc :: cd"></td></th:block>
								    		<th:block th:with="w='21%',tt='select',nn='list_cs__uz_rg'"><td th:replace="fragments/tc :: cd"></td></th:block>
								    	</tr>
						        	</tbody>
					        	</table>                       	
	                       	</div>
	                       	-->
           				</th:block>
           				<th:block th:if="${bs==true}">
		                     <div class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-2" th:with="tt='label',nn='cm_nz',rr=1"><th:block th:replace="fragments/component :: c"></th:block></div>
		                    	<div class="col-sm-2" th:with="tt='text',nn='cm_nz',vv=${obj.cm_nz},ro=${rco}"><th:block th:replace="fragments/component :: c"></th:block></div>
		                    	<div class="col-sm-2" th:with="tt='label',nn='cm_dz_p'"><th:block th:replace="fragments/component :: c"></th:block></div>
		                    	<div class="col-sm-2" th:with="tt='date',nn='cm_dz_p',vv=${obj.cm_dz_p},ro=${rco}"><th:block th:replace="fragments/component :: c"></th:block></div>
		                    	<div class="col-sm-2" th:with="tt='label',nn='cm_dz_f'"><th:block th:replace="fragments/component :: c"></th:block></div>
		                    	<div class="col-sm-2" th:with="tt='date',nn='cm_dz_f',vv=${obj.cm_dz_f},ro=${rco}"><th:block th:replace="fragments/component :: c"></th:block></div>
	                    	</div>
	                    	 <div class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-2" th:with="tt='label',nn='c_type'"><th:block th:replace="fragments/component :: c"></th:block></div>
		                    	<div class="col-sm-3" th:with="tt='select',nn='c_type',vv=${obj.c_type},ro=${rco}"><th:block th:replace="fragments/component :: c"></th:block></div>
		                    	<div class="col-sm-2" th:with="tt='label',nn='cm_stat_z'"><th:block th:replace="fragments/component :: c"></th:block></div>
		                    	<div class="col-sm-3" th:with="tt='select',nn='cm_stat_z',vv=${obj.cm_stat_z},ro=${rco}"><th:block th:replace="fragments/component :: c"></th:block></div>
	                    	</div>
	                    </th:block>
	                    <div class="w-100 border border-primary">
			        		<th:block th:with="r_ii='list_rcl',r_ll='RClaim',xx='Заявки к рассмотрению'"><th:block th:replace="fragments/rlist :: exists"></th:block></th:block>
                       	</div>
                       	<div class="w-100 border border-primary">
			        		<th:block th:with="r_ii='list_cs',r_ll='RMeeting_RMember',xx='Члены комиссии, участвующие в заседании'"><th:block th:replace="fragments/rlist :: new"></th:block></th:block>
                       	</div>
	                    <div class="w-100 border border-primary pb-1">
			        		<th:block th:with="r_ii='list_doc',r_ll='RDocument',xx='Документы заседания'"><th:block th:replace="fragments/rlist :: exists"></th:block></th:block>
                        </div>
                    </div>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/header :: details-footer"></div>
</body>
</html>