<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.input_date').datepicker({language: "ru"});
			$('.custom-file-input').on("change", function() { 
				   var fileName = $(this).val().split('\\').pop(); 
				   $(this).next('.custom-file-label').addClass("selected").html(fileName); 
			});
			size_init();
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<div class="container w-75">
		<form th:action="@{/detailsObj}" method="POST" enctype="multipart/form-data" class="form" role="form" autocomplete="off">
			<div th:replace="fragments/header :: details-param"></div>
    		<div class="col-sm-12 card-header"><h6 th:text="${p_title}"></h6></div>
           	<div th:with="rco=${readonly!=true ? 0 : 1}" class="col-sm-12 card small">
            	<div class="m-sm-0">
            		<div th:replace="fragments/header :: details-buttons"></div>
	                <div class="col-sm-12 border fit-height">
	                	<div class="form-group-sm row mt-sm-1">
	                      	<div class="col-sm-12" th:with="tt='file',nn='fileuri',vv='Прикрепить файл',ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                    	<div class="col-sm-1" th:with="tt='label',vv='Имя файла'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-2" th:with="tt='text',nn='filename',vv=${obj.filename},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-1" th:with="tt='label',vv='Расширение'"><div th:replace="fragments/component :: c"></div></div>
	                       	<div class="col-sm-1" th:with="tt='text',nn='fileext',vv=${obj.fileext},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-1" th:with="tt='label',vv='Тип файла'"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-6" th:with="tt='select',nn='filetype',ll=${listFileType},vv=${obj.filetype},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                    	<div class="col-sm-1" th:with="tt='label',vv='Длина файла'"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-2" th:with="tt='text',nn='filelength',vv=${obj.filelength},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-1" th:with="tt='label',vv='Внутренняя ссылка'"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-8" th:with="tt='text',vv=${obj.fileuri},ro=1"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
                    </div>
				</div>
			</div>
			</form>
	</div>
	<footer class="footer">
    	<div th:replace="fragments/header :: change_info"></div>
    </footer>
</body>
</html>