<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			Amel.details_init();
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<div class="container">
		<form action="detailsObj" method="POST" autocomplete="off">
			<div th:replace="fragments/header :: details-param"></div>
			<div th:replace="fragments/header :: details-header"></div>
           	<div th:with="rco=${readonly!=true ? 0 : 1}" class="col-sm-12 card small">
           		<div class="m-sm-0">
           			<div th:replace="fragments/header :: details-buttons"></div>
           			<div class="col-sm-12 border fit-height">
           				<th:block th:if="${bs!=true}">
           					<div class="w-100 border border-primary">
	           					<table class="table table-sm table-edited table-bordered"><tbody><tr class="parent-popup">
			                    	<th:block th:with="w='20%',tt='label',vv='Правообладатель',rr=1"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='76%',tt='text',vv=${obj.co_org?.name},ro=1"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='4%',tt='pbutton',nn1='co_org',nn2='',vv=${obj.co_org?.rn},rr=1,ro=${rco},ddcl='IOrganization',ddti='Выберите учреждение',ddco='rn;name=Наименование=YYA;srcode=Код сводного реестра',ddfi=''"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
			                    <table class="table table-sm table-edited table-bordered"><tbody><tr>
			                    	<th:block th:with="w='20%',tt='label',nn='za_type',rr=1"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='16%',tt='select',nn='za_type',vv=${obj.za_type},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='16%',tt='label',nn='za_num'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='16%',tt='text',nn='za_num',vv=${obj.za_num},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='16%',tt='label',nn='za_date'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='16%',tt='date',nn='za_date',vv=${obj.za_date},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
		                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
			                    	<th:block th:with="w='20%',tt='label',nn='za_sod'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='80%',tt='mtext',nn='za_sod',vv=${obj.za_sod},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
	                    		<table class="table table-sm table-edited table-bordered"><tbody><tr>
	                    			<th:block th:with="w='4%',tt='check',nn='za_poppr',vv=${obj.za_poppr},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='86%',tt='label',nn='za_poppr'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
		                    	</tr></tbody></table>
	                    	</div>
	                    	<div class="w-100 border border-primary">
					        	<table class="table table-sm table-edited table-bordered"><tbody><tr>
			                    	<th:block th:with="w='20%',tt='label',nn='prim'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='80%',tt='mtext',nn='prim',vv=${obj.prim},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
		                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
			                    	<th:block th:with="w='20%',tt='label',nn='za_stat'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='30%',tt='select',nn='za_stat',vv=${obj.za_stat},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<td width="50%"/>
		                    	</tr></tbody></table>
		                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
			                    	<th:block th:with="w='20%',tt='label',nn='za_zc'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='80%',tt='mtext',nn='za_zc',vv=${obj.za_zc},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
				        	</div>
				        	<div class="w-100 border border-primary">
				        		<table class="table table-sm table-edited table-bordered"><tbody><tr class="parent-popup">
			                    	<th:block th:with="w='7%',tt='label',vv='ФИО'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='13%',tt='text',vv=${obj.za_ol?.fullname},ro=1"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='7%',tt='label',vv='Должность'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='18%',tt='text',vv=${obj.za_ol?.position},ro=1"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='7%',tt='label',vv='Телефон'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='13%',tt='text',vv=${obj.za_ol?.phone},ro=1"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='13%',tt='label',vv='Электронная почта'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='18%',tt='text',vv=${obj.za_ol?.email},ro=1"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='4%',tt='pbutton',nn1='za_ol',nn2='',vv=${obj.za_ol?.rn},ro=${rco},ddcl='IPerson',ddti='Выберите сотрудника',ddco='rn;fullname=ФИО=YYA;position=Должность;phone=Телефон;email=Электронная почта',ddfi=''"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
				        	</div>
				        	<div class="w-100 border border-primary">
				        		<th:block th:with="ii='list_oz',ll='RProperty',xx='Объекты заявки'"><th:block th:replace="fragments/rlist :: doc_list"></th:block></th:block>
	                       	</div>
				        	<div class="w-100 border border-primary pb-1">
				        		<th:block th:with="ii='list_doc',ll='RDocument',xx='Документы заявки'"><th:block th:replace="fragments/rlist :: doc_list"></th:block></th:block>
                   			</div>
           				</th:block>
           				<th:block th:if="${bs==true}">
		                    
	                    </th:block>
                    </div>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/header :: details-footer"></div>
</body>
</html>