<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.input_date').datepicker({language: "ru"});
			size_init();
			page_init();
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<div class="container">
		<form th:action="@{/detailsObj}" method="POST" enctype="multipart/form-data" class="form" role="form" autocomplete="off">
			<input type="hidden" name="clazz" value="Reestr" />
			<input type="hidden" name="rn" th:value="${obj.rn}" />
    		<div class="col-md-12 card-header">
            	<h6 th:text="${p_title}"></h6>
            </div>
           	<div th:with="st=${obj.reestr_status==null ? '1' : obj.reestr_status?.code},adm=${#strings.contains(p_roles,'ADMIN') ? 1 : 0}" class="col-sm-12 card small">
            	<div class="m-sm-0">
            		<div class="row small col-sm-12">
	            		<div class="btn-group">
	            			<button th:if="${readonly!=true}" class="btn btn-sm btn-light" type="submit"><i class="fa fa-sm fa-save"></i> Сохранить</button>
			                <a th:href="${'listObj?clazz=Reestr&p_ret=1' + (obj.rn!=null ? '&rn=' + obj.rn : '')}" class="btn btn-light btn-sm"><i class="fa fa-sm fa-window-close"></i> Отмена</a>
		                </div>
	                </div>
	                <div class="col-sm-12 fit-height">
		                <div class="form-group-sm row mt-sm-1">
	                        <label class="col-sm-2">Дата создания</label>
	                        <div class="col-sm-2" th:with="vv=${obj.create_time},ro=1">
	                      	    <input th:replace="fragments/component :: datetimepeaker">
							</div>
	                        <label class="col-sm-2">Создан пользователем</label>
	                        <div class="col-sm-4" th:with="vv=${obj.create_agent?.name},ro=1">
	                        	<input th:replace="fragments/component :: text">
	                       	</div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                        <label class="col-sm-2 required">№ реестра</label>
	                        <div class="col-sm-2" th:with="nn='reestr_number',vv=${obj.reestr_number},rr=1,ro=${adm==1 || st=='1' ? 0 : 1}">
		                        <input th:replace="fragments/component :: text">
	                       	</div>
	                        <label class="col-sm-2 required">Дата реестра</label>
	                        <div class="col-sm-2" th:with="nn='reestr_date',vv=${obj.reestr_date},rr=1,ro=${adm==1 || st=='1' ? 0 : 1}">
	                        	<input th:replace="fragments/component :: datepeaker">
	                       	</div>
	                   </div>
	                   <div class="form-group-sm row mt-sm-1">
	                       	<label class="col-sm-2">Структурное подразделение</label>
	                        <div class="col-sm-10" th:with="ll=${listDepartment},nn='depart',vv=${obj.depart},rr=1,ro=${adm==1 || st=='1' ? 0 : 1}">
								<input th:replace="fragments/component :: select">   
							</div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                        <label class="col-sm-4">Документы сдал</label>
	                        <label class="col-sm-4">Документы принял</label>
	                        <label class="col-sm-4">Материально-ответственное лицо</label>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                        <div class="col-sm-4" th:with="ll=${listPerson},nn='agent_from',vv=${obj.agent_from},rr=0,ro=${adm==1 || st=='1' ? 0 : 1}">
								<input th:replace="fragments/component :: select">   
							</div>
							<div class="col-sm-4" th:with="ll=${listPerson},nn='agent_to',vv=${obj.agent_to},rr=0,ro=${adm==1 || st=='1' ? 0 : 1}">
								<input th:replace="fragments/component :: select">   
							</div>
	                        <div class="col-sm-4" th:with="ll=${listPerson},nn='mol',vv=${obj.mol},rr=0,ro=${adm==1 || st=='1' ? 0 : 1}">
								<input th:replace="fragments/component :: select">   
							</div>
						</div>
						<div id="list_doc" class="form-group-sm mt-sm-1">
	                        <label class="col-sm-4">Документы, включенные в реестр</label>
	                        <div class="col-sm-12">
		                        <table class="table table-sm table-striped table-light table-bordered">
							    	<thead>
								        <tr>
								            <th class="d-none">Идентификатор</th>
								            <th>#</th>
								            <th>Документ</th>
								            <th>Заменен</th>
								            <th></th>
								            <th></th>
								            <th class="d-none">Команда</th>
								        </tr>
							        </thead>
							        <tbody>
							        	<tr th:if="${adm==1 || st=='1'}" class="first-row not-visible">
								            <td class="d-none">
								            	<input type="hidden" name="list_doc__rnOld" value="">
								            	<input type="hidden" name="list_doc__clazz" value="Document">
								            	<input type="hidden" name="list_doc__p_add" value="exists">
								            </td>
								            <td></td>
								            <td class="edited">
								            	<span></span>
								            	<input name="list_doc__rn" type="hidden" value="" data-type="select" data-clazz="Document" data-title="Выберите документ" data-column="name=Документ" data-filter="doc_status__code ='4'">
								            </td>
								            <td></td>
								            <td></td>
								            <td><button th:if=${readonly!=true} class="remove-item btn btn-light btn-sm" type="button"><i class="fa fa-sm fa-minus"></i></button></td>
								            <td class="d-none cmd"><input type="hidden" name="list_doc__p_cmd" value=""></td>
								        </tr>
								        <tr th:each="doc,iter : ${obj?.list_doc}">
								            <td class="d-none">
								            	<input type="hidden" name="list_doc__rnOld" th:value="${doc.rn}">
								            	<input type="hidden" name="list_doc__clazz" value="Document">
								            	<input type="hidden" name="list_doc__p_add" value="exists">
								            </td>
								            <td th:text="${iter.index + 1}"/>
								            <td th:if="${adm==1 || st=='2' || st=='3'}" class="edited">
								            	<span th:text="${doc.name}"></span>
								            	<input name="list_doc__rn" type="hidden" th:value="${doc.rn}" data-type="select" data-clazz="Document" data-title="Выберите документ" data-column="name=Документ" data-filter="doc_status__code ='4'">
								            </td>
								            <td th:if="${adm!=1 && st!='2' || st!='3'}">
								            	<span th:text="${doc.name}"></span>
								            </td>
								            <td th:text="${doc.change_doc?.name}"></td>
								            <td><a th:href="@{/detailsObj?clazz=Document&readonly=1&&rn=} + ${doc.rn} + '&prn=' + ${obj.rn}" class="btn btn-light btn-sm"><i class="fa fa-sm fa-file"></i></a></td>
								            <td><button th:if="${st=='1'}" class="remove-item btn btn-light btn-sm" type="button"><i class="fa fa-sm fa-minus"></i></button></td>
								            <td class="d-none cmd"><input type="hidden" name="list_doc__p_cmd" value=""></td>
								        </tr>
								        <tr th:if="${adm==1 || st=='1'}" class="last-row">
								        	<td class="d-none"/>
								        	<td><button class="add-item btn btn-light btn-sm"><i class="fa fa-sm fa-plus"></i></button></td>
								        	<td></td>
								        	<td></td>
								        	<td></td>
								        	<td></td>
								        	<td class="d-none"/>
							        	</tr>
							        </tbody>
							    </table>
						    </div>
					    </div>
					    <div class="form-group-sm row mt-sm-1">
					    	<label class="col-sm-2">Количество документов</label>
					    	<div class="col-sm-1" th:with="vv=${obj.doc_count},ro=1">
		                        <input th:replace="fragments/component :: text">
	                       	</div>
					    	<label class="col-sm-2">Количество страниц</label>
	                        <div class="col-sm-1" th:with="vv=${obj.sheet_count},ro=1">
	                        	<input th:replace="fragments/component :: text">
	                       	</div>
					    </div>
						<div class="form-group-sm row mt-sm-1">
	                        <label class="col-sm-2">Статус</label>
	                        <div class="col-sm-2" th:with="ll=${listReestrStatus},nn='reestr_status',vv=${obj.reestr_status},rr=0,ro=${adm==1 || st=='1' ? 0 : 1}">
								<input th:replace="fragments/component :: select">   
							</div>
	                        <label class="col-sm-2">Дата присвоения статуса</label>
	                        <div class="col-sm-2" th:with="vv=${obj.time_status},ro=1">
	                      	    <input th:replace="fragments/component :: datetimepeaker">
							</div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                    	<label class="col-sm-2">Дата изменения</label>
	                       	<div class="col-sm-2" th:with="vv=${obj.change_time},ro=1">
	                      	    <input th:replace="fragments/component :: datetimepeaker">
							</div>
	                        <label class="col-sm-2">Изменен пользователем</label>
							<div class="col-sm-4" th:with="vv=${obj.change_agent?.name},ro=1">
	                        	<input th:replace="fragments/component :: text">
	                       	</div>
	                    </div>
	                    <div th:replace="fragments/header :: list_file"></div>
                    </div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal" tabindex="-1" role="dialog" style="height: 90%"></div>
	<footer class="footer">
    	<div th:replace="fragments/header :: change_info"></div>
    </footer>
</body>
</html>