<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			Amel.details_init();
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<div class="container">
		<form action="detailsObj" method="POST" autocomplete="off">
			<div th:replace="fragments/header :: details-param"></div>
			<div th:replace="fragments/header :: details-header"></div>
           	<div th:with="rco=${readonly!=true ? 0 : 1}" class="col-sm-12 card small">
           		<div class="m-sm-0">
           			<div th:replace="fragments/header :: details-buttons"></div>
           			<div class="col-sm-12 border fit-height">
           				<th:block th:if="${bs!=true}">
           					<table class="table table-sm table-edited table-bordered"><tbody><tr class="parent-popup">
		                    	<th:block th:with="w='13%',tt='label',vv='Подвед. учреждение',rr=1"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
		                    	<th:block th:with="w='50%',tt='text',vv=${obj.co_org?.name},ro=1"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	<th:block th:with="w='13%',tt='label',vv='Код сводного реестра'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
		                    	<th:block th:with="w='20%',tt='text',vv=${obj.co_org?.srcode}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	<th:block th:with="w='4%',tt='pbutton',nn1='co_org',nn2='',vv=${obj.co_org?.rn},rr=1,ro=${rco},ddcl='IOrganization',ddti='Выберите учреждение',ddco='rn;name=Наименование=YYA;srcode=Код сводного реестра',ddfi=''"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    </tr></tbody></table>
		                    <table class="table table-sm table-edited table-bordered"><tbody><tr>
		                    	<th:block th:with="w='13%',tt='label',vv='Инвентарный номер'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
		                    	<th:block th:with="w='26%',tt='text',nn='inv_number',vv=${obj.inv_number},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	<td width="61%"/>
	                    	</tr></tbody></table>
	                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
		                    	<th:block th:with="w='13%',tt='label',vv='Раздел учета',rr=1"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
		                    	<th:block th:with="w='26%',tt='select',nn='co_div',vv=${obj.co_div},ll=${listPropertyDivision},rr=1,ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	<td width="61%"/>
	                    	</tr></tbody></table>
	                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
		                    	<th:block th:with="w='13%',tt='label',vv='Тип имущества',rr=1"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
		                    	<th:block th:with="w='26%',tt='select',nn='co_type',vv=${obj.co_type},ll=${listPropertyType},_attr='code',rr=1,ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	<td width="61%"/>
	                    	</tr></tbody></table>
	                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
		                    	<th:block th:with="w='13%',tt='label',vv='Наименование объекта имущества'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
		                    	<th:block th:with="w='87%',tt='mtext',nn='name',vv=${obj.name},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
	                    	</tr></tbody></table>
	                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
		                    	<th:block th:with="w='13%',tt='label',vv='Балансовая стоимость'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
		                    	<th:block th:with="w='26%',tt='text',nn='book_value',vv=${obj.book_value},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	<td width="61%"/>
	                    	</tr></tbody></table>
	                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
		                    	<th:block th:with="w='13%',tt='label',vv='Остаточная стоимость'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
		                    	<th:block th:with="w='26%',tt='text',nn='residual_value',vv=${obj.residual_value},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	<td width="61%"/>
	                    	</tr></tbody></table>
	                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
		                    	<th:block th:with="w='13%',tt='label',vv='Дата ввода в эксплуатацию'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
		                    	<th:block th:with="w='26%',tt='date',nn='in_date',vv=${obj.in_date},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	<td width="61%"/>
	                    	</tr></tbody></table>
	                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
	                    		<th:block th:with="w='4%',tt='check',nn='ocdi',vv=${obj.ocdi},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	<th:block th:with="w='13%',tt='label',vv='Отнесен к ОЦДИ'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
		                    	<td width="83%"/>
	                    	</tr></tbody></table>
	                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
					        	<th:block th:with="w='16%',tt='label',vv='Связанные объекты имущества'"><th th:replace="fragments/tc :: ch"></th></th:block>
					        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_prop'"><td th:replace="fragments/tc :: cd"></td></th:block>
					        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_prop'"><td th:replace="fragments/tc :: cd"></td></th:block>
					        	<td width="52%"></td>
					        </tr></tbody></table>
	                    	<table id="list_prop" class="table table-sm table-edited table-bordered">
					        	<tbody>
					        		<tr>
							       		<td class="d-none"></td>
							       		<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
							       		<th:block th:with="w='31%',tt='label',vv='Объект имущества'"><td th:replace="fragments/tc :: cd"></td></th:block>
							       		<th:block th:with="w='20%',tt='label',vv='Инвентарный номер'"><td th:replace="fragments/tc :: cd"></td></th:block>
							       		<th:block th:with="w='24%',tt='label',vv='Раздел учета',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
							       		<th:block th:with="w='20%',tt='label',vv='Тип связи'"><td th:replace="fragments/tc :: cd"></td></th:block>
					       			</tr>
					     		</tbody>
					        	<tbody>
						        	<tr th:each="d : ${obj?.list_prop}" class="parent-popup">
							         	<td class="d-none"><input type="hidden" name="list_prop__rn" th:value="${d.rn}"><input type="hidden" name="list_prop__rnOld" th:value="${d.rn}"><input type="hidden" name="list_prop__clazz" value="RProperty_RProperty"><input type="hidden" name="list_prop__p_add" value="new"><input type="hidden" name="list_prop__p_cmd" value=""></td>
							           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
							           	<th:block th:with="w='31%',tt='text',vv=${d.prop?.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
							           	<th:block th:with="w='20%',tt='text',vv=${d.prop?.inv_number},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
							           	<th:block th:with="w='20%',tt='text',vv=${d.prop?.co_div?.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	            						<th:block th:with="w='4%',tt='pbutton',nn1='list_prop',nn2='prop',vv=${d.prop?.rn},ro=${rco},ddcl='RProperty',ddti='Выберите объект имущества',ddco='rn;name=Наименование=YYA;inv_number=Инвентарный номер;co_div__name=Раздел учета',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
							           	<th:block th:with="w='20%',tt='select',nn='list_prop__conn_type',vv=${d.conn_type},ll=${listConnectionType},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
							       	</tr>
							       	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
							           	<td class="d-none"><input type="hidden" name="list_prop__rn" value=""><input type="hidden" name="list_prop__rnOld" value=""><input type="hidden" name="list_prop__clazz" value="RProperty_RProperty"><input type="hidden" name="list_prop__p_add" value="new"><input type="hidden" name="list_prop__p_cmd" value=""></td>
							           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
							           	<th:block th:with="w='31%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
							           	<th:block th:with="w='20%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
							           	<th:block th:with="w='20%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	            						<th:block th:with="w='4%',tt='pbutton',nn1='list_prop',nn2='prop',vv='',ro=${rco},ddcl='RProperty',ddti='Выберите объект имущества',ddco='rn;name=Наименование=YYA;inv_number=Инвентарный номер;co_div__name=Раздел учета',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
							           	<th:block th:with="w='20%',tt='select',nn='list_prop__conn_type',vv='',ll=${listConnectionType},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
							    	</tr>
					        	</tbody>
				        	</table>
				        	<table class="table table-sm table-edited table-bordered"><tbody><tr>
					        	<th:block th:with="w='16%',tt='label',vv='Прикрепленные документы'"><th th:replace="fragments/tc :: ch"></th></th:block>
					        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_doc'"><td th:replace="fragments/tc :: cd"></td></th:block>
					        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_doc'"><td th:replace="fragments/tc :: cd"></td></th:block>
					        	<td width="52%"></td>
					        </tr></tbody></table>
	                    	<table id="list_doc" class="table table-sm table-edited table-bordered">
					        	<tbody>
					        		<tr>
							       		<td class="d-none"></td>
							       		<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
							       		<th:block th:with="w='95%',tt='label',vv='Документ',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
					       			</tr>
					     		</tbody>
					        	<tbody>
						        	<tr th:each="d : ${obj?.list_doc}" class="parent-popup">
							         	<td class="d-none"><input type="hidden" name="list_doc__rn" th:value="${d.rn}"><input type="hidden" name="list_doc__rnOld" th:value="${d.rn}"><input type="hidden" name="list_doc__clazz" value="RProperty_RDocument"><input type="hidden" name="list_doc__p_add" value="new"><input type="hidden" name="list_doc__p_cmd" value=""></td>
							           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
							           	<th:block th:with="w='91%',tt='text',vv=${d.doc?.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	            						<th:block th:with="w='4%',tt='pbutton',nn1='list_doc',nn2='doc',vv=${d.doc?.rn},ro=${rco},ddcl='RDocument',ddti='Выберите документ',ddco='rn;name=Наименование=YYA',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
							       	</tr>
							       	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
							           	<td class="d-none"><input type="hidden" name="list_prop__rn" value=""><input type="hidden" name="list_doc__rnOld" value=""><input type="hidden" name="list_doc__clazz" value="RProperty_RDocument"><input type="hidden" name="list_doc__p_add" value="new"><input type="hidden" name="list_doc__p_cmd" value=""></td>
							           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
							           	<th:block th:with="w='91%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	            						<th:block th:with="w='4%',tt='pbutton',nn1='list_doc',nn2='doc',vv='',ro=${rco},ddcl='RProperty',ddti='Выберите объект имущества',ddco='rn;name=Наименование=YYA',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
							    	</tr>
					        	</tbody>
				        	</table>
           				</th:block>
           				<th:block th:if="${bs==true}">
		                    <div class="form-group-sm row mt-sm-1 parent-popup">
		                    	<div class="col-sm-2" th:with="tt='label',vv='Подвед. учреждение',rr=1"><div th:replace="fragments/component :: c"></div></div>
		                        <div class="col-sm-5" th:with="tt='text',vv=${obj.co_org?.name},ro=1"><div th:replace="fragments/component :: c"></div></div>
		                        <div class="col-sm-2" th:with="tt='label',vv='Код сводного реестра'"><div th:replace="fragments/component :: c"></div></div>
		                        <div class="col-sm-2" th:with="tt='text',vv=${obj.co_org?.srcode},ro=1"><div th:replace="fragments/component :: c"></div></div>
		                        <div class="col-sm-1" th:with="tt='pbutton',nn='co_org',vv=${obj.co_org?.rn},rr=1,ro=${rco},ddcl='IOrganization',ddti='Выберите учреждение',ddco='rn;name=Наименование=YYA;srcode=Код сводного реестра',ddfi=''"><div th:replace="fragments/component :: c"></div></div>
		                    </div>
		                    <div class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-2" th:with="tt='label',vv='Инвентарный номер'"><div th:replace="fragments/component :: c"></div></div>
		                    	<div class="col-sm-4" th:with="tt='text',nn='inv_number',vv=${obj.inv_number},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
		                    </div>
		                    <div class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-2" th:with="tt='label',vv='Раздел учета',rr=1"><div th:replace="fragments/component :: c"></div></div>
		                    	<div class="col-sm-4" th:with="tt='select',nn='co_div',vv=${obj.co_div},ll=${listPropertyDivision},rr=1,ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
		                    </div>
		                    <div class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-2" th:with="tt='label',vv='Тип имущества',rr=1"><div th:replace="fragments/component :: c"></div></div>
		                    	<div class="col-sm-4" th:with="tt='select',nn='co_type',vv=${obj.co_type},ll=${listPropertyType},_attr='code',rr=1,ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
		                    </div>
		                    <div class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-4" th:with="tt='label',vv='Наименование объекта имущества'"><div th:replace="fragments/component :: c"></div></div>
		                    	<div class="col-sm-12" th:with="tt='mtext',nn='name',vv=${obj.name},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
		                    </div>
		                    <div class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-2" th:with="tt='label',vv='Балансовая стоимость'"><div th:replace="fragments/component :: c"></div></div>
		                    	<div class="col-sm-4" th:with="tt='text',nn='book_value',vv=${obj.book_value},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
		                    </div>
		                    <div class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-2" th:with="tt='label',vv='Остаточная стоимость'"><div th:replace="fragments/component :: c"></div></div>
		                    	<div class="col-sm-4" th:with="tt='text',nn='residual_value',vv=${obj.residual_value},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
		                    </div>
		                    <div class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-2" th:with="tt='label',vv='Дата ввода в эксплуатацию'"><div th:replace="fragments/component :: c"></div></div>
		                    	<div class="col-sm-4" th:with="tt='date',nn='in_date',vv=${obj.in_date},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
		                    </div>
		                    <div class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-6" th:with="tt='check',nn='ocdi',vv=${obj.ocdi},xx='Отнесен к ОЦДИ',ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
		                    </div>
	                    </th:block>
                    </div>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/header :: details-footer"></div>
</body>
</html>