<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			Amel.details_init();
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<div class="container">
		<form action="detailsObj" method="POST" autocomplete="off">
			<div th:replace="fragments/header :: details-param"></div>
			<div th:replace="fragments/header :: details-header"></div>
           	<div th:with="rco=${readonly!=true ? 0 : 1}" class="col-sm-12 card small">
           		<div class="m-sm-0">
           			<div th:replace="fragments/header :: details-buttons"></div>
           			<div class="col-sm-12 border fit-height">
           				<th:block th:if="${bs!=true}">
           					<div class="w-100 border border-primary">
	           					<table class="table table-sm table-edited table-bordered"><tbody><tr class="parent-popup">
			                    	<th:block th:with="w='20%',tt='label',vv='Правообладатель',rr=1"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='76%',tt='text',vv=${obj.co_org?.name},ro=1"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='4%',tt='pbutton',nn1='co_org',nn2='',vv=${obj.co_org?.rn},rr=1,ro=${rco},ddcl='IOrganization',ddti='Выберите учреждение',ddco='rn;name=Наименование=YYA;srcode=Код сводного реестра',ddfi=''"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
			                    <table class="table table-sm table-edited table-bordered"><tbody><tr>
			                    	<th:block th:with="w='20%',tt='label',nn='za_type',rr=1"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='16%',tt='select',nn='za_type',vv=${obj.za_type},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='16%',tt='label',nn='za_num'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='16%',tt='text',nn='za_num',vv=${obj.za_num},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='16%',tt='label',nn='za_date'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='16%',tt='date',nn='za_date',vv=${obj.za_date},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
		                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
			                    	<th:block th:with="w='20%',tt='label',nn='za_sod'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='80%',tt='mtext',nn='za_sod',vv=${obj.za_sod},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
	                    		<table class="table table-sm table-edited table-bordered"><tbody><tr>
	                    			<th:block th:with="w='4%',tt='check',nn='za_poppr',vv=${obj.za_poppr},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='86%',tt='label',nn='za_poppr'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
		                    	</tr></tbody></table>
	                    	</div>
	                    	<div class="w-100 border border-primary">
					        	<table class="table table-sm table-edited table-bordered"><tbody><tr>
			                    	<th:block th:with="w='20%',tt='label',nn='prim'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='80%',tt='mtext',nn='prim',vv=${obj.prim},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
		                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
			                    	<th:block th:with="w='20%',tt='label',nn='za_stat'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='30%',tt='select',nn='za_stat',vv=${obj.za_stat},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<td width="50%"/>
		                    	</tr></tbody></table>
		                    	<table class="table table-sm table-edited table-bordered"><tbody><tr>
			                    	<th:block th:with="w='20%',tt='label',nn='za_zc'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='80%',tt='mtext',nn='za_zc',vv=${obj.za_zc},ro=${rco}"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
				        	</div>
				        	<div class="w-100 border border-primary">
				        		<table class="table table-sm table-edited table-bordered"><tbody><tr class="parent-popup">
			                    	<th:block th:with="w='7%',tt='label',vv='ФИО'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='13%',tt='text',vv=${obj.za_ol?.fullname},ro=1"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='7%',tt='label',vv='Должность'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='18%',tt='text',vv=${obj.za_ol?.position},ro=1"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='7%',tt='label',vv='Телефон'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='13%',tt='text',vv=${obj.za_ol?.phone},ro=1"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='13%',tt='label',vv='Электронная почта'"><th:block th:replace="fragments/tc :: ch"></th:block></th:block>
			                    	<th:block th:with="w='18%',tt='text',vv=${obj.za_ol?.email},ro=1"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
			                    	<th:block th:with="w='4%',tt='pbutton',nn1='za_ol',nn2='',vv=${obj.za_ol?.rn},ro=${rco},ddcl='IPerson',ddti='Выберите сотрудника',ddco='rn;name=ФИО=YYA;position=Должность;phone=Телефон;email=Электронная почта',ddfi=''"><th:block th:replace="fragments/tc :: cd"></th:block></th:block>
		                    	</tr></tbody></table>
				        	</div>
				        	<div class="w-100 border border-primary">
	 							<table class="table table-sm table-edited table-bordered"><tbody><tr>
						        	<th:block th:with="w='16%',tt='label',vv='Объекты заявки'"><th th:replace="fragments/tc :: ch"></th></th:block>
						        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_oz'"><td th:replace="fragments/tc :: cd"></td></th:block>
						        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_oz'"><td th:replace="fragments/tc :: cd"></td></th:block>
						        	<td width="52%"></td>
						        </tr></tbody></table>
						        <table id="list_oz" class="table table-sm table-edited table-bordered">
						        	<tbody>
						        		<tr>
								       		<td class="d-none"></td>
								       		<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
								       		<th:block th:with="w='91%',tt='label',vv='Объект',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
								       		<th:block th:with="w='4%',tt='label',vv='Ссылка'"><td th:replace="fragments/tc :: cd"></td></th:block>
						       			</tr>
						     		</tbody>
					     		   	<tbody>
							        	<tr th:each="d : ${obj?.list_oz}" class="parent-popup">
								         	<td class="d-none"><input type="hidden" name="list_oz__rn" th:value="${d.rn}"><input type="hidden" name="list_oz__rnOld" th:value="${d.rn}"><input type="hidden" name="list_oz__clazz" value="RProperty"><input type="hidden" name="list_oz__p_add" value="exists"><input type="hidden" name="list_oz__p_cmd" value=""></td>
								           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
								           	<th:block th:with="w='87%',tt='text',vv=${d.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
		            						<th:block th:with="w='4%',tt='pbutton',nn1='list_oz',nn2='rn',vv=${d.rn},ro=${rco},ddcl='RProperty',ddti='Выберите объект имущества',ddco='rn;name=Наименование объекта=YYA',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
		            						<th:block th:with="w='4%',tt='anchor',vv=${'detailsObj?readonly=1&rn=' + d.rn + '&prn=' + obj.rn}"><td th:replace="fragments/tc :: cr"></td></th:block>
								       	</tr>
								       	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
								           	<td class="d-none"><input type="hidden" name="list_oz__rn" value=""><input type="hidden" name="list_oz__rnOld" value=""><input type="hidden" name="list_oz__clazz" value="RProperty"><input type="hidden" name="list_oz__p_add" value="exists"><input type="hidden" name="list_oz__p_cmd" value=""></td>
								           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
								           	<th:block th:with="w='87%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
		            						<th:block th:with="w='4%',tt='pbutton',nn1='list_oz',nn2='rn',vv='',ro=${rco},ddcl='RProperty',ddti='Выберите объект имущества',ddco='rn;name=Наименование объекта=YYA',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
		            						<th:block th:with="w='4%',tt='label',vv=''"><td th:replace="fragments/tc :: cr"></td></th:block>
								    	</tr>
						        	</tbody>
					        	</table>                       	
	                       	</div>
				        	<div class="w-100 border border-primary pb-1">
                    			<table class="table table-sm table-edited table-bordered"><tbody><tr>
						        	<th:block th:with="w='16%',tt='label',vv='Документы заявки'"><th th:replace="fragments/tc :: ch"></th></th:block>
						        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_doc'"><td th:replace="fragments/tc :: cd"></td></th:block>
						        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_doc'"><td th:replace="fragments/tc :: cd"></td></th:block>
						        	<td width="52%"></td>
						        </tr></tbody></table>
						        <table id="list_doc" class="table table-sm table-edited table-bordered">
						        	<tbody>
						        		<tr>
								       		<td class="d-none"></td>
								       		<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
								       		<th:block th:with="w='91%',tt='label',vv='Документ',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
								       		<th:block th:with="w='4%',tt='label',vv='Ссылка'"><td th:replace="fragments/tc :: cd"></td></th:block>
						       			</tr>
						     		</tbody>
					     		   	<tbody>
							        	<tr th:each="d : ${obj?.list_doc}" class="parent-popup">
								         	<td class="d-none"><input type="hidden" name="list_doc__rn" th:value="${d.rn}"><input type="hidden" name="list_doc__rnOld" th:value="${d.rn}"><input type="hidden" name="list_doc__clazz" value="RDocument"><input type="hidden" name="list_doc__p_add" value="exists"><input type="hidden" name="list_doc__p_cmd" value=""></td>
								           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
								           	<th:block th:with="w='87%',tt='text',vv=${d.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
		            						<th:block th:with="w='4%',tt='pbutton',nn1='list_doc',nn2='rn',vv=${d.rn},ro=${rco},ddcl='RDocument',ddti='Выберите документ',ddco='rn;name=Наименование=YYA',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
		            						<th:block th:with="w='4%',tt='anchor',vv=${'detailsObj?readonly=1&rn=' + d.rn + '&prn=' + obj.rn}"><td th:replace="fragments/tc :: cr"></td></th:block>
								       	</tr>
								       	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
								           	<td class="d-none"><input type="hidden" name="list_doc__rn" value=""><input type="hidden" name="list_doc__rnOld" value=""><input type="hidden" name="list_doc__clazz" value="RDocument"><input type="hidden" name="list_doc__p_add" value="exists"><input type="hidden" name="list_doc__p_cmd" value=""></td>
								           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
								           	<th:block th:with="w='87%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
		            						<th:block th:with="w='4%',tt='pbutton',nn1='list_doc',nn2='rn',vv='',ro=${rco},ddcl='RDocument',ddti='Выберите документ',ddco='rn;name=Наименование=YYA',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
		            						<th:block th:with="w='4%',tt='label',vv=''"><td th:replace="fragments/tc :: cr"></td></th:block>
								    	</tr>
						        	</tbody>
					        	</table> 
                   			</div>
           				</th:block>
           				<th:block th:if="${bs==true}">
		                    
	                    </th:block>
                    </div>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/header :: details-footer"></div>
</body>
</html>