<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			Amel.details_init();
		});
	</script>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form action="detailsObj" method="POST" enctype="multipart/form-data" autocomplete="off">
			<div th:replace="fragments/header :: details-param"></div>
    		<div th:replace="fragments/header :: details-header"></div>
           	<div th:with="st=${obj.doc_status?.code},rco=${readonly!=true ? 0 : 1}" class="col-sm-12 card small">
            	<div class="m-sm-2">
            		<div th:replace="fragments/header :: details-buttons"></div>
	                <div class="col-sm-12 border fit-height">
	                	<table><tbody><tr>
	                		<td width="7%"><div class="col-sm" th:with="tt='label',vv='Номер',rr=1"><div th:replace="fragments/component :: c"></div></div></td>
	                        <td width="13%"><div class="col-sm" th:with="tt='text',nn='doc_number',vv=${obj.doc_number},ro=${rco},rr=1"><div th:replace="fragments/component :: c"></div></div></td>
	                       	<td width="7%"><div class="col-sm" th:with="tt='label',vv='Дата',rr=1"><div th:replace="fragments/component :: c"></div></div></td>
	                        <td width="13%"><div class="col-sm" th:with="tt='date',nn='doc_date',vv=${obj.doc_date},ro=${rco},rr=1"><div th:replace="fragments/component :: c"></div></div></td>
		                    <td width="60%"></td>
		                </tr></tbody></table>
		                <table><tbody><tr>
		                	<td width="100%"><div class="col-sm"><h6>Основание доведения</h6></div></td>
		                </tr></tbody></table>
                        <table><tbody><tr class="popup-parent">
	                    	<td width="16%"><div class="col-sm" th:with="tt='label',vv='Тип документа'"><div th:replace="fragments/component :: c"></div></div></td>
	                        <td width="16%"><div class="col-sm" th:with="tt='text',vv=${obj.parent_doc?.doc_type?.name},ro=1"><div th:replace="fragments/component :: c"></div></div></td>
	                        <td width="16%"><div class="col-sm" th:with="tt='label',vv='Номер документа'"><div th:replace="fragments/component :: c"></div></div></td>
	                        <td width="16%"><div class="col-sm" th:with="tt='text',vv=${obj.parent_doc?.doc_number},ro=1"><div th:replace="fragments/component :: c"></div></div></td>
	                       	<td width="16%"><div class="col-sm" th:with="tt='label',vv='Дата документа'"><div th:replace="fragments/component :: c"></div></div></td>
	                        <td width="16%"><div class="col-sm" th:with="tt='date',vv=${obj.parent_doc?.doc_date},ro=1"><div th:replace="fragments/component :: c"></div></div></td>
	                        <td width="4%"><div class="col-sm" th:with="tt='pbutton',nn='parent_doc',vv=${obj.parent_doc?.rn},ro=${rco},ddcl='Document',ddti='Выберите документ',ddco='doc_type__name=Тип документа;doc_number=№ документа;doc_date=Дата документа',ddfi=''"><div th:replace="fragments/component :: c"></div></div></td>
                        </tr></tbody></table>
	                    <table><tbody><tr class="popup-parent">
	                    	<td width="16%"><div class="col-sm" th:with="tt='label',vv='Ответственное структурное подразделение',rr=1"><div th:replace="fragments/component :: c"></div></div></td>
	                    	<td width="10%"><div class="col-sm" th:with="tt='text',vv=${obj.depart?.code},ro=1"><div th:replace="fragments/component :: c"></div></div></td>
	                    	<td width="70%"><div class="col-sm" th:with="tt='text',vv=${obj.depart?.name},ro=1"><div th:replace="fragments/component :: c"></div></div></td>
							<td width="4%"><div class="col-sm" th:with="tt='pbutton',nn='depart',vv=${obj.depart?.rn},ro=${rco},ddcl='IDepartment',ddti='Выберите подразделение',ddco='code=Код;name=Наименование',ddfi=''"><div th:replace="fragments/component :: c"></div></div></td>                    	
	                    </tr></tbody></table>
	                    <table><tbody><tr>
	                    	<td width="32%"><div class="col-sm" th:with="tt='label',vv='Спецификация'"><div th:replace="fragments/component :: c"></div></div></td>
	                    	<td width="16%"><div class="col-sm" th:with="tt='button',vv='Добавить'"><div th:replace="fragments/component :: c"></div></div></td>
	                    	<td width="16%"><div class="col-sm" th:with="tt='button',vv='Исправить'"><div th:replace="fragments/component :: c"></div></div></td>
	                    	<td width="16%"><div class="col-sm" th:with="tt='button',vv='Удалить'"><div th:replace="fragments/component :: c"></div></div></td>
	                    	<td width="20%"></td>
	                    </tr></tbody></table>
	                    <table><tbody><tr>
	                   		<td width="0%" class="d-none">Идентификатор</td>
				            <td width="20%"><div class="col-sm" th:with="tt='label',vv='КБК'"><div th:replace="fragments/component :: c"></div></div></td>
				            <td width="10%"><div class="col-sm" th:with="tt='label',vv='Сумма ББА (следующий год)'"><div th:replace="fragments/component :: c"></div></div></td>
				            <td width="10%"><div class="col-sm" th:with="tt='label',vv='Сумма ББА (первый год планового периода)'"><div th:replace="fragments/component :: c"></div></div></td>
				            <td width="10%"><div class="col-sm" th:with="tt='label',vv='Сумма ББА (второй год планового периода)'"><div th:replace="fragments/component :: c"></div></div></td>
				            <td width="50%"></td>
                    	</tr></tbody></table>
	                    <table>
		                    <tbody><tr th:each="d : ${obj?.list_spec}">
		                    	<td width="0%" class="d-none" th:text="${d.rn}"></td>
		                    	<td width="20%"><div class="col-sm" th:with="nn='list_spec__kbk',tt='label',vv='${d.kbk}'"><div th:replace="fragments/component :: c"></div></div></td>
		                    	<td width="10%"><div class="col-sm" th:with="nn='list_spec__sum1',tt='label',vv='${d.sum1}'"><div th:replace="fragments/component :: c"></div></div></td>
		                    	<td width="10%"><div class="col-sm" th:with="nn='list_spec__sum2',tt='label',vv='${d.sum2}'"><div th:replace="fragments/component :: c"></div></div></td>
		                    	<td width="10%"><div class="col-sm" th:with="nn='list_spec__sum3',tt='label',vv='${d.sum3}'"><div th:replace="fragments/component :: c"></div></div></td>
		                    	<td width="50%"></td>
		                    </tr></tbody>
	                    </table>
	                    <table><tbody><tr>
	                    	<td width="32%"><div class="col-sm" th:with="tt='label',vv='Прикрепленные файлы'"><div th:replace="fragments/component :: c"></div></div></td>
	                    	<td width="16%"><div class="col-sm" th:with="tt='button',vv='Добавить'"><div th:replace="fragments/component :: c"></div></div></td>
	                    	<td width="16%"><div class="col-sm" th:with="tt='button',vv='Удалить'"><div th:replace="fragments/component :: c"></div></div></td>
	                    	<td width="36%"></td>
	                    </tr></tbody></table>
	                    <table>
		                    <tbody><tr th:each="d : ${obj?.mailing_list_file}">
		                    	<td width="0%" class="d-none" th:text="${d.rn}"></td>
		                    	<td width="50%"><div class="col-sm" th:with="nn='list_file__filename',tt='label',vv='${d.filename}'"><div th:replace="fragments/component :: c"></div></div></td>
		                    	<td width="50%"></td>
		                    </tr></tbody>
	                    </table>
						<table><tbody><tr>
	                    	<td width="32%"><div class="col-sm" th:with="tt='label',vv='Список рассылки'"><div th:replace="fragments/component :: c"></div></div></td>
	                    	<td width="16%"><div class="col-sm" th:with="tt='button',vv='Добавить'"><div th:replace="fragments/component :: c"></div></div></td>
	                    	<td width="16%"><div class="col-sm" th:with="tt='button',vv='Удалить'"><div th:replace="fragments/component :: c"></div></div></td>
	                    	<td width="36%"></td>
	                    </tr></tbody></table>
	                    <table>
		                    <tbody><tr th:each="d : ${obj?.mailing_list}">
		                    	<td width="0%" class="d-none" th:text="${d.rn}"></td>
		                    	<td width="50%"><div class="col-sm" th:with="tt='label',vv='${d.person?.name}'"><div th:replace="fragments/component :: c"></div></div></td>
		                    	<td width="50%"></td>
		                    </tr></tbody>
	                    </table>
						<div class="form-group-sm row mt-sm-1">
							<div class="col-sm-5" th:with="tt='label',vv='Срок представления предложений на закупку'"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-2" th:with="tt='date',nn='date_repr',vv=${obj.date_repr}"><div th:replace="fragments/component :: c"></div></div>
						</div>
						<div class="form-group-sm row mt-sm-1">
							<div class="col-sm-2" th:with="tt='label',vv='Резолюция'"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-2" th:with="tt='text',nn='comment',vv=${obj.comment}"><div th:replace="fragments/component :: c"></div></div>
						</div>
						<div class="form-group-sm row mt-sm-1">
							<div class="col-sm-2" th:with="tt='label',vv='Документ создал'"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-4" th:with="tt='text',vv=${obj.create_agent?.name},ro=1"><div th:replace="fragments/component :: c"></div></div>
                        </div>
						<div class="form-group-sm row mt-sm-1">
							<div class="col-sm-2" th:with="tt='label',vv='Статус'"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-2" th:with="tt='select',nn='doc_status',ll=${listDocStatus},vv=${obj.doc_status},ro=1"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
                    </div>
 				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/header :: modal"></div>
	<div th:replace="fragments/header :: details-footer"></div>
</body>
</html>