<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.input_date').datepicker({language: "ru"});
			add_on($('.custom-file-input'), "change", function() { 
				   var fileName = $(this).val().split('\\').pop(); 
				   $(this).next('.custom-file-label').addClass("selected").html(fileName); 
			});
			size_init();
			page_init("list_file", "IFile");
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<div class="container fit-height">
		<form id="formSubmit" th:action="@{/detailsObj}" method="POST" enctype="multipart/form-data" class="form" role="form" autocomplete="off">
			<input type="hidden" name="clazz" value="Document" />
			<input type="hidden" name="rn" th:value="${obj.rn}" />
    		<div class="col-md-12 card-header">
            	<h6 th:text="${p_title}"></h6>
            </div>
           	<div class="col-sm-12 card small">
            	<div class="m-sm-2">
            		<div class="row small col-sm-12">
	            		<div class="btn-group">
	            			<button th:if="${readonly!=true}" class="btn btn-sm btn-light" type="submit"><i class="fa fa-sm fa-save"></i> Сохранить</button>
			                <a th:href="${'listObj?clazz=Document' + (obj.rn!=null ? '&rn=' + obj.rn : '')}" class="btn btn-light btn-sm"><i class="fa fa-sm fa-window-close"></i> Отмена</a>
		                </div>
	                </div>
	                <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Дата создания</label>
                        <div class="col-sm-2">
                    	    <input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.create_time,'dd.MM.yyyy HH:mm.ss')}" readonly="readonly"></input>
						</div>
                        <label class="col-sm-2 col-form-label">Создан пользователем</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${obj.create_agent?.name}" readonly="readonly"></input>
                       	</div>
                        <label class="col-sm-2 col-form-label">Структурное подразделение</label>
                        <div class="col-sm-2">
                        	<select name="depart" class="form-control form-control-sm">
	                    		<option value=""></option>
								<option th:each="d : ${listDepartment}" th:selected="${obj.depart?.rn==d.rn}" th:value="${d.rn}" th:utext="${d.name}"/>
							</select>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label required">Тип документа</label>
                        <div class="col-sm-2">
	                    	<select name="doc_type" class="form-control form-control-sm" required="required">
	                    		<option value=""></option>
								<option th:each="d : ${listDocType}" th:selected="${obj.doc_type?.rn==d.rn}" th:value="${d.rn}" th:utext="${d.name}"/>
							</select>    
						</div>
                        <label class="col-sm-2 col-form-label required">№ документа</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" name="doc_number" th:value="${obj.doc_number}" required="required"></input>
                       	</div>
                        <label class="col-sm-2 col-form-label required">Дата документа</label>
                        <div class="col-sm-2">
                        	<input class="input_date form-control form-control-sm" type="text" name="doc_date" th:value="${#dates.format(obj.doc_date,'dd.MM.yyyy')}" required="required"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Тип основного документа</label>
                        <div class="col-sm-2">
	                    	<select class="form-control form-control-sm">
	                    		<option value=""></option>
								<option th:each="d : ${listDocType}" th:selected="${obj.parent_doc?.doc_type?.rn==d.rn}" th:value="${d.rn}" th:utext="${d.name}"/>
							</select>    
						</div>
                        <label class="col-sm-2 col-form-label">№ основного документа</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${obj.parent_doc?.doc_num}"></input>
                       	</div>
                        <label class="col-sm-2 col-form-label">Дата основного документа</label>
                        <div class="col-sm-2">
                        	<input class="input_date form-control form-control-sm" type="text" th:value="${#dates.format(obj.parent_doc?.doc_date,'dd.MM.yyyy')}"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Контрагент</label>
                        <div class="col-sm-10">
	                    	<select name="agent" class="form-control form-control-sm">
	                    		<option value=""></option>
								<option th:each="a : ${listAgent}" th:selected="${obj.agent?.rn==a.rn}" th:value="${a.rn}" th:utext="${a.name}"/>
							</select>    
						</div>
					</div>
					<div id="list_file" class="form-group-sm mt-sm-1">
                        <label class="col-sm-2 col-form-label">Прикрепленные файлы</label>
                        <div class="col-sm-12">
	                        <table class="table table-sm table-striped table-light table-bordered">
						    	<thead>
							        <tr>
							            <th class="d-none">Идентификатор</th>
							            <th>#</th>
							            <th>Файл документа</th>
							            <th>Прикрепить или заменить файл</th>
							            <th>Расширение</th>
							            <th>Тип</th>
							            <th>Длина</th>
							            <th></th>
							            <th></th>
							            <th class="d-none">Команда</th>
							        </tr>
						        </thead>
						        <tbody>
						        	<tr th:if=${readonly!=true} class="first-row not-visible">
							            <td class="d-none">
							            	<input type="hidden" name="list_file__rn" value="">
							            	<input type="hidden" name="list_file__clazz"value="IFile">
							            	<input type="hidden" name="list_doc__p_add" value="new">
							            </td>
							            <td></td>
							            <td><button class="btn btn-light btn-sm" type="button" data-item="" th:text="${''}"></button></td>
							            <td class="edited">
							            	<span></span>
							            	<div class="custom-file not-visible" >
						   						<input name="list_file__fileuri" type="file" class="custom-file-input">
						   						<label class="custom-file-label" data-browse="Прикрепить файл"></label>
											</div>
							            </td>
							            <td class="edited">
							            	<span></span>
							            	<input name="list_file__fileext" class="not-visible form-control form-control-sm" type="text">
						            	</td>
							            <td></td>
							            <td></td>
							            <td></td>
							            <td><button class="remove-item btn btn-light btn-sm" type="button" data-item=""><i class="fa fa-sm fa-minus"></i></button></td>
							            <td class="d-none cmd"><input type="hidden" name="list_file__p_cmd" value=""></td>
							        </tr>
							        <tr th:each="f,iter : ${obj?.list_file}">
							            <td class="d-none">
							            	<input type="hidden" name="list_file__rn" th:value="${f.rn}">
							            	<input type="hidden" name="list_file__clazz" value="IFile">
							            	<input type="hidden" name="list_doc__p_add" value="new">
						            	</td>
							            <td th:text="${iter.index + 1}"/>
							            <td><button class="view-item btn btn-light btn-sm" type="button" th:data-item="@{/fileView?rn=} + ${f.rn}" th:text="${f.filename}"></button></td>
							            <td class="edited">
							            	<span></span>
											<div th:if=${readonly!=true} class="custom-file not-visible">
						   						<input name="list_file__fileuri" type="file" class="custom-file-input">
						   						<label class="custom-file-label" data-browse="Прикрепить файл"></label>
											</div>							            
							            </td>
							            <td th:text="${f.filelength}"/>
							            <td th:text="${f.filetype?.name}"/>
							            <td th:text="${f.filelength}"/>
							            <td><a th:if=${readonly!=true} th:href="@{/detailsObj?clazz=IFile&rn=} + ${f.rn} + '&prn=' + ${obj.rn}" class="btn btn-light btn-sm"><i class="fa fa-sm fa-file"></i></a></td>
							            <td><button th:if=${readonly!=true} class="remove-item btn btn-light btn-sm" type="button" th:data-item="${f.rn}"><i class="fa fa-sm fa-minus"></i></button></td>
							            <td class="d-none cmd"><input type="hidden" name="list_file__p_cmd" value=""></td>
							        </tr>
							        <tr class="last-row">
							        	<td class="d-none"/>
							        	<td><button th:if=${readonly!=true} class="add-item btn btn-light btn-sm" type="button"><i class="fa fa-sm fa-plus"></i></button></td>
							        	<td></td>
							        	<td></td>
							        	<td></td>
							        	<td></td>
							        	<td></td>
							        	<td></td>
							        	<td></td>
							        	<td class="d-none"/>
						        	</tr>
						        </tbody>
						    </table>
					    </div>
				    </div>
				    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Количество страниц</label>
                        <div class="col-sm-1">
                        	<input class="form-control form-control-sm" type="text" name="sheet_count" th:value="${obj.sheet_count}"></input>
                       	</div>
                    </div>
					<div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-1 col-form-label">Статус</label>
                        <div class="col-sm-2">
	                    	<select name="doc_status" class="form-control form-control-sm">
	                    		<option value=""></option>
								<option th:each="d : ${listDocStatus}" th:selected="${obj.doc_status?.rn==d.rn}" th:value="${d.rn}" th:utext="${d.name}"/>
							</select>    
						</div>
                        <label class="col-sm-2 col-form-label">Дата присвоения статуса</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.time_status,'dd.MM.yyyy HH:mm:ss')}" readonly="readonly"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Изменен пользователем</label>
                        <div class="col-sm-2">
                    	    <input class="form-control form-control-sm" type="text" th:value="${obj.change_agent?.name}" readonly="readonly"></input>
						</div>
                        <label class="col-sm-2 col-form-label">Дата изменения</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.change_time,'dd.MM.yyyy HH:mm:ss')}" readonly="readonly"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                    	<label class="col-sm-1 col-form-label">Включен в акт: №</label>
                        <div class="col-sm-1">
                    	    <input class="form-control form-control-sm" type="text" th:value="${obj.act?.act_number}"></input>
						</div>
                        <label class="col-sm-1 col-form-label">Дата</label>
                        <div class="col-sm-1">
                        	<input class="input_date form-control form-control-sm" type="text" th:value="${#dates.format(obj.act?.act_date,'dd.MM.yyyy')}"></input>
                       	</div>
                       	<label class="col-sm-1 col-form-label">Включен в реестр: №</label>
                        <div class="col-sm-1">
                    	    <input class="form-control form-control-sm" type="text" th:value="${obj.reestr?.reestr_number}"></input>
						</div>
                        <label class="col-sm-1 col-form-label">Дата</label>
                        <div class="col-sm-1">
                        	<input class="input_date form-control form-control-sm" type="text" th:value="${#dates.format(obj.reestr?.reestr_date,'dd.MM.yyyy')}"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                    	<label class="col-sm-2 col-form-label">Исключен из акта: №</label>
                        <div class="col-sm-1">
                    	    <input name="act_exclude_num" class="form-control form-control-sm" type="text" th:value="${obj.act_exclude_num}"></input>
						</div>
                        <label class="col-sm-1 col-form-label">Дата</label>
                        <div class="col-sm-1">
                        	<input name="act_exclude_date" class="input_date form-control form-control-sm" type="text" th:value="${#dates.format(obj.act_exclude_date,'dd.MM.yyyy')}"></input>
                       	</div>
                       	<label class="col-sm-1 col-form-label">Причина</label>
                        <div class="col-sm-5">
                    	    <input name="act_exclude_reason" class="form-control form-control-sm" type="text" th:value="${obj.act_exclude_reason}"></input>
						</div>
                   	</div>
                   	<div class="form-group-sm row mt-sm-1"> 	
                       	<label class="col-sm-2 col-form-label">Заменен документом: №</label>
                        <div class="col-sm-1">
                    	    <input class="form-control form-control-sm" type="text" th:value="${obj.change_doc?.doc_number}"></input>
						</div>
                        <label class="col-sm-1 col-form-label">Дата</label>
                        <div class="col-sm-1">
                        	<input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.change_doc?.doc_date,'dd.MM.yyyy')}"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                    	<label class="col-sm-2 col-form-label">Дата отражения в бухгалтерском учете</label>
                    	<div class="col-sm-1">
                        	<input name="buh_date" class="input_date form-control form-control-sm" type="text" th:value="${#dates.format(obj.buh_date,'dd.MM.yyyy')}"></input>
                       	</div>
                       	<label class="col-sm-2 col-form-label">Отражен в выписке: №</label>
                        <div class="col-sm-1">
                    	    <input name="extract_number" class="form-control form-control-sm" type="text" th:value="${obj.extract_number}"></input>
						</div>
						<label class="col-sm-1 col-form-label">Дата</label>
                        <div class="col-sm-1">
                        	<input name="extract_date" class="input_date form-control form-control-sm" type="text" th:value="${#dates.format(obj.extract_date,'dd.MM.yyyy')}"></input>
                       	</div>
                    </div>
 				</div>
			</div>
		</form>
	</div>
	<div class="modal" tabindex="-1" role="dialog" style="height: 90%"></div>
	<footer class="footer">
    	<div th:replace="fragments/header :: change_info"></div>
    </footer>
</body>
</html>