<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			Amel.date_on();
			Amel.size_init();
			Amel.popup_init();
		});
	</script>
	<div th:replace="fragments/header :: header"></div>
	<div class="container w-75">
		<form action="detailsObj" method="POST" autocomplete="off">
			<div th:replace="fragments/header :: details-param"></div>
			<div th:replace="fragments/header :: details-header"></div>
           	<div class="col-sm-12 card small">
            	<div class="m-sm-2">
            		<div th:replace="fragments/header :: details-buttons"></div>
	                <div class="col-sm-12 border fit-height">
	                    <div class="parent-popup form-group-sm row mt-sm-1">
	                        <div class="col-sm-2" th:with="tt='label',vv='№ документа'"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-2" th:with="tt='text',vv=${obj.doc?.doc_number},ro=1"><div th:replace="fragments/component :: c"></div></div>
	                       	<div class="col-sm-2" th:with="tt='label',vv='Дата документа'"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-2" th:with="tt='date',vv=${obj.doc?.doc_date},ro=1"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-1" th:with="tt='pbutton',nn='doc',vv=${obj.doc?.rn},ro=${rco},ddcl='Document',ddti='Выберите документ',ddco='rn;doc_number=№ документа;doc_date=Дата документа',ddfi='doc_status__code =2'"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                    	<div class="col-sm-2" th:with="tt='check',nn='exclude',vv=${obj.exclude},xx='Исключен из акта'"><div th:replace="fragments/component :: c"></div></div>
		                    <div class="col-sm-2" th:with="tt='label',vv='Причина исключения'"><div th:replace="fragments/component :: c"></div></div>
		                    <div class="col-sm-4" th:with="tt='text',nn='exclude_reason',vv=${obj.exclude_reason}"><div th:replace="fragments/component :: c"></div></div>
		                    <div class="col-sm-2" th:with="tt='label',vv='Дата исключения'"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-2" th:with="tt='date',nn='exclude_date',vv=${obj.exclude_date}"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
                    </div>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/header :: modal"></div>
	<div th:replace="fragments/header :: details-footer"></div>
</body>
</html>