<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			Amel.details_init();
		});
	</script>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form id="form" action="detailsObj" method="POST" enctype="multipart/form-data" autocomplete="off">
			<div th:replace="fragments/header :: details-param"></div>
    		<div th:replace="fragments/header :: details-header"></div>
           	<div th:with="st=${obj.doc_status?.code},rco=${readonly!=true ? 0 : 1}" class="col-sm-12 card">
            	<div class="m-sm-2">
            		<div th:replace="fragments/header :: details-buttons"></div>
	                <div class="col-sm-12 fit-height">
	                	<div class="w-100 border border-primary">
		                	<table class="table table-sm table-edited table-bordered small"><tbody><tr>
		                		<th:block th:with="w='7%',tt='label',vv='Номер',rr=1"><th th:replace="fragments/tc :: ch"></th></th:block>
		                		<th:block th:with="w='13%',tt='text',nn='doc_number',vv=${obj.doc_number},rr=1"><td th:replace="fragments/tc :: cd"></td></th:block>
		                		<th:block th:with="w='7%',tt='label',vv='Дата',rr=1"><th th:replace="fragments/tc :: ch"></th></th:block>
		          				<th:block th:with="w='13%',tt='date',nn='doc_date',vv=${obj.doc_date},rr=1"><td th:replace="fragments/tc :: cd"></td></th:block> 
			                    <td width="60%"></td>
			                </tr></tbody></table>
			                <table class="table table-sm table-edited table-bordered small"><tbody><tr>
			                	<th:block th:with="w='100%',tt='label',vv='Основание доведения БР и ЛБО'"><th th:replace="fragments/tc :: ch"></th></th:block>
			                </tr></tbody></table>
	                        <table class="parent-popup table table-sm table-edited table-bordered small"><tbody><tr>
	                        	<th:block th:with="w='16%',tt='label',vv='Тип документа'"><th th:replace="fragments/tc :: ch"></th></th:block>
	                        	<th:block th:with="w='16%',tt='text',vv=${obj.parent_doc?.doc_type?.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
		                        <th:block th:with="w='16%',tt='label',vv='Номер документа'"><th th:replace="fragments/tc :: ch"></th></th:block>
		                        <th:block th:with="w='16%',tt='text',vv=${obj.parent_doc?.doc_number},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
		                        <th:block th:with="w='16%',tt='label',vv='Дата документа'"><th th:replace="fragments/tc :: ch"></th></th:block>
		                        <th:block th:with="w='16%',tt='date',vv=${obj.parent_doc?.doc_date},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
		                        <th:block th:with="w='4%',tt='pbutton',nn1='parent_doc',nn2='',vv=${obj.parent_doc?.rn},ro=${rco},ddcl='Document',ddti='Выберите документ',ddco='doc_type__name=Тип документа;doc_number=№ документа;doc_date=Дата документа',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
	                        </tr></tbody></table>
		                    <table class="parent-popup table table-sm table-edited table-bordered small"><tbody><tr>
		                    	<th:block th:with="w='24%',tt='label',vv='Ответственное структурное подразделение',rr=1"><th th:replace="fragments/tc :: ch"></th></th:block>
		                    	<th:block th:with="w='10%',tt='text',vv=${obj.depart?.code},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
		                    	<th:block th:with="w='62%',tt='text',vv=${obj.depart?.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
								<th:block th:with="w='4%',tt='pbutton',nn1='depart',nn2='',vv=${obj.depart?.rn},ro=${rco},ddcl='IDepartment',ddti='Выберите подразделение',ddco='code=Код;name=Наименование',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>                    	
		                    </tr></tbody></table>
	                    </div>
	                    <div class="w-100 border border-primary">
	                    	<th:block th:replace="fragments/spec :: spec4_list"/>
                    	</div>
                    	<div class="w-100 border border-primary">
	                    	<th:block th:replace="fragments/header :: file_list"/>
                    	</div>
                    	<div class="w-100 border border-primary">
	                		<th:block th:replace="fragments/header :: mailing_list"/>
                		</div>
                		<div class="w-100 border border-primary">
							<table class="table table-sm table-edited table-bordered small"><tbody><tr>
								<th:block th:with="w='20%',tt='label',vv='Срок представления предложений на закупку'"><th th:replace="fragments/tc :: ch"></th></th:block>
								<th:block th:with="w='10%',tt='date',nn='date_repr',vv=${obj.date_repr}"><td th:replace="fragments/tc :: cd"></td></th:block>
								<td width="70%"></td>
							</tr></tbody></table>
							<table class="table table-sm table-edited table-bordered small"><tbody><tr>
								<th:block th:with="w='20%',tt='label',vv='Резолюция'"><th th:replace="fragments/tc :: ch"></th></th:block>
								<th:block th:with="w='80%',tt='mtext',nn='comment',vv=${obj.comment}"><td th:replace="fragments/tc :: cd"></td></th:block>
							</tr></tbody></table>
							<table class="table table-sm table-edited table-bordered small"><tbody><tr>
								<th:block th:with="w='20%',tt='label',vv='Документ создал'"><th th:replace="fragments/tc :: ch"></th></th:block>
								<th:block th:with="w='20%',tt='text',vv=${obj.create_agent?.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
		                        <td width="60%"></td>
	                        </tr></tbody></table>
							<table class="table table-sm table-edited table-bordered small"><tbody><tr>
								<th:block th:with="w='20%',tt='label',vv='Статус'"><th th:replace="fragments/tc :: ch"></th></th:block>
								<th:block th:with="w='20%',tt='select',nn='doc_status',ll=${listDocStatus},vv=${obj.doc_status},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
								<td width="60%"></td>
		                    </tr></tbody></table>
	                    </div>
                    </div>
 				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/header :: modal"></div>
	<div th:replace="fragments/header :: details-footer"></div>
</body>
</html>