<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.input_date').datepicker({language: "ru"});
			$('.custom-file-input').on("change", function() { 
				   var fileName = $(this).val().split('\\').pop(); 
				   $(this).next('.custom-file-label').addClass("selected").html(fileName); 
			});
			size_init();
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<div class="container fit-height">
		<form th:action="@{/detailsObj}" method="POST" class="form" role="form" autocomplete="off">
			<input type="hidden" name="clazz" value="Document" />
			<input type="hidden" name="rn" th:value="${obj.rn}" />
    		<div class="col-md-12 card-header">
            	<h3 th:text="${p_title}"></h3>
            </div>
           	<div class="col-sm-12 card small">
            	<div class="m-sm-2">
            		<div class="row small col-sm-12">
	            		<div class="btn-group">
	            			<button th:if="${readonly!=true}" class="btn btn-sm btn-light" type="submit"><i class="fa fa-sm fa-save"></i> Сохранить</button>
			                <a th:href="@{/listObj?clazz=Document}" class="btn btn-light btn-sm"><i class="fa fa-sm fa-window-close"></i> Отмена</a>
			                <a th:if="${obj.rn!=null}" th:href="@{/changeDocument?rn=} + ${obj.rn}" class="btn btn-light btn-sm"><i class="fa fa-sm"></i> Заменить</a>
		                </div>
	                </div>
	                <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Дата создания</label>
                        <div class="col-sm-2">
                    	    <input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.create_time,'dd.MM.yyyy hh:mm.ss')}"></input>
						</div>
                        <label class="col-sm-2 col-form-label">Создан пользователем</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${obj.create_agent?.name}"></input>
                       	</div>
                        <label class="col-sm-2 col-form-label">Структурное подразделение</label>
                        <div class="col-sm-2">
                        	<select name="depart" class="form-control form-control-sm">
	                    		<option value=""></option>
								<option th:each="d : ${listDepartment}" th:selected="${obj.depart?.rn==d.rn}" th:value="${d.rn}" th:utext="${d.name}"/>
							</select>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label required">Тип документа</label>
                        <div class="col-sm-2">
	                    	<select name="doc_type" class="form-control form-control-sm" required="required">
	                    		<option value=""></option>
								<option th:each="d : ${listDocType}" th:selected="${obj.doc_type?.rn==d.rn}" th:value="${d.rn}" th:utext="${d.name}"/>
							</select>    
						</div>
                        <label class="col-sm-2 col-form-label required">№ документа</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" name="doc_num" th:value="${obj.doc_num}" required="required"></input>
                       	</div>
                        <label class="col-sm-2 col-form-label required">Дата документа</label>
                        <div class="col-sm-2">
                        	<input class="input_date form-control form-control-sm" type="text" name="doc_date" th:value="${#dates.format(obj.doc_date,'dd.MM.yyyy')}" required="required"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Тип основного документа</label>
                        <div class="col-sm-2">
	                    	<select class="form-control form-control-sm">
	                    		<option value=""></option>
								<option th:each="d : ${listDocType}" th:selected="${obj.parent_doc?.doc_type?.rn==d.rn}" th:value="${d.rn}" th:utext="${d.name}"/>
							</select>    
						</div>
                        <label class="col-sm-2 col-form-label required">№ основного документа</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${obj.parent_doc?.doc_num}" required="required"></input>
                       	</div>
                        <label class="col-sm-2 col-form-label required">Дата основного документа</label>
                        <div class="col-sm-2">
                        	<input class="input_date form-control form-control-sm" type="text" th:value="${#dates.format(obj.parent_doc?.doc_date,'dd.MM.yyyy')}"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label required">Контрагент</label>
                        <div class="col-sm-10">
	                    	<select name="doc_type" class="form-control form-control-sm" required="required">
	                    		<option value=""></option>
								<option th:each="a : ${listAgent}" th:selected="${obj.agent?.rn==a.rn}" th:value="${a.rn}" th:utext="${a.name}"/>
							</select>    
						</div>
					</div>
					<div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label required">Прикрепленные файлы</label>
                        
                        <label class="col-sm-2 col-form-label required">Количество страниц</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" name="sheet_count" th:value="${obj.sheet_count}"></input>
                       	</div>
                    </div>
					<div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Статус</label>
                        <div class="col-sm-2">
	                    	<select name="doc_status" class="form-control form-control-sm">
	                    		<option value=""></option>
								<option th:each="d : ${listDocStatus}" th:selected="${obj.doc_status?.rn==d.rn}" th:value="${d.rn}" th:utext="${d.name}"/>
							</select>    
						</div>
                        <label class="col-sm-2 col-form-label">Дата присвоения статуса</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.time_status,'dd.MM.yyyy hh:mm:ss')}"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Изменен пользователем</label>
                        <div class="col-sm-2">
                    	    <input class="form-control form-control-sm" type="text" th:value="${obj.change_agent?.name}"></input>
						</div>
                        <label class="col-sm-2 col-form-label">Дата изменения</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.time_status,'dd.MM.yyyy hh:mm:ss')}"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                    	<label class="col-sm-2 col-form-label">Включен в акт: №</label>
                        <div class="col-sm-2">
                    	    <input class="form-control form-control-sm" type="text" th:value="${obj.act_num}"></input>
						</div>
                        <label class="col-sm-2 col-form-label">Дата</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.act_date,'dd.MM.yyyy')}"></input>
                       	</div>
                   	</div>
                    <div class="form-group-sm row mt-sm-1"> 	
                       	<label class="col-sm-2 col-form-label">Включен в реестр: №</label>
                        <div class="col-sm-2">
                    	    <input class="form-control form-control-sm" type="text" th:value="${obj.reestr_num}"></input>
						</div>
                        <label class="col-sm-2 col-form-label">Дата</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.reestr_date,'dd.MM.yyyy')}"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                    	<label class="col-sm-2 col-form-label">Исключен из акта: №</label>
                        <div class="col-sm-2">
                    	    <input class="form-control form-control-sm" type="text" th:value="${obj.act_exclude_num}"></input>
						</div>
                        <label class="col-sm-2 col-form-label">Дата</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.act_exclude_date,'dd.MM.yyyy')}"></input>
                       	</div>
                       	<label class="col-sm-2 col-form-label">Причина</label>
                        <div class="col-sm-2">
                    	    <input class="form-control form-control-sm" type="text" th:value="${obj.act_exclude_reason}"></input>
						</div>
                   	</div>
                   	<div class="form-group-sm row mt-sm-1"> 	
                       	<label class="col-sm-2 col-form-label">Заменен документом: №</label>
                        <div class="col-sm-2">
                    	    <input class="form-control form-control-sm" type="text" th:value="${obj.change_doc?.doc_num}"></input>
						</div>
                        <label class="col-sm-2 col-form-label">Дата</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.change_doc?.doc_date,'dd.MM.yyyy')}"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                    	<label class="col-sm-2 col-form-label">Дата отражения в бухгалтерском учете</label>
                    	<div class="col-sm-2">
                        	<input name="buh_date" class="input_date form-control form-control-sm" type="text" th:value="${#dates.format(obj.buh_date,'dd.MM.yyyy')}"></input>
                       	</div>
                       	<label class="col-sm-2 col-form-label">Отражен в выписке: №</label>
                        <div class="col-sm-2">
                    	    <input name="extract_number" class="form-control form-control-sm" type="text" th:value="${obj.extract_number}"></input>
						</div>
						<label class="col-sm-2 col-form-label">Дата</label>
                        <div class="col-sm-2">
                        	<input name="extract_date" class="input_date form-control form-control-sm" type="text" th:value="${#dates.format(obj.extract_date,'dd.MM.yyyy')}"></input>
                       	</div>
                    </div>
                    
				</div>
			</div>
			</form>
	</div>
	<footer class="footer">
    	<div th:replace="fragments/header :: change_info"></div>
    </footer>
</body>
</html>