<!DOCTYPE HTML>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/header :: head"></th:block>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			Amel.size_init();
			Amel.list_init();
		});
	</script>
	<div th:with="l_p=${p_paging!=null && p_paging},l_lb=${p_listButtons}" id="listTop" class="h-100">
		<th:block th:replace="fragments/header :: header"></th:block>
	   	<div class="col">
		 	<form id="formSubmit" th:action="${'listObj?clazz=' + clazz}" method="POST" novalidate  autocomplete="off">
		 		<th:block th:replace="fragments/header :: list-param"></th:block>
				<th:block th:replace="fragments/header :: list-buttons"></th:block>
				<th:block th:if="${l_p}"><th:block th:replace="fragments/pager :: pager-param"></th:block></th:block>
				<div class="fit-height"><th:block th:replace="fragments/header :: list-table"></th:block></div>
		     </form>
		</div>
		<footer>
	    	<th:block th:if="${l_p}"><th:block th:replace="fragments/pager :: pager"></th:block></th:block>
	    	<th:block th:if="${!l_p}"><th:block th:replace="fragments/pager :: total"></th:block></th:block>
	    </footer>
    </div>
</body>
</html>