<!DOCTYPE html>
<html lang="ru" th:with="p_title='Загрузка справочников'" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.custom-file-input').on("change", function() { 
			   var fileName = $(this).val().split('\\').pop(); 
			   $(this).next('.custom-file-label').addClass("selected").html(fileName); 
			   $('button[type="submit"]').prop('disabled', !(fileName && fileName.length > 0)); 
			});
			$('button[type="submit"]').prop('disabled', true);
		});
	</script>
	<div th:replace="fragments/header :: header"></div>
	<section>
	    <div class="col-sm-8 m-sm-2">
			<form th:action="@{/load}" method="post" enctype="multipart/form-data" class="form" role="form" autocomplete="off">
 				<div class="custom-file col-sm-12 m-sm-2">
				   <input type="file" class="custom-file-input" name="file">
				   <label class="custom-file-label text-truncate" data-browse="Выберите файл"></label>
				</div>
				<div class="form-group-sm float-right mt-sm-2">
					<button type="submit" class="btn btn-light btn-sm"><i class="fa fa-sm fa-upload"></i> Загрузить</button>
					<a href="main" class="btn btn-light btn-sm"><i class="fa fa-sm fa-window-close"></i> Отмена</a>
                </div>	
			</form>
		</div>
    </section>
</body>
</html>