<!DOCTYPE html>
<html lang="ru" th:with="p_title='Вход в систему'" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
            var c = $('input[name="username"]');
			$('input[name="' + (c.val() ? 'password' : 'username') + '"]').focus();
			Amel.add_on($("#change_password"), "click", function(e) {
				e.preventDefault();
				var a = $("#new_password"), b = $("#confirm_password");
				if (a.is(':hidden')) {
					a.show();
					b.show();
					a.find("input").attr("required", "required");
					b.find("input").attr("required", "required");
					a.find("input").focus();
				}
				else {
					a.hide();
					b.hide();
					a.find("input").val("");
					b.find("input").val("");
					a.find("input").attr("required", null);
					b.find("input").attr("required", null);
					$('input[name="' + (c.val() ? 'password' : 'username') + '"]').focus();
				}
			});
			Amel.add_on($(".input-group-addon a"), "click", function(e) {
				e.preventDefault();
				var a = $(this).closest(".input-group").find("input"), type = a.attr("type");
				a.attr("type", type == "text" ? "password" : "text");
				a.focus();
			});
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<section>
		<div class="container">
    		<div class="row">
            	<div class="col-md-6 mx-auto">
	            	<div class="card rounded-0">
		                <div class="card-header">
		                    <h3 class="mb-0">Введите логин и пароль</h3>
		                </div>
		                <div class="card-body">
			                <form action="login" method="post" class="form" autocomplete="off">
			                    <div class="form-group">
			                        <label for="username">Пользователь:</label>
			                        <input type="text" class="form-control" name="username" required="required" th:value=${username}>
			                    </div>
			                    <div class="form-group">
			                        <label>Пароль:</label>
			                        <div class="input-group">
				                        <input type="password" class="form-control" name="password" required="required">
				                        <div class="input-group-addon d-flex align-items-center ml-2"><a href=""><i class="fa fa-eye"></i></a></div>
			                        </div>
			                        <small id="change_password"><a href="">Изменение пароля</a></small>
			                    </div>
			                    <div id="new_password" class="form-group not-visible">
			                        <label class="required">Новый пароль:</label>
			                        <div class="input-group">
				                        <input type="password" class="form-control" name="new_password">
				                        <div class="input-group-addon d-flex align-items-center ml-2"><a href=""><i class="fa fa-eye"></i></a></div>
			                        </div>
			                    </div>
			                    <div id="confirm_password" class="form-group not-visible">
			                        <label class="required">Подтверждение пароля:</label>
			                        <div class="input-group">
				                        <input type="password" class="form-control" name="confirm_password">
				                        <div class="input-group-addon d-flex align-items-center ml-2"><a href=""><i class="fa fa-eye"></i></a></div>
			                        </div>
			                    </div>
			                    <button class="btn btn-light float-right" type="submit"><i class="fa fa-sign-in-alt"></i> Вход</button>
			                </form>
						</div>
					</div>
				</div>
 			</div>
		</div>
	</section>
</body>
</html>