<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="c">
	<label th:if="${tt=='label'}" th:class="${'col-sm-' + ww + (rr==1 ? 'required' : '')}" th:utext="${vv}"></label>
	<div th:if="${tt=='time'}" th:class="${'col-sm-' + ww}">
		<div th:if="${ro!=1}" class="input-group date input_time" data-target-input="nearest">
			<input th:name="${nn}" class="form-control form-control-sm datetimepicker-input" th:data-target="${'div:has(>input[name='''+nn+'''])'}" type="text" th:value="${#dates.format(vv,'dd.MM.yyyy HH:mm.ss')}" th:required="${rr==1 ? 'required' : ''}"></input>
			<div class="input-group-append" th:data-target="${'div:has(>input[name='''+nn+'''])'}" data-toggle="datetimepicker">
				<div class="input-group-text"><i class="fa fa-calendar"></i></div>
			</div>
		</div>
		<div th:if="${ro==1}">
			<input class="form-control form-control-sm" type="text" th:value="${#dates.format(vv,'dd.MM.yyyy HH:mm.ss')}" readonly="readonly"></input>
		</div>
	</div>
	<div th:th:if="${tt=='date'}" th:class="${'col-sm-' + ww}">
		<div th:if="${ro!=1}">
			<input class="input_date form-control form-control-sm" type="text" th:name="${nn}" th:value="${#dates.format(vv,'dd.MM.yyyy')}" th:required="${rr==1 ? 'required' : ''}"></input>
		</div>
		<div th:if="${ro==1}">
			<input class="form-control form-control-sm" type="text" th:value="${#dates.format(vv,'dd.MM.yyyy')}" readonly="readonly"></input>
		</div>
	</div>
	<div th:if="${tt=='text'}" th:class="${'col-sm-' + ww}">
		<div th:if="${ro!=1}">
			<input class="form-control form-control-sm" type="text" th:name="${nn}" th:value="${vv}" th:required="${rr==1 ? 'required' : ''}"></input>
		</div>
		<div th:if="${ro==1}">
			<input class="form-control form-control-sm" type="text" th:value="${vv}" readonly="readonly"></input>
		</div>
	</div>
	<div th:if="${tt=='select'}" th:class="${'col-sm-' + ww}">
		<select th:if="${ro!=1}" th:name="${nn}" class="form-control form-control-sm" th:required="${rr==1 ? 'required' : ''}">
			<option value=""></option>
			<option th:each="d : ${ll}" th:selected="${vv!=null && vv.rn==d.rn}" th:value="${d.rn}" th:utext="${d.name}"/>
		</select>  
		<select th:if="${ro==1}" class="form-control form-control-sm" disabled>
			<option selected="selected" th:value="${vv!=null ? vv.rn : ''}" th:utext="${vv!=null ? vv.name : ''}"/>
		</select>
	</div>
	<div th:if="${tt=='pbutton'}" th:class="${'col-sm-' + ww}">
		<div th:if="${ro!=1}">
			<button type="button" class="choose_obj btn btn-light btn-sm" th:data-clazz="${dd-cl}" th:data-title="${dd-ti}" th:data-column="${dd-co}" th:data-filter="${dd-fi}"><i class="fa fa-sm fa-file"></i></button>
			<input th:name="${nn}" type="hidden" th:value="${vv}">
		</div>
	</div>
</div>
