<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="prop_list">
		<th:block th:if="${bs!=true}">
			<table class="table table-sm table-edited table-bordered"><tbody><tr>
	        	<th:block th:with="w='32%',tt='label',vv='Связанные объекты имущества'"><th th:replace="fragments/tc :: ch"></th></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_prop',dden=${hs.cla(obj,'list_prop','add')}"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_prop',dden=${hs.cla(obj,'list_prop','delete')}"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<td width="36%"></td>
	        </tr></tbody></table>
			<table id="list_prop" class="table table-sm table-edited table-bordered">
				<tbody>
	        		<tr>
			       		<td class="d-none"></td>
			       		<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='31%',tt='label',vv='Объект имущества'"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='20%',tt='label',vv='Инвентарный номер'"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='24%',tt='label',vv='Раздел учета',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='20%',tt='label',vv='Тип связи'"><td th:replace="fragments/tc :: cd"></td></th:block>
	       			</tr>
	     		</tbody>
	        	<tbody>
		        	<tr th:each="d : ${obj?.list_prop}" class="parent-popup">
			         	<td class="d-none"><input type="hidden" name="list_prop__rn" th:value="${d.rn}"><input type="hidden" name="list_prop__rnOld" th:value="${d.rn}"><input type="hidden" name="list_prop__clazz" value="RProperty_RProperty"><input type="hidden" name="list_prop__p_add" value="new"><input type="hidden" name="list_prop__p_cmd" value=""></td>
			           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
			           	<th:block th:with="w='31%',tt='text',vv=${d.prop?.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='text',vv=${d.prop?.inv_number},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='text',vv=${d.prop?.co_div?.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	        			<th:block th:with="w='4%',tt='pbutton',nn1='list_prop',nn2='prop',vv=${d.prop?.rn},ro=${rco},ddcl='RProperty',ddti='Выберите объект имущества',ddco='rn;name=Наименование=YYA;inv_number=Инвентарный номер;co_div__name=Раздел учета',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='select',nn='list_prop__conn_type',vv=${d.conn_type},ll=${listConnectionType},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
			       	</tr>
			       	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
			           	<td class="d-none"><input type="hidden" name="list_prop__rn" value=""><input type="hidden" name="list_prop__rnOld" value=""><input type="hidden" name="list_prop__clazz" value="RProperty_RProperty"><input type="hidden" name="list_prop__p_add" value="new"><input type="hidden" name="list_prop__p_cmd" value=""></td>
			           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
			           	<th:block th:with="w='31%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	        			<th:block th:with="w='4%',tt='pbutton',nn1='list_prop',nn2='prop',vv='',ro=${rco},ddcl='RProperty',ddti='Выберите объект имущества',ddco='rn;name=Наименование=YYA;inv_number=Инвентарный номер;co_div__name=Раздел учета',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='select',nn='list_prop__conn_type',vv='',ll=${listConnectionType},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
			    	</tr>
	        	</tbody>
	       	</table>
       	</th:block>
       	<th:block th:if="${bs==true}">
       		<div id="list_prop" class="form-group-sm mt-sm-1">
				<label class="col-sm-4">Связанные объекты имущества</label>
				<div class="col-sm-12">
					<table class="table table-sm table-striped table-light table-bordered">
	    				<thead>
					        <tr>
					            <th class="d-none">Идентификатор</th>
					            <th>#</th>
					            <th>Объект имущества</th>
					            <th>Тип связи</th>
					            <th></th>
					            <th></th>
					            <th class="d-none">Команда</th>
					        </tr>
	        			</thead>
				        <tbody>
				        	<tr th:if="${rco!=1}" class="first-row not-visible">
					            <td class="d-none">
					            	<input type="hidden" name="list_prop__rn" value="">
					            	<input type="hidden" name="list_prop__rnOld" value="">
					            	<input type="hidden" name="list_prop__clazz"value="RProperty_RProperty">
					            	<input type="hidden" name="list_prop__p_add" value="new">
					            </td>
					            <td></td>
					            <td class="edited">
					            	<span></span>
					            	<input name="list_prop__prop" type="hidden" value="" data-type="select" data-clazz="RProperty" data-title="Выберите объект имущества" data-column="name=Наименование;inv_number=Инвентарный номер;co_div__name=Раздел учета" data-filter="">
					            </td>
					            <td class="edited">
					            	<th:block th:with="tt='select',nn='list_prop__conn_type',vv='',ll=${listConnectionType}"><th:block th:replace="fragments/component :: c"></th:block></th:block>
					            </td>
					            <td></td>
					            <td><button class="remove-item btn btn-light btn-sm" type="button" data-item="" title="Удалить элемент"><i class="fa fa-sm fa-minus"></i></button></td>
					            <td class="d-none cmd"><input type="hidden" name="list_prop__p_cmd" value=""></td>
					        </tr>
					        <tr th:each="d,iter : ${obj?.list_prop}">
					            <td class="d-none">
					            	<input type="hidden" name="list_prop__rn" th:value="${d.rn}">
					            	<input type="hidden" name="list_prop__rnOld" th:value="${d.rn}">
					            	<input type="hidden" name="list_prop__clazz" value="RProperty_RProperty">
					            	<input type="hidden" name="list_prop__p_add" value="new">
					            </td>
					            <td th:text="${iter.index + 1}"/>
					            <td class="edited">
					            	<span th:text="${d.prop?.name}"></span>
					            	<input th:if="${rco!=1}" name="list_prop__prop" type="hidden" th:value="${d.prop?.rn}" data-type="select" data-clazz="RProperty" data-title="Выберите объект имущества" data-column="name=Наименование;inv_number=Инвентарный номер;co_div__name=Раздел учета" data-filter="">
					            </td>
					            <td class="edited">
					            	<th:block th:with="tt='select',nn='list_prop__conn_type',vv=${d.prop.conn_type},ll=${listConnectionType},ro=${rco}"><th:block th:replace="fragments/component :: c"></th:block></th:block>
					            </td>
					            <td><a th:if=${d.prop!=null} th:href="@{/detailsObj?clazz=RProperty&readonly=1&rn=} + ${d.prop.rn} + '&prn=' + ${obj.rn}" class="btn btn-light btn-sm" title="Редактировать/просмотреть элемент"><i class="fa fa-sm fa-file"></i></a></td>
					            <td><button th:if="${rco!=1}" class="remove-item btn btn-light btn-sm" type="button" th:data-item="${d.rn}" title="Удалить элемент"><i class="fa fa-sm fa-minus"></i></button></td>
					            <td class="d-none cmd"><input type="hidden" name="list_prop__p_cmd" value=""></td>
					        </tr>
					        <tr th:if="${rco!=1}" class="last-row">
					        	<td class="d-none"/>
					        	<td><button class="add-item btn btn-light btn-sm" type="button" title="Добавить элемент"><i class="fa fa-sm fa-plus"></i></button></td>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td class="d-none"/>
				        	</tr>
				        </tbody>
	    			</table>
    			</div>
   			</div>
       	</th:block>
   	</th:block>
   	<th:block th:fragment="doc_list">
   		<th:block th:if="${bs!=true}">
			<table class="table table-sm table-edited table-bordered"><tbody><tr>
	        	<th:block th:with="w='32%',tt='label',vv='Прикрепленные документы'"><th th:replace="fragments/tc :: ch"></th></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_doc',dden=${hs.cla(obj,'list_doc','add')}"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_doc',dden=${hs.cla(obj,'list_doc','delete')}"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<td width="36%"></td>
	        </tr></tbody></table>
			<table id="list_doc" class="table table-sm table-edited table-bordered">
	        	<tbody>
	        		<tr>
			       		<td class="d-none"></td>
			       		<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='95%',tt='label',vv='Документ',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
	       			</tr>
	     		</tbody>
	        	<tbody>
		        	<tr th:each="d : ${obj?.list_doc}" class="parent-popup">
			         	<td class="d-none"><input type="hidden" name="list_doc__rn" th:value="${d.rn}"><input type="hidden" name="list_doc__rnOld" th:value="${d.rn}"><input type="hidden" name="list_doc__clazz" value="RProperty_RDocument"><input type="hidden" name="list_doc__p_add" value="new"><input type="hidden" name="list_doc__p_cmd" value=""></td>
			           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
			           	<th:block th:with="w='91%',tt='text',vv=${d.doc?.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	        			<th:block th:with="w='4%',tt='pbutton',nn1='list_doc',nn2='doc',vv=${d.doc?.rn},ro=${rco},ddcl='RDocument',ddti='Выберите документ',ddco='rn;name=Наименование=YYA',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
			       	</tr>
			       	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
			           	<td class="d-none"><input type="hidden" name="list_prop__rn" value=""><input type="hidden" name="list_doc__rnOld" value=""><input type="hidden" name="list_doc__clazz" value="RProperty_RDocument"><input type="hidden" name="list_doc__p_add" value="new"><input type="hidden" name="list_doc__p_cmd" value=""></td>
			           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
			           	<th:block th:with="w='91%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	        			<th:block th:with="w='4%',tt='pbutton',nn1='list_doc',nn2='doc',vv='',ro=${rco},ddcl='RDocument',ddti='Выберите документ',ddco='rn;name=Наименование=YYA',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
			    	</tr>
	        	</tbody>
	       	</table>
       	</th:block>
       	<th:block th:if="${bs==true}">
       		<div id="list_doc" class="form-group-sm mt-sm-1">
				<label class="col-sm-4">Прикрепленные документы</label>
				<div class="col-sm-12">
					<table class="table table-sm table-striped table-light table-bordered">
	    				<thead>
					        <tr>
					            <th class="d-none">Идентификатор</th>
					            <th>#</th>
					            <th>Документ</th>
					            <th></th>
					            <th></th>
					            <th class="d-none">Команда</th>
					        </tr>
	        			</thead>
				        <tbody>
				        	<tr th:if="${rco!=1}" class="first-row not-visible">
					            <td class="d-none">
					            	<input type="hidden" name="list_doc__rn" value="">
					            	<input type="hidden" name="list_doc__rnOld" value="">
					            	<input type="hidden" name="list_doc__clazz"value="RProperty_RDocument">
					            	<input type="hidden" name="list_doc__p_add" value="new">
					            </td>
					            <td></td>
					            <td class="edited">
					            	<span></span>
					            	<input name="list_doc__doc" type="hidden" value="" data-type="select" data-clazz="RDocument" data-title="Выберите документ" data-column="name=Наименование" data-filter="">
					            </td>
					            <td></td>
					            <td><button class="remove-item btn btn-light btn-sm" type="button" data-item="" title="Удалить элемент"><i class="fa fa-sm fa-minus"></i></button></td>
					            <td class="d-none cmd"><input type="hidden" name="list_doc__p_cmd" value=""></td>
					        </tr>
					        <tr th:each="d,iter : ${obj?.list_doc}">
					            <td class="d-none">
					            	<input type="hidden" name="list_doc__rn" th:value="${d.rn}">
					            	<input type="hidden" name="list_doc__rnOld" th:value="${d.rn}">
					            	<input type="hidden" name="list_doc__clazz" value="RProperty_RDocument">
					            	<input type="hidden" name="list_doc__p_add" value="new">
					            </td>
					            <td th:text="${iter.index + 1}"/>
					            <td class="edited">
					            	<span th:text="${d.doc?.name}"></span>
					            	<input th:if="${rco!=1}" name="list_doc__doc" type="hidden" th:value="${d.doc?.rn}" data-type="select" data-clazz="RDocument" data-title="Выберите объект имущества" data-column="name=Наименование" data-filter="">
					            </td>
					            <td><a th:if=${d.doc!=null} th:href="@{/detailsObj?clazz=RDocument&readonly=1&rn=} + ${d.doc.rn} + '&prn=' + ${obj.rn}" class="btn btn-light btn-sm" title="Редактировать/просмотреть элемент"><i class="fa fa-sm fa-file"></i></a></td>
					            <td><button th:if="${rco!=1}" class="remove-item btn btn-light btn-sm" type="button" th:data-item="${d.rn}" title="Удалить элемент"><i class="fa fa-sm fa-minus"></i></button></td>
					            <td class="d-none cmd"><input type="hidden" name="list_prop__p_cmd" value=""></td>
					        </tr>
					        <tr th:if="${rco!=1}" class="last-row">
					        	<td class="d-none"/>
					        	<td><button class="add-item btn btn-light btn-sm" type="button" title="Добавить элемент"><i class="fa fa-sm fa-plus"></i></button></td>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td class="d-none"/>
				        	</tr>
				        </tbody>
	    			</table>
    			</div>
   			</div>	
       	</th:block>
       	<!-- 
       	<div class="w-100 border border-primary">
				<table class="table table-sm table-edited table-bordered"><tbody><tr>
	        	<th:block th:with="w='16%',tt='label',vv='Состав комиссии'"><th th:replace="fragments/tc :: ch"></th></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='c_sostav'"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Исправить',ddco='update',ddta='c_sostav',ddsi='12'"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='c_sostav'"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<td width="36%"></td>
	        </tr></tbody></table>
	        <table id="c_sostav" class="table table-sm table-edited table-bordered">
	        	<tbody>
	        		<tr>
	        			<td class="d-none"/>
	        			<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='15%',tt='label',vv='Роль'"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='24%',tt='label',vv='Член комиссии',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='18%',tt='label',vv='Дата назначения'"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='18%',tt='label',vv='Дата выбытия'"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='20%',tt='label',vv='Департамент'"><td th:replace="fragments/tc :: cd"></td></th:block>
	        		</tr>
		        	<tr th:each="d : ${obj?.c_sostav}" class="parent-popup">
			         	<td class="d-none"><input type="hidden" name="c_sostav__rn" th:value="${d.rn}"><input type="hidden" name="c_sostav__rnOld" th:value="${d.rn}"><input type="hidden" name="c_sostav__clazz" value="RMember"><input type="hidden" name="c_sostav__p_add" value="new"><input type="hidden" name="c_sostav__p_cmd" value=""></td>
			           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
			           	<th:block th:with="w='15%',tt='select',nn='c_sostav__cs_rol',vv=${d.cs_rol},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='text',vv=${d.cs_sot?.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
         						<th:block th:with="w='4%',tt='pbutton',nn1='c_sostav',nn2='cs_sot',vv=${d.cs_sot?.rn},ro=${rco},ddcl='IPerson',ddti='Выберите сотрудника',ddco='rn;name=ФИО=Y1A',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
         						<th:block th:with="w='18%',tt='date',nn='c_sostav__cs_dn',vv=${d.cs_dn},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
         						<th:block th:with="w='18%',tt='date',nn='c_sostav__cs_dv',vv=${d.cs_dv},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
         						<th:block th:with="w='20%',tt='select',nn='c_sostav__cs_dep',vv=${d.cs_dep},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
			       	</tr>
			       	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
			           	<td class="d-none"><input type="hidden" name="c_sostav__rn" value=""><input type="hidden" name="c_sostav__rnOld" value=""><input type="hidden" name="c_sostav__clazz" value="RMember"><input type="hidden" name="c_sostav__p_add" value="new"><input type="hidden" name="c_sostav__p_cmd" value=""></td>
			           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
			           	<th:block th:with="w='15%',tt='select',nn='c_sostav__cs_rol'"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
         						<th:block th:with="w='4%',tt='pbutton',nn1='c_sostav',nn2='cs_sot',vv='',ro=${rco},ddcl='IPerson',ddti='Выберите сотрудника',ddco='rn;name=ФИО=Y1A',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
         						<th:block th:with="w='18%',tt='date',nn='c_sostav__cs_dn'"><td th:replace="fragments/tc :: cd"></td></th:block>
         						<th:block th:with="w='18%',tt='date',nn='c_sostav__cs_dv'"><td th:replace="fragments/tc :: cd"></td></th:block>
         						<th:block th:with="w='20%',tt='select',nn='c_sostav__cs_dep',"><td th:replace="fragments/tc :: cd"></td></th:block>
			    	</tr>
	        	</tbody>
        	</table>
                   	</div>
                   	<div class="w-100 border border-primary">
				<table class="table table-sm table-edited table-bordered"><tbody><tr>
	        	<th:block th:with="w='16%',tt='label',vv='Заседания комиссии'"><th th:replace="fragments/tc :: ch"></th></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='c_meeting'"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Исправить',ddco='update',ddta='c_meeting',ddsi='12'"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='c_meeting'"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<td width="36%"></td>
	        </tr></tbody></table>
	        <table id="c_meeting" class="table table-sm table-edited table-bordered">
	        	<tbody>
	        		<tr>
	        			<td class="d-none"/>
	        			<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='15%',tt='label',vv='Номер заседания'"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='20%',tt='label',vv='Дата заседания планируемая'"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='18%',tt='label',vv='Дата заседания фактическая'"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='18%',tt='label',vv='Тип комиссии'"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:with="w='20%',tt='label',vv='Статус заседания'"><td th:replace="fragments/tc :: cd"></td></th:block>
	        		</tr>
		        	<tr th:each="d : ${obj?.c_meeting}" class="parent-popup">
			         	<td class="d-none"><input type="hidden" name="c_meeting__rn" th:value="${d.rn}"><input type="hidden" name="c_meeting__rnOld" th:value="${d.rn}"><input type="hidden" name="c_meeting__clazz" value="RMeeting"><input type="hidden" name="c_meeting__p_add" value="new"><input type="hidden" name="c_meeting__p_cmd" value=""></td>
			           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
			           	<th:block th:with="w='15%',tt='text',nn='c_meeting__cm_nz',vv=${d.cm_nz},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='date',nn='c_meeting__cm_dz_p',vv=${d.cm_dz_p},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='date',nn='c_meeting__cm_dz_f',vv=${d.cm_dz_f},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='select',nn='c_meeting__c_type',vv=${d.c_type},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='select',nn='c_meeting__cm_stat_z',vv=${d.cm_stat_z},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
			       	</tr>
			       	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
			           	<td class="d-none"><input type="hidden" name="c_meeting__rn" value=""><input type="hidden" name="c_meeting__rnOld" value=""><input type="hidden" name="c_meeting__clazz" value="RMeeting"><input type="hidden" name="c_meeting__p_add" value="new"><input type="hidden" name="c_meeting__p_cmd" value=""></td>
			           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
			           	<th:block th:with="w='15%',tt='text',nn='c_meeting__cm_nz'"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='date',nn='c_meeting__cm_dz_p'"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='date',nn='c_meeting__cm_dz_f'"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='select',nn='c_meeting__c_type'"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	<th:block th:with="w='20%',tt='select',nn='c_meeting__cm_stat_z'"><td th:replace="fragments/tc :: cd"></td></th:block>
			    	</tr>
	        	</tbody>
        	</table>                       	
		</div>
        -->
   	</th:block>
</body>
</html>