<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="exists">
		<th:block th:if="${bs!=true}">
			<table class="table table-sm table-edited table-bordered"><tbody><tr>
	        	<th:block th:with="w='20%',tt='label',vv=${xx}"><th th:replace="fragments/tc :: ch"></th></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='20%',tt='xbutton',vv='Добавить',ddco='add',ddta=${r_ii},dden=${hs.cla(obj,r_ii,'add')}"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='20%',tt='xbutton',vv='Удалить',ddco='delete',ddta=${r_ii},dden=${hs.cla(obj,r_ii,'delete')}"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<td width="40%"></td>
	        </tr></tbody></table>
	        <table th:id="${r_ii}" class="table table-sm table-edited table-bordered">
	        	<tbody>
		        	<tr th:each="d : ${hs.getProperty(obj,r_ii)}" class="parent-popup">
			         	<td class="d-none"><input type="hidden" th:name="${r_ii+'__rnOld'}" th:value="${d.rn}"><input type="hidden" th:name="${r_ii+'__clazz'}" th:value=${r_ll}><input type="hidden" th:name="${r_ii+'__p_add'}" value="exists"><input type="hidden" th:name="${r_ii+'__p_cmd'}" value=""></td>
			           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
			           	<th:block th:with="w='87%',tt='text',vv=${d.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
   						<th:block th:with="w='4%',tt='pbutton',nn1=${r_ii},nn2='rn',vv=${d.rn},ro=${hs.cua(d,r_ii)==true?0:1},ddcl=${r_ll},ddti=${xx},ddco='rn;name=Наименование=YYA',ddfi=${ff!=null?ff:hs.ai(obj.clazz,r_ii,'fs')}"><td th:replace="fragments/tc :: cd"></td></th:block>
   						<th:block th:with="w='4%',tt='anchor',vv=${'detailsObj?readonly=1&rn=' + d.rn + '&prn=' + obj.rn}"><td th:replace="fragments/tc :: cr"></td></th:block>
			       	</tr>
			       	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
			           	<td class="d-none"><input type="hidden" th:name="${r_ii+'__rnOld'}" value=""><input type="hidden" th:name="${r_ii+'__clazz'}" th:value=${r_ll}><input type="hidden" th:name="${r_ii+'__p_add'}" value="exists"><input type="hidden" th:name="${r_ii+'__p_cmd'}" value=""></td>
			           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
			           	<th:block th:with="w='87%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
   						<th:block th:with="w='4%',tt='pbutton',nn1=${r_ii},nn2='rn',vv='',ddcl=${r_ll},ddti=${xx},ddco='rn;name=Наименование=YYA',ddfi=${ff!=null?ff:hs.ai(obj.clazz,r_ii,'fs')}"><td th:replace="fragments/tc :: cd"></td></th:block>
   						<th:block th:with="w='4%',tt='label',vv=''"><td th:replace="fragments/tc :: cr"></td></th:block>
			    	</tr>
	        	</tbody>
        	</table> 
       	</th:block>
       	<th:block th:if="${bs==true}">
       		<div th:id="${r_ii}" class="form-group-sm mt-sm-1">
				<label class="col-sm-4" th:text="${xx}"></label>
				<div class="col-sm-12">
					<table class="table table-sm table-striped table-light table-bordered">
	    				<thead>
					        <tr>
					            <th class="d-none">Идентификатор</th>
					            <th>#</th>
					            <th th:text="${'Наименование'}"></th>
					            <th></th>
					            <th></th>
					            <th class="d-none">Команда</th>
					        </tr>
	        			</thead>
				        <tbody>
				        	<tr th:if="${rco!=1}" class="first-row not-visible">
					            <td class="d-none">
					            	<input type="hidden" th:name="${r_ii+'__rn'}" value="">
					            	<input type="hidden" th:name="${r_ii+'__rnOld'}" value="">
					            	<input type="hidden" th:name="${r_ii+'__clazz'}" th:value="${r_ll}">
					            	<input type="hidden" th:name="${r_ii+'__p_add'}" value="exists">
					            </td>
					            <td></td>
					            <td class="edited">
					            	<span></span>
					            	<input th:name="${r_ii+'__rn'}" type="hidden" value="" data-type="select" th:data-clazz="${r_ll}" th:data-title="${xx}" data-column="rn;name=Наименование" data-filter="${hs.ai(obj.clazz,r_ii,'fs')}">
					            </td>
					            <td></td>
					            <td><button class="remove-item btn btn-light btn-sm" type="button" data-item="" title="Удалить элемент"><i class="fa fa-sm fa-minus"></i></button></td>
					            <td class="d-none cmd"><input type="hidden" th:name="${r_ii+'__p_cmd'}" value=""></td>
					        </tr>
					        <tr th:each="d,iter : ${hs.getProperty()obj,r_ii)}">
					            <td class="d-none">
					            	<input type="hidden" th:name="${r_ii+'__rn'}" th:value="${d.rn}">
					            	<input type="hidden" th:name="${r_ii+'__rnOld'}" th:value="${d.rn}">
					            	<input type="hidden" th:name="${r_ii+'__clazz'}" th:value="${r_ll}">
					            	<input type="hidden" th:name="${r_ii+'__p_add'}" value="exists">
					            </td>
					            <td th:text="${iter.index + 1}"/>
					            <td class="edited">
					            	<span th:text="${d.name}"></span>
					            	<input th:if="${rco!=1}" th:name="${r_ii+'__rn'}" type="hidden" th:value="${d.rn}" data-type="select" th:data-clazz="${r_ll}" th:data-title="${xx}" data-column="name=Наименование" data-filter="">
					            </td>
					            <td><a th:href="@{/detailsObj?readonly=1&rn=} + ${d.rn} + '&prn=' + ${obj.rn}" class="btn btn-light btn-sm" title="Редактировать/просмотреть элемент"><i class="fa fa-sm fa-file"></i></a></td>
					            <td><button th:if="${rco!=1}" class="remove-item btn btn-light btn-sm" type="button" th:data-item="${d.rn}" title="Удалить элемент"><i class="fa fa-sm fa-minus"></i></button></td>
					            <td class="d-none cmd"><input type="hidden" th:name="${r_ii+'__p_cmd'}" value=""></td>
					        </tr>
					        <tr th:if="${rco!=1}" class="last-row">
					        	<td class="d-none"/>
					        	<td><button class="add-item btn btn-light btn-sm" type="button" title="Добавить элемент"><i class="fa fa-sm fa-plus"></i></button></td>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td class="d-none"/>
				        	</tr>
				        </tbody>
	    			</table>
    			</div>
   			</div>
       	</th:block>
   	</th:block>
   	<th:block th:fragment="new">
		<th:block th:if="${bs!=true}">
	   		<table class="table table-sm table-edited table-bordered"><tbody><tr>
	        	<th:block th:with="w='16%',tt='label',vv=${xx}"><th th:replace="fragments/tc :: ch"></th></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta=${r_ii},dden=${hs.cla(obj,r_ii,'add')}"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Исправить',ddco='update',ddta=${r_ii},ddsi='10',dden=${hs.cla(obj,r_ii,'edit')}"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='delete',ddta=${r_ii},dden=${hs.cla(obj,r_ii,'delete')}"><td th:replace="fragments/tc :: cd"></td></th:block>
	        	<td width="36%"></td>
	        </tr></tbody></table>
	        <table th:id="${r_ii}" class="table table-sm table-edited table-bordered">
	        	<tbody th:with="la=${hs.la(r_ll,false)},len=${95/#lists.size(la)}">
	        		<tr>
	        			<td class="d-none"/>
	        			<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		<th:block th:each="attr : ${la}">
			       			<th:block th:with="w=${''+(attr.length>0?attr.length:len)+'%'},tt='label',vv=${attr.title}"><td th:replace="fragments/tc :: cd"></td></th:block>
			       		</th:block>
	        		</tr>
		        	<tr th:each="dd : ${hs.getProperty(obj,r_ii)}">
			         	<td class="d-none"><input type="hidden" th:name="${r_ii+'__rn'}" th:value="${dd.rn}"><input type="hidden" th:name="${r_ii+'__rnOld'}" th:value="${dd.rn}"><input type="hidden" th:name="${r_ii+'__clazz'}" th:value="${r_ll}"><input type="hidden" th:name="${r_ii+'__p_add'}" value="new"><input type="hidden" th:name="${r_ii+'__p_cmd'}" value=""></td>
			           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
			           	<th:block th:each="attr : ${la}">
			           		<th:block th:with="w=${''+(attr.length>0?attr.length:len)+'%'},tt=${attr.type},nn=${r_ii+'__'+attr.attrName},vv=${hs.getProperty(dd,attr.attrName)},zz=${attr.attr},ll=${attr.editList},ro=${hs.cua(dd,attr.attrName)==true?0:1},ddfi=${ff!=null?ff:hs.ai(obj.clazz,r_ii,'fs')}"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	</th:block>
			       	</tr>
			       	<tr th:if="${rco!=1}" class="not-visible last-row">
			           	<td class="d-none"><input type="hidden" th:name="${r_ii+'__rn'}" value=""><input type="hidden" th:name="${r_ii+'__rnOld'}" value=""><input type="hidden" th:name="${r_ii+'__clazz'}" th:value="${r_ll}"><input type="hidden" th:name="${r_ii+'__p_add'}" value="new"><input type="hidden" th:name="${r_ii+'__p_cmd'}" value=""></td>
			           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
			           	<th:block th:each="attr : ${la}">
			           		<th:block th:with="w=${''+(attr.length>0?attr.length:len)+'%'},tt=${attr.type},nn=${r_ii+'__'+attr.attrName},ll=${attr.editList},ddfi=${ff!=null?ff:hs.ai(obj.clazz,r_ii,'fs')}"><td th:replace="fragments/tc :: cd"></td></th:block>
			           	</th:block>
			    	</tr>
	        	</tbody>
	       	</table> 
   		</th:block>
       	<th:block th:if="${bs==true}">
       		<div th:id="${r_ii}" class="form-group-sm mt-sm-1">
				<label class="col-sm-4" th:text="${xx}"></label>
				<div class="col-sm-12">
					<table class="table table-sm table-striped table-light table-bordered">
	    				<thead>
					        <tr>
					            <th class="d-none">Идентификатор</th>
					            <th>#</th>
					            <th th:each="attr : ${hs.la(obj.clazz,false)}" th:text=${attr.title}></th>
					            <th></th>
					            <th></th>
					            <th class ="d-none">Команда</th>
					        </tr>
	        			</thead>
				        <tbody>
				        	<tr th:if="${rco!=1}" class="first-row not-visible">
					            <td class="d-none">
					            	<input type="hidden" th:name="${r_ii+'__rn'}" value="">
					            	<input type="hidden" th:name="${r_ii+'__rnOld'}" value="">
					            	<input type="hidden" th:name="${r_ii+'__clazz'}" th:value="${r_ll}">
					            	<input type="hidden" th:name="${r_ii+'__p_add'}" value="new">
					            </td>
					            <td></td>
					            <td th:each="attr : ${hs.la(r_ll,false)}"class="edited">
					            	<th:block th:with="tt=${attr.type},nn=${r_ii+'__'+attr.attrName},ll=${attr.editList},_attr=${attr.editAttr}"><th:block th:replace="fragments/component :: c"></th:block></th:block>
					            </td>
					            <td></td>
					            <td><button class="remove-item btn btn-light btn-sm" type="button" data-item="" title="Удалить элемент"><i class="fa fa-sm fa-minus"></i></button></td>
					            <td class="d-none cmd"><input type="hidden" th:name="${r_ii+'__p_cmd'}" value=""></td>
					        </tr>
					        <tr th:each="d,iter : ${hs.getProperty()obj,r_ii)}">
					            <td class="d-none">
					            	<input type="hidden" th:name="${r_ii+'__rn'}" th:value="${d.rn}">
					            	<input type="hidden" th:name="${r_ii+'__rnOld'}" th:value="${d.rn}">
					            	<input type="hidden" th:name="${r_ii+'__clazz'}" th:value="${r_ll}">
					            	<input type="hidden" th:name="${r_ii+'__p_add'}" value="new">
					            </td>
					            <td th:text="${iter.index + 1}"/>
					            <td th:each="attr : ${hs.la(r_ll,false)}" class="edited">
					            	<th:block th:with="tt=${attr.type},nn=${r_ii+'__'+attr.attrName},vv=${hs.getProperty(d,attr.name)},ll=${attr.editList},ro=${rco},_attr=${attr.editAttr}"><th:block th:replace="fragments/component :: c"></th:block></th:block>
					            </td>
					            <td><a th:href="@{/detailsObj?readonly=1&rn=} + ${d.rn} + '&prn=' + ${obj.rn}" class="btn btn-light btn-sm" title="Редактировать/просмотреть элемент"><i class="fa fa-sm fa-file"></i></a></td>
					            <td><button th:if="${rco!=1}" class="remove-item btn btn-light btn-sm" type="button" th:data-item="${d.rn}" title="Удалить элемент"><i class="fa fa-sm fa-minus"></i></button></td>
					            <td class="d-none cmd"><input type="hidden" th:name="${r_ii+'__p_cmd'}" value=""></td>
					        </tr>
					        <tr th:if="${rco!=1}" class="last-row">
					        	<td class="d-none"/>
					        	<td><button class="add-item btn btn-light btn-sm" type="button" title="Добавить элемент"><i class="fa fa-sm fa-plus"></i></button></td>
					        	<td th:each="attr : ${hs.la(r_ll,false)}"></td>
					        	<td></td>
					        	<td></td>
					        	<td class="d-none"/>
				        	</tr>
				        </tbody>
	    			</table>
    			</div>
   			</div>
       	</th:block>
   	</th:block>
</body>
</html>