<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="c">
	<label th:if="${tt=='label'}" th:class="${rr==1 ? 'required' : ''}" th:utext="${vv}"></label>
	<th:block th:if="${tt=='time'}">
		<div th:if="${ro!=1}" class="input-group date input_time" data-target-input="nearest">
			<input th:name="${nn}" class="form-control form-control-sm datetimepicker-input" th:data-target="${'div:has(>input[name='''+nn+'''])'}" type="text" th:value="${#dates.format(vv,'dd.MM.yyyy HH:mm.ss')}" th:required="${rr==1 ? 'required' : null}"></input>
			<div class="input-group-append" th:data-target="${'div:has(>input[name='''+nn+'''])'}" data-toggle="datetimepicker">
				<div class="input-group-text"><i class="fa fa-sm fa-calendar btn-link"></i></div>
			</div>
		</div>
		<th:block th:if="${ro==1}">
			<input class="form-control form-control-sm" type="text" th:value="${#dates.format(vv,'dd.MM.yyyy HH:mm.ss')}" readonly="readonly"></input>
		</th:block>
	</th:block>
	<th:block th:if="${tt=='date'}">
		<div th:if="${ro!=1}" class="input-group date input_date" data-target-input="nearest">
			<input th:name="${nn}" class="form-control form-control-sm datetimepicker-input" th:data-target="${'div:has(>input[name='''+nn+'''])'}" type="text" th:value="${#dates.format(vv,'dd.MM.yyyy')}" th:required="${rr==1 ? 'required' : null}"></input>
			<div class="input-group-append" th:data-target="${'div:has(>input[name='''+nn+'''])'}" data-toggle="datetimepicker">
				<div class="input-group-text"><i class="fa fa-sm fa-calendar btn-link"></i></div>
			</div>
		</div>
		<th:block th:if="${ro==1}">
			<input class="form-control form-control-sm" type="text" th:value="${#dates.format(vv,'dd.MM.yyyy')}" readonly="readonly"></input>
		</th:block>
	</th:block>
	<th:block th:if="${tt=='text'}">
		<th:block th:if="${ro!=1}">
			<input class="form-control form-control-sm" type="text" th:name="${nn}" th:value="${vv}" th:required="${rr==1 ? 'required' : null}"></input>
		</th:block>
		<th:block th:if="${ro==1}">
			<input class="form-control form-control-sm" type="text" th:value="${vv}" readonly="readonly"></input>
		</th:block>
	</th:block>
	<th:block th:if="${tt=='password'}">
		<input class="form-control form-control-sm" type="password" th:name="${nn}" th:value="${vv}" th:required="${rr==1 ? 'required' : null}"></input>
	</th:block>
	<th:block th:if="${tt=='select'}">
		<select th:if="${ro!=1}" th:name="${nn}" class="form-control form-control-sm" th:required="${rr==1 ? 'required' : null}">
			<option value=""></option>
			<option th:each="d : ${ll}" th:selected="${vv!=null && vv.rn==d.rn}" th:value="${d.rn}" th:utext="${d.name}"/>
		</select>  
		<select th:if="${ro==1}" class="form-control form-control-sm" disabled>
			<option selected="selected" th:value="${vv!=null ? vv.rn : ''}" th:utext="${vv!=null ? vv.name : ''}"/>
		</select>
	</th:block>
	<th:block th:if="${tt=='button'}">
		<div th:if="${ro!=1}">
			<button id="${ii}" type="button" class="btn btn-light btn-sm" th:utext="${vv}"></button>
		</div>
	</th:block>
	<th:block th:if="${tt=='pbutton'}">
		<div th:if="${ro!=1}">
			<button type="button" class="choose_obj btn btn-light btn-sm" th:data-clazz="${ddcl}" th:title="${ddti}" th:data-title="${ddti}" th:data-column="${ddco}" th:data-filter="${ddfi}"><i class="fa fa-sm fa-file btn-link"></i></button>
			<input th:name="${nn}" type="hidden" th:value="${vv}">
		</div>
	</th:block>
	<div th:if="${tt=='check' || tt=='checkbox'}" class="form-check">
		<label th:if="${ro!=1}" class="form-check-label">
			<input th:name="${nn}" type="checkbox" class="form-check-input" th:checked="${vv}==true" th:text="${xx}">
			<input type="hidden" th:name="${nn}" value="0">
		</label>
		<label th:if="${ro==1}" class="form-check-label">
			<input type="checkbox" class="form-check-input" th:checked="${vv}==true" th:text="${xx}" disabled>
		</label>
	</div>
	<th:block th:if="${tt=='file'}" class="custom-file">
		<div th:if="${ro!=1}">
			<input th:name="${nn}" type="file" class="custom-file-input">
			<label class="custom-file-label" th:data-browse="${vv}"></label>
		</div>
	</th:block>
	<th:block th:if="${tt=='mtext' || tt=='textarea'}">
		<th:block th:if="${ro!=1}">
			<textarea class="form-control form-control-sm" th:id="${ii}" th:name="${nn}" th:text="${vv}" th:required="${rr==1 ? 'required' : null}" th:rows="${rows==null ? 3 : rows}"></textarea>
		</th:block>
		<th:block th:if="${ro==1}">
			<textarea class="form-control form-control-sm" th:text="${vv}" readonly="readonly" th:rows="${rows==null ? 3 : rows}"></textarea>
		</th:block>
	</th:block>
	<th:block th:if="${tt=='feditor'}">
		<div class="col-sm-6 custom-file">
			<input type="file" class="custom-file-input" th:data-target="${ii}">
			<label class="custom-file-label text-truncate" data-browse="Загрузить из файла"></label>
		</div>
		<div class="col-sm-2">
			<button type="button" class="download btn btn-sm btn-light" th:data-target="${ii}">Выгрузить в файл</button>
		</div>
	</th:block>
</th:block>
