<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Page-Enter" content="blendTrans(Duration=0.2)" />
   	<meta http-equiv="Page-Exit" content="blendTrans(Duration=0.2)" />
	<title th:text="${p_title}"></title>
	<link rel="icon" th:href="@{/static/images/favicon.ico}" type="image/x-icon">

	<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/static/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/static/jquery-ui/jquery-ui.min.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/static/jquery-ui/jquery-ui.structure.min.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/static/jquery-ui/jquery-ui.theme.min.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/static/font-awesome/css/all.min.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/static/css/css.css}" type="text/css"/>
	
	<script th:src="@{/static/jquery/jquery.min.js}" type="text/javascript"></script>  
	<script th:src="@{/static/popper/popper.min.js}" type="text/javascript"></script> 
	<script th:src="@{/static/moment/min/moment.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/moment/min/locales.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/jquery-ui/jquery-ui.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>   
	<script th:src="@{/static/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/font-awesome/js/all.min.js}" type="text/javacsript"/></script>
	<script th:src="@{/static/js/jquery.nicescroll.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/js/common.js}" type="text/javascript"></script>
</head>
<body>
	<header th:fragment="header">
		<div class="container col-12">
			<div th:with="p_l=${!#strings.isEmpty(p_login)}" class="row align-items-center">
				<div class="col-sm-auto mr-sm-1 m-sm-1"><a th:href="@{/}"><img style="width: 6em;" th:src="@{/static/images/logo.png}"></a></div>
				<div class="col-sm-auto mr-sm-1">
					<h4>Минпросвещения России</h4>
			       	<small>Финансовый документооборот (тестовая версия)</small>
			       	<nav th:if="${#strings.contains(#httpServletRequest.requestURI,'listObj') && (clazz=='Document' || clazz=='Act' || clazz=='Reestr')}" class="navbar navbar-expand-lg navbar-light bg-light">
					  	<div class="collapse navbar-collapse">
					    	<ul class="navbar-nav mr-auto">
					    		<li class="nav-item text-uppercase"><a class="nav-link" th:href="@{/}"><i class="fa fa-sm fa-home"></i></a></li>
							    <li class="nav-item text-uppercase">
							    	<a th:if="${clazz!='Document'}" class="nav-link" th:href="@{/listObj?clazz=Document}">Документы</a>
							    	<span th:if="${clazz=='Document'}" class="nav-link nav-active">Документы</span>
						    	</li>
							    <li class="nav-item text-uppercase">
							    	<a th:if="${clazz!='Act'}" class="nav-link" th:href="@{/listObj?clazz=Act}">Акты приема-передачи</a>
							    	<span th:if="${clazz=='Act'}" class="nav-link nav-active">Акты приема-передачи</span>
						    	</li>
							    <li class="nav-item text-uppercase">
							    	<a th:if="${clazz!='Reestr'}" class="nav-link" th:href="@{/listObj?clazz=Reestr}">Реестры сдачи документов</a>
							    	<span th:if="${clazz=='Reestr'}" class="nav-link nav-active">Реестры сдачи документов</span> 
						    	</li>
						    </ul>
						</div>
					</nav>	    
		       	</div>
		       	<div class="col grow">
		       		<div th:if="${p_l}" class="mr-sm-2 text-align-right">
				       	<small th:utext="${'Пользователь: ' + p_login}" ></small>
						<a href="logout" class="btn btn-sm btn-light"><i class="fa fa-sm fa-sign-out-alt"></i> Выход</a>
					</div>
					<div th:if="${p_l}" class="mr-sm-2 text-align-right">
						<small><a href="changePassword">Изменение пароля</a></small>
					</div>
				</div>
			</div>
		</div>
  	</header>
  	<div th:fragment="list-param">
 		<input type="hidden" id="clazz" th:value="${clazz}" />
 		<input type="hidden" name="rn" th:value="${rn}" />
 		<input type="hidden" name="p_listVisible" value="" />
  	</div>
  	<div th:fragment="list-buttons" class="row small col-sm-12">
		<div th:if="${listButton!=null}" class="btn-group">
			<button th:each="btn : ${listButton}" th:data-param="${btn.name}" th:class="${'execute_obj btn btn-sm btn-' + btn.color}" type="button" th:utext="${(btn.icon!=null ? '<i class=''fa fa-sm fa-' + btn.icon + '''></i>' : '') + ' ' + btn.title}"></button>
		</div>
		<div class="col grow">
			<div class="text-align-right">
				<label th:if="${clazz=='Document'}" class="form-check-label">
					<input name="p_all" type="checkbox" class="form-check-input" th:checked="${p_all}==true" th:text="${'Все версии'}">
				</label>
	 			<button id="set-visible"class="btn btn-sm btn-light" type="button"><i class="fa fa-sm fa-list" title="Задать колонки"></i></button>
	 			<button id="clear-filter"class="btn btn-sm btn-light" type="button"><i class="fa fa-sm fa-stop-circle" title="Сбросить фильтры"></i></button>
			</div>
		</div>
	</div>
	<div th:fragment="details-param">
 		<input type="hidden" name="clazz" th:value="${obj.clazz}" />
 		<input type="hidden" name="rn" th:value="${obj.rn}" />
 		<input type="hidden" name="p_ret" th:value="${p_ret}" />
  	</div>
	<div th:fragment="details-buttons" class="row small col-sm-12">
		<div class="btn-group">
            <button th:if="${readonly!=true}" id="submitButton" class="submit-button btn btn-sm btn-light" type="submit"><i class="fa fa-sm fa-save"></i> Сохранить</button>
            <a id="cancelButton" th:if="${p_ret=='search'}" th:href="${'search?p_ret=1}" class="cancel-button btn btn-sm btn-light"><i class="fa fa-sm fa-window-close"></i> Отмена</a>
            <a id="cancelButton" th:if="${p_ret!='search' && prn==null}" th:href="${'listObj?p_ret=1&clazz=' + obj.baseClazz + (obj.rn!=null ? '&rn=' + obj.rn : '')}" class="cancel-button btn btn-sm btn-light"><i class="fa fa-sm fa-window-close"></i> Отмена</a>
            <a id="cancelButton" th:if="${p_ret!='search' && prn!=null}" th:href="${'detailsObj?rn=' + prn}" class="cancel-button btn btn-sm btn-light"><i class="fa fa-sm fa-window-close"></i> Отмена</a>
            <button th:each="btn : ${listButton}" th:data-param="${btn.name}" th:class="${'execute_obj btn btn-sm btn-' + btn.color}" type="button" th:utext="${(btn.icon!=null ? '<i class=''fa fa-sm fa-' + btn.icon + '''></i>' : '') + ' ' + btn.title}"></button>
		</div>
	</div>
	<div th:fragment="details-header" class="col-sm-12 card-header"><h5 th:text="${p_title}"></h5></div>
	<table th:fragment="list-table" id="objTable" class="table-fixed table table-sm table-striped table-light table-bordered small">
    	<thead th:with="l_f=${p_filtering!=null && p_filtering}">
	        <tr>
	            <th class="d-none">Идентификатор</th>
	            <th th:if="${l_f}" id="filterButton" class="pointer"><i class="fa fa-sm fa-angle-double-down" aria-hidden="true" title="Показать/скрыть фильтр"></i></th>
	            <th th:if="${!l_f}">#</th>
	            <th th:each="col : ${listColumn}" th:class="${col.sortable ? 'sorting' : ''}">
	            	<div class="max-width">
		            	<span th:text="${col.title} + ${col.sortable ? '&nbsp;&nbsp;&nbsp;' : ''}"></span>
		            	<input th:if="${col.sortable}" type="hidden" th:name="${'sort__' + col.name}" th:value="${p_sort.get(col.name) != null ? p_sort.get(col.name) : 'NONE'}">
	            	</div>
	            </th>
	        </tr>
	        <tr th:if="${l_f}" id="filterRow" class="not-visible">
	        	<th class="d-none"></th>
	        	<th id="findButton" class="pointer"><i class="fa fa-sm fa-search" aria-hidden="true" title="Обновить с учетом фильтров"></i></th>
	        	<th th:each="col : ${listColumn}">
	        		<div th:with="c_f=${col.filter!=null ? col.filterType : ''}" class="max-width">
		        		<input th:if="${c_f=='text'}" type="text" th:name="${col.filter}" class="form-control form-control-th" th:value="${hs.getVariableString(#vars,col.filter)}">
		        		<select th:if="${c_f=='select'}" th:name="${col.filter}" class="form-control form-control-th">
		        			<option value=""></option>
							<option th:each="item : ${hs.getVariable(#vars,col.filterList)}" th:text="${item.name}" th:selected="${hs.getVariable(#vars,col.filter)==item.rn}" th:value="${item.rn}"/>
						</select>
						<div th:if="${c_f=='checkbox'}" class="form-inline form-check">
			        		<label class="form-check-label">
			        			<input type="checkbox" th:name="${col.filter}" class="form-check-input" th:checked="${hs.getVariable(#vars,col.filter)}==true">
		        			</label>
	        			</div>
        			</div>
	        	</th>
        	</tr>
        </thead>
        <tbody>
	        <tr th:each="obj,iter : ${listObj}">
	            <td class="d-none" th:text="${obj.rn}"/>
	            <td th:text="${(p_off==null ? 0 : p_off)  * (p_page==null ? 0 : p_page) + iter.index + 1}"/>
	            <td th:each="col : ${listColumn}">
	            	 <div th:text="${hs.getPropertyString(obj,col.name)}" class="max-width"></div>
            	</td>
	        </tr>
        </tbody>
    </table>
    <div th:fragment="list_file" id="list_file" class="form-group-sm mt-sm-1">
		<label class="col-sm-2 col-form-label">Прикрепленные файлы</label>
		<div class="col-sm-12">
			<table class="table table-sm table-striped table-light table-bordered">
			   	<thead>
					<tr>
						<th class="d-none">Идентификатор</th>
						<th>#</th>
						<th>Файл документа</th>
						<th>Прикрепить или заменить файл</th>
						<th>Комментарий</th>
						<th>Расширение</th>
						<th>Тип</th>
						<th>Длина</th>
						<th></th>
						<th></th>
						<th class="d-none">Команда</th>
		        	</tr>
				</thead>
				<tbody>
			   		<tr th:if=${readonly!=true} class="first-row not-visible">
			        	<td class="d-none">
			        		<input type="hidden" name="list_file__rn" value="">
			        		<input type="hidden" name="list_file__rnOld" value="">
			        		<input type="hidden" name="list_file__clazz"value="IFile">
			        		<input type="hidden" name="list_file__p_add" value="new">
			        	</td>
			        	<td></td>
			        	<td><button class="btn btn-light btn-sm" type="button" data-item="" th:text="${''}"></button></td>
			        	<td class="edited">
			        		<span></span>
			        		<div class="custom-file not-visible" >
								<input name="list_file__fileuri" type="file" class="custom-file-input">
								<label class="custom-file-label" data-browse="Прикрепить файл"></label>
							</div>
			        	</td>
			        	<td class="edited">
			        		<span></span>
							<input name="list_file__comment" class="not-visible form-control form-control-sm" type="text" th:value="${list_file__comment}">
			        	</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><button class="remove-item btn btn-light btn-sm" type="button" data-item="" title="Удалить элемент"><i class="fa fa-sm fa-minus"></i></button></td>
						<td class="d-none cmd"><input type="hidden" name="list_file__p_cmd" value=""></td>
			    	</tr>
			    	<tr th:each="f,iter : ${obj?.list_file}">
				        <td class="d-none">
				        	<input type="hidden" name="list_file__rn" th:value="${f.rn}">
				        	<input type="hidden" name="list_file__rnOld" value="">
				        	<input type="hidden" name="list_file__clazz" value="IFile">
				        	<input type="hidden" name="list_file__p_add" value="new">
				       	</td>
			        	<td th:text="${iter.index + 1}"/>
			        	<td><button class="view-item btn btn-light btn-sm" type="button" th:data-item="@{/fileView?rn=} + ${f.rn}" th:text="${f.filename}"></button></td>
			        	<td class="edited">
			        		<span></span>
							<div th:if=${readonly!=true} class="custom-file not-visible">
								<input name="list_file__fileuri" type="file" class="custom-file-input">
								<label class="custom-file-label" data-browse="Прикрепить файл"></label>
							</div>							            
			        	</td>
			        	<td class="edited">
			        		<span th:utext="${f.comment}"></span>
							<input name="list_file__comment" class="not-visible form-control form-control-sm" type="text" th:value="${f.comment}">
			        	</td>
			        	<td th:text="${f.fileext}"/>
			        		<td th:text="${f.filetype?.name}"/>
			        	<td th:text="${f.filelength}"/>
			        	<td><a th:if=${readonly!=true} th:href="@{/detailsObj?clazz=IFile&rn=} + ${f.rn} + '&prn=' + ${obj.rn}" class="btn btn-light btn-sm" title="Редактировать/просмотреть элемент"><i class="fa fa-sm fa-file"></i></a></td>
			        	<td><button th:if=${readonly!=true} class="remove-item btn btn-light btn-sm" type="button" th:data-item="${f.rn}" title="Удалить элемент"><i class="fa fa-sm fa-minus"></i></button></td>
			        	<td class="d-none cmd"><input type="hidden" name="list_file__p_cmd" value=""></td>
			    	</tr>
			    	<tr th:if=${readonly!=true} class="last-row">
			    		<td class="d-none"/>
			    		<td><button class="add-item btn btn-light btn-sm" type="button" title="Добавить элемент"><i class="fa fa-sm fa-plus"></i></button></td>
			    		<td></td>
			    		<td></td>
			    		<td></td>
			    		<td></td>
			    		<td></td>
			    		<td></td>
			    		<td></td>
			    		<td></td>
			    		<td class="d-none"/>
			   		</tr>
			   	</tbody>
		   	</table>
	 	</div>
	</div>
	<th:block th:fragment="file_list">
		<table class="table table-sm table-edited table-bordered small"><tbody><tr>
        	<th:block th:with="w='16%',tt='label',vv='Прикрепленные файлы'"><th th:replace="fragments/tc :: ch"></th></th:block>
        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_file'"><td th:replace="fragments/tc :: cd"></td></th:block>
        	<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_file'"><td th:replace="fragments/tc :: cd"></td></th:block>
        	<td width="52%"></td>
        </tr></tbody></table>
        <table id="list_file" class="table table-sm table-edited table-bordered small"><tbody>
        	<tr th:each="d : ${obj?.list_file}">
	         	<td class="d-none">
	         		<input type="hidden" name="list_file__rn" th:value="${d.rn}">
	            	<input type="hidden" name="list_file__rnOld" th:value="${d.rn}">
	            	<input type="hidden" name="list_file__clazz" value="IFile">
	            	<input type="hidden" name="list_file__p_add" value="new">
	            	<input type="hidden" name="list_file__p_cmd" value="">	
	           	</td>
	           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	           	<th:block th:with="w='45%',tt='text',nn='list_file__comment',vv=${d.comment}"><td th:replace="fragments/tc :: cd"></td></th:block>
	           	<th:block th:with="w='46%',tt='file',nn='list_file__fileuri',vv=${d.filename},ll='Заменить файл'"><td th:replace="fragments/tc :: cd"></td></th:block>
	           	<th:block th:with="w='4%',tt='anchor',vv=${'fileView?rn=' + d.rn}"><td th:replace="fragments/tc :: cr"></td></th:block>
	       	</tr>
	       	<tr th:if="${rco!=1}" class="not-visible last-row">
	           	<td class="d-none">
	           		<input type="hidden" name="list_file__rn" value="">
	            	<input type="hidden" name="list_file__rnOld" value="">
	            	<input type="hidden" name="list_file__clazz" value="IFile">
	            	<input type="hidden" name="list_file__p_add" value="new">
	            	<input type="hidden" name="list_file__p_cmd" value="">
	           	</td>
	           	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	           	<th:block th:with="w='45%',tt='text',nn='list_file__comment',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
	           	<th:block th:with="w='46%',tt='file',nn='list_file__fileuri',vv='',ll='Добавить файл'"><td th:replace="fragments/tc :: cd"></td></th:block>
	           	<th:block th:with="w='4%',tt='label',vv=''"><td th:replace="fragments/tc :: cr"></td></th:block>
	    	</tr>
        </tbody></table>
    </th:block>
	<th:block th:fragment="mailing_list">
		<table class="table table-sm table-edited table-bordered small"><tbody><tr>
			<th:block th:with="w='16%',tt='label',vv='Список рассылки'"><th th:replace="fragments/tc :: ch"></th></th:block>
			<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='mailing_list'"><td th:replace="fragments/tc :: cd"></td></th:block>
			<th:block th:if="${rco!=1}" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='mailing_list'"><td th:replace="fragments/tc :: cd"></td></th:block>
			<td width="52%"></td>
		</tr></tbody></table>
		<table id="mailing_list" class="table table-sm table-edited table-bordered small"><tbody>
			<tr class="parent-popup" th:each="d : ${obj?.mailing_list}">
				<td class="d-none">
					<input type="hidden" name="mailing_list__rn" th:value="${d.rn}">
					<input type="hidden" name="mailing_list__rnOld" th:value="${d.rn}">
					<input type="hidden" name="mailing_list__clazz" value="IMailing">
					<input type="hidden" name="mailing_list__p_add" value="new">
					<input type="hidden" name="mailing_list__p_cmd" value="">
				</td>
	 			<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
				<th:block th:with="w='15%',tt='text',vv=${d.person?.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	 			<th:block th:with="w='76%',tt='text',vv=${d.person?.depart?.name},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
				<th:block th:with="w='4%',tt='pbutton',nn1='mailing_list',nn2='person',vv=${d.person?.rn},ddcl='IPerson',ddti='Выберите сотрудника',ddco='rn;name=Кому;depart__name=Структурное подразделение',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
			</tr>
			<tr th:if="${rco!=1}" class="parent-popup not-visible last-row">
				<td class="d-none">
					<input type="hidden" name="mailing_list__rn" value="">
					<input type="hidden" name="mailing_list__rnOld" value="">
					<input type="hidden" name="mailing_list__clazz" value="IMailing">
					<input type="hidden" name="mailing_list__p_add" value="new">
					<input type="hidden" name="mailing_list__p_cmd" value="">
				</td>
				<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
				<th:block th:with="w='15%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
				<th:block th:with="w='76%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
				<th:block th:with="w='4%',tt='pbutton',nn1='mailing_list', nn2='person',vv='',ddmu='true',ddcl='IPerson',ddti='Выберите сотрудника',ddco='rn=Идентификатор;name=Кому;depart__name=Структурное подразделение',ddfi=''"><td th:replace="fragments/tc :: cd"></td></th:block>
			</tr>
		</tbody></table>
	</th:block>
	<div th:fragment="modal" class="modal" tabindex="-1" role="dialog" style="height: 90%"></div>
	<footer th:fragment="details-footer">
		<div class="c-footer">		
    		<small th:if="${hs!=null && hs.propertyExists(obj,'modifier')}" th:text="${'Изменен: ' + obj.modifier + ', дата/время: ' + #dates.format(obj.mdate,'dd.MM.yyyy HH:mm:ss')}"></small>
   		</div>
    </footer>
</body>
</html>