<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="pager-param">
		<input type="hidden" name="p_off" th:value="${p_off}" />
		<input type="hidden" name="p_page" th:value="${p_page}" />
	</div>
	<div th:fragment="pager" class="c-footer">
		<div th:if="${p_total!=null && p_totalRows!=null}" class="row col-sm-12 small">
			<div th:if="${p_total} gt 1" class="col-sm-auto mr-sm-1">
				<ul class="pagination pagination-sm margin-bottom-0">
					<li th:each="pn : ${p_pageNumbers}" th:class="${'page-item' + (((p_off + 1) == pn) ? ' active' : '')}">
						<button th:if=${pn!=0} class="page-link" th:text="${pn}" th:data-value="${pn - 1}"></button>
						<button th:if=${pn==0} class="page-link">...</button>
					</li>
				</ul> 
			</div>
			<label th:utext="${'Всего записей: ' + p_totalRows + ' '}" class="col-form-label mr-sm-4"></label>
			<label th:if="${p_countPages!=null}" class="col-form-label mr-sm-2">На странице</label>
			<select th:if="${p_countPages!=null}" class="p_page custom-select">
				<option th:each="pn : ${p_countPages}" th:value="${pn}" th:selected="${pn==p_page}" th:text="${pn}"/>
			</select>
		</div>
	</div>	
	<div th:fragment="total" class="c-footer">
		<div class="row col-sm-12">
			<div class="small">
				<label th:text="${'Всего записей: ' + #lists.size(listObj.content) + ' '}"></label>
			</div>
		</div>
	</div>
</html>