<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="spec1_list">
		<table class="table table-sm table-edited table-bordered small">
			<tbody>
				<tr>
		           	<th:block th:with="w='16%',tt='label',vv='Спецификация'"><th th:replace="fragments/tc :: ch"></th></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Исправить',ddco='update',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<td width="36%"></td>
		        </tr>
	        </tbody>
        </table>
        <table id="list_spec" class="table table-sm table-edited table-bordered small">
        	<tbody>
        		<tr>
		       		<td class="d-none"></td>
		       		<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='24%',tt='label',vv='КБК',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='20%',tt='label',vv='Сумма ББА (следующий год)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='20%',tt='label',vv='Сумма ББА (первый год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='20%',tt='label',vv='Сумма ББА (второй год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		      		<td width="11%"></td>
       			</tr>
     		</tbody>
        	<tbody>
        		<tr th:each="d : ${obj?.list_spec}" class="parent-popup">
	            	<td class="d-none">
	            		<input type="hidden" name="list_spec__rn" th:value="${d.rn}">
	       				<input type="hidden" name="list_spec__rnOld" th:value="${d.rn}">
	       				<input type="hidden" name="list_spec__clazz" th:value="${d.clazz}">
	       				<input type="hidden" name="list_spec__p_add" value="new">
	       				<input type="hidden" name="list_spec__p_cmd" value="">
	            	</td>
	            	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	            	<th:block th:with="w='20%',tt='text',vv=${d.kbk},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kbk',vv=${d.kbk},ro=${rco},ddcl='SpKBK',ddti='Выберите КБК',ddco='kbk;kbk=КБК=YYA',ddfi='kbk,substring,18,1 =4 OR =2'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='20%',tt='text',nn='list_spec__sum1',vv=${d.sum1},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='20%',tt='text',nn='list_spec__sum2',vv=${d.sum2},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='20%',tt='text',nn='list_spec__sum3',vv=${d.sum3},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<td width="11%"></td>
	           	</tr>
	           	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
	            	<td class="d-none">
	            		<input type="hidden" name="list_spec__rn" value="">
				       	<input type="hidden" name="list_spec__rnOld" value="">
				       	<input type="hidden" name="list_spec__clazz" value="Specification1">
				       	<input type="hidden" name="list_spec__p_add" value="new">
				       	<input type="hidden" name="list_spec__p_cmd" value="">
	            	</td>
	            	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	            	<th:block th:with="w='20%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kbk',vv='',ddcl='SpKBK',ddti='Выберите КБК',ddco='kbk;kbk=КБК=YYA',ddfi='kbk,substring,18,1 =4 OR =2'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='20%',tt='text',nn='list_spec__sum1',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='20%',tt='text',nn='list_spec__sum2',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='20%',tt='text',nn='list_spec__sum3',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<td width="11%"></td>
	           	</tr>
	       	</tbody>
	       	<tbody>
	       		<tr>
		       		<th:block th:with="w='29%',tt='label',vv='ИТОГО',aa='l',cs=3"><th th:replace="fragments/tc :: ch"></th></th:block>
		       		<th:block th:with="w='20%',tt='calc',ddoo='sum',ddnn='list_spec__sum1',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='20%',tt='calc',ddoo='sum',ddnn='list_spec__sum2',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='20%',tt='calc',ddoo='sum',ddnn='list_spec__sum3',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<td width="11%"></td>
	       		</tr>
     		</tbody>
    	</table>
   	</th:block>
   	<th:block th:fragment="spec2_list">
		<table class="table table-sm table-edited table-bordered small">
			<tbody>
				<tr>
		           	<th:block th:with="w='16%',tt='label',vv='Спецификация'"><th th:replace="fragments/tc :: ch"></th></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='32%',tt='xbutton',vv='Создать с копированием',ddco='copy',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Исправить',ddco='update',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<td width="4%"></td>
		        </tr>
			</tbody>
		</table>
        <table id="list_spec" class="table table-sm table-edited table-bordered small">
        	<tbody>
        		<tr>
		       		<td class="d-none"></td>
		       		<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='№ предложения на закупку'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='19%',tt='label',vv='КОСГУ',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Сумма (следующий год)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Сумма (первый год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Сумма (второй год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Описание изменения'"><td th:replace="fragments/tc :: cd"></td></th:block>
		      		<td width="5%"></td>
       			</tr>
    		</tbody>
    		<tbody>
	           	<tr th:each="d : ${obj?.list_spec}" class="parent-popup">
	            	<td class="d-none">
	            		<input type="hidden" name="list_spec__rn" th:value="${d.rn}">
	       				<input type="hidden" name="list_spec__rnOld" th:value="${d.rn}">
	       				<input type="hidden" name="list_spec__clazz" th:value="${d.clazz}">
	       				<input type="hidden" name="list_spec__p_add" value="new">
	       				<input type="hidden" name="list_spec__p_cmd" value="">
	            	</td>
	            	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__num',vv=${d.num},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',vv=${d.kosgu},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
					<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kosgu',vv=${d.kosgu},ro=${rco},ddcl='SpKBK',ddti='Выберите КОСГУ',ddco='kosgu;kosgu=КОСГУ=Y1A',ddfi='kbk $kbk$'"><td th:replace="fragments/tc :: cd"></td></th:block>            	
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum1',vv=${d.sum1},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum2',vv=${d.sum2},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum3',vv=${d.sum3},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__description',vv=${d.description},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<td width="1%"></td>
	           	</tr>
	           	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
	            	<td class="d-none">
	            		<input type="hidden" name="list_spec__rn" value="">
				       	<input type="hidden" name="list_spec__rnOld" value="">
				       	<input type="hidden" name="list_spec__clazz" value="Specification2">
				       	<input type="hidden" name="list_spec__p_add" value="new">
				       	<input type="hidden" name="list_spec__p_cmd" value="">
	            	</td>
	            	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__num',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
			        <th:block th:with="w='15%',tt='text',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kosgu',vv='',ddcl='SpKBK',ddti='Выберите КОСГУ',ddco='kosgu;kosgu=КОСГУ=Y1A',ddfi='kbk $kbk$'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum1',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum2',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum3',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__description',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<td width="1%"></td>
	           	</tr>
       		</tbody>
       		<tbody>
	       		<tr>
		       		<th:block th:with="w='39%',tt='label',vv='ИТОГО',aa='l',cs=4"><th th:replace="fragments/tc :: ch"></th></th:block>
		       		<th:block th:with="w='15%',tt='calc',ddoo='sum',ddnn='list_spec__sum1',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='15%',tt='calc',ddoo='sum',ddnn='list_spec__sum2',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='15%',tt='calc',ddoo='sum',ddnn='list_spec__sum3',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<td width="16%"></td>
		       	</tr>
	       	</tbody>
       	</table>
   	</th:block>
   	<th:block th:fragment="spec3_list">
		<table class="table table-sm table-edited table-bordered small">
			<tbody>
				<tr>
		           	<th:block th:with="w='16%',tt='label',vv='Спецификация'"><th th:replace="fragments/tc :: ch"></th></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='32%',tt='xbutton',vv='Создать с копированием',ddco='copy',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Исправить',ddco='update',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<td width="4%"></td>
		        </tr>
	        </tbody>
        </table>
        <table id="list_spec" class="table table-sm table-edited table-bordered small">
        	<tbody>
        		<tr>
		       		<td class="d-none"></td>
		       		<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='19%',tt='label',vv='КБК',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='19%',tt='label',vv='КОСГУ',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Сумма (следующий год)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Сумма (первый год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Сумма (второй год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		      		<td width="12%"></td>
		       	</tr>
	       	</tbody>
        	<tbody>
	           	<tr th:each="d : ${obj?.list_spec}" class="parent-popup">
	            	<td class="d-none">
	            		<input type="hidden" name="list_spec__rn" th:value="${d.rn}">
	       				<input type="hidden" name="list_spec__rnOld" th:value="${d.rn}">
	       				<input type="hidden" name="list_spec__clazz" th:value="${d.clazz}">
	       				<input type="hidden" name="list_spec__p_add" value="new">
	       				<input type="hidden" name="list_spec__p_cmd" value="">
	            	</td>
	            	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',ro=1',vv=${d.kbk},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kbk',vv=${d.kbk},ro=${rco},ddcl='SpKBK',ddti='Выберите КБК',ddco='kbk;kbk=КБК=Y0A',ddfi='kbk,substring,18,1 =4 OR =2'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',vv=${d.kosgu},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kosgu',vv=${d.kosgu},ro=${rco},ddcl='SpKBK',ddti='Выберите КОСГУ',ddco='kosgu;kosgu=КОСГУ=Y1A',ddfi='kbk $kbk$'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum1',vv=${d.sum1},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum2',vv=${d.sum2},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum3',vv=${d.sum3},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<td width="12%"></td>
	           	</tr>
	           	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
	            	<td class="d-none">
	            		<input type="hidden" name="list_spec__rn" value="">
				       	<input type="hidden" name="list_spec__rnOld" value="">
				       	<input type="hidden" name="list_spec__clazz" value="Specification3">
				       	<input type="hidden" name="list_spec__p_add" value="new">
				       	<input type="hidden" name="list_spec__p_cmd" value="">
	            	</td>
	            	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kbk',vv='',ddcl='SpKBK',ddti='Выберите КБК',ddco='kbk;kbk=КБК=Y0A',ddfi='kbk,substring,18,1 =4 OR =2'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kosgu',vv='',ddcl='SpKBK',ddti='Выберите КОСГУ',ddco='kosgu;kosgu=КОСГУ=Y1A',ddfi='kbk $kbk$'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum1',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum2',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum3',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<td width="12%"></td>
	           	</tr>
       		</tbody>
       		<tbody>
       			<tr>
		       		<th:block th:with="w='43%',tt='label',vv='ИТОГО',aa='l',cs=5"><th th:replace="fragments/tc :: ch"></th></th:block>
		       		<th:block th:with="w='15%',tt='calc',ddoo='sum',ddnn='list_spec__sum1',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='15%',tt='calc',ddoo='sum',ddnn='list_spec__sum2',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='15%',tt='calc',ddoo='sum',ddnn='list_spec__sum3',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<td width="12%"></td>
		       	</tr>
	       	</tbody>
       	</table>
   	</th:block>
   	<th:block th:fragment="spec4_list">
		<table class="table table-sm table-edited table-bordered small">
			<tbody>
				<tr>
		           	<th:block th:with="w='16%',tt='label',vv='Спецификация'"><th th:replace="fragments/tc :: ch"></th></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Исправить',ddco='update',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<td width="36%"></td>
		        </tr>
	        </tbody>
        </table>
        <table id="list_spec" class="table table-sm table-edited table-bordered small">
        	<tbody>
        		<tr>
		       		<td class="d-none"></td>
		       		<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='17%',tt='label',vv='КБК',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='13%',tt='label',vv='Сумма БА (текущий год)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='13%',tt='label',vv='Сумма БА (первый год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='13%',tt='label',vv='Сумма БА (второй год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='13%',tt='label',vv='Сумма ЛБО (текующий год)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='13%',tt='label',vv='Сумма ЛБО (первый год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='13%',tt='label',vv='Сумма ЛБО (второй год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       	</tr>
	       	</tbody>
	       	<tbody>
	           	<tr th:each="d : ${obj?.list_spec}" class="parent-popup">
	            	<td class="d-none">
	            		<input type="hidden" name="list_spec__rn" th:value="${d.rn}">
	       				<input type="hidden" name="list_spec__rnOld" th:value="${d.rn}">
	       				<input type="hidden" name="list_spec__clazz" th:value="${d.clazz}">
	       				<input type="hidden" name="list_spec__p_add" value="new">
	       				<input type="hidden" name="list_spec__p_cmd" value="">
	            	</td>
	            	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',vv=${d.kbk},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	         		<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kbk',vv=${d.kbk},ro=${rco},ddcl='SpKBK',ddti='Выберите КБК',ddco='kbk;kbk=КБК=YYA',ddfi='kbk,substring,18,1 =4 OR =2'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',nn='list_spec__sum1',vv=${d.sum1},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',nn='list_spec__sum2',vv=${d.sum2},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',nn='list_spec__sum3',vv=${d.sum3},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',nn='list_spec__sum4',vv=${d.sum4},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',nn='list_spec__sum5',vv=${d.sum5},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',nn='list_spec__sum6',vv=${d.sum6},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	           	</tr>
	           	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
	            	<td class="d-none">
	            		<input type="hidden" name="list_spec__rn" value="">
				       	<input type="hidden" name="list_spec__rnOld" value="">
				       	<input type="hidden" name="list_spec__clazz" value="Specification4">
				       	<input type="hidden" name="list_spec__p_add" value="new">
				       	<input type="hidden" name="list_spec__p_cmd" value="">
	            	</td>
	            	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
	   				<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kbk',vv='',ddcl='SpKBK',ddti='Выберите КБК',ddco='kbk;kbk=КБК=YYA',ddfi='kbk,substring,18,1 =4 OR =2'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',nn='list_spec__sum1',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',nn='list_spec__sum2',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',nn='list_spec__sum3',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',nn='list_spec__sum1',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',nn='list_spec__sum2',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='13%',tt='text',nn='list_spec__sum3',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	           	</tr>
       		</tbody>
       		<tbody>
       			<tr>
		       		<th:block th:with="w='22%',tt='label',vv='ИТОГО',aa='l',cs=3"><th th:replace="fragments/tc :: ch"></th></th:block>
		       		<th:block th:with="w='13%',tt='calc',ddoo='sum',ddnn='list_spec__sum1',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='13%',tt='calc',ddoo='sum',ddnn='list_spec__sum2',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='13%',tt='calc',ddoo='sum',ddnn='list_spec__sum3',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='13%',tt='calc',ddoo='sum',ddnn='list_spec__sum4',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='13%',tt='calc',ddoo='sum',ddnn='list_spec__sum5',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='13%',tt='calc',ddoo='sum',ddnn='list_spec__sum6',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       	</tr>
	       	</tbody>
       	</table>
   	</th:block>
   	<th:block th:fragment="spec5_list">
		<table class="table table-sm table-edited table-bordered small">
			<tbody>
				<tr>
		           	<th:block th:with="w='16%',tt='label',vv='Спецификация'"><th th:replace="fragments/tc :: ch"></th></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='32%',tt='xbutton',vv='Создать с копированием',ddco='copy',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Исправить',ddco='update',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<td width="4%"></td>
		        </tr>
	        </tbody>
        </table>
        <table id="list_spec" class="table table-sm table-edited table-bordered small">
        	<tbody>
        		<tr>
		       		<td class="d-none"></td>
		       		<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='№ предложения на закупку'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='19%',tt='label',vv='КОСГУ',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Сумма (следующий год)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Сумма (первый год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Сумма (второй год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Описание изменения'"><td th:replace="fragments/tc :: cd"></td></th:block>
		      		<td width="1%"></td>
		       	</tr>
	       	</tbody>
	       	<tbody>
	           	<tr th:each="d : ${obj?.list_spec}" class="parent-popup">
	            	<td class="d-none">
	            		<input type="hidden" name="list_spec__rn" th:value="${d.rn}">
	       				<input type="hidden" name="list_spec__rnOld" th:value="${d.rn}">
	       				<input type="hidden" name="list_spec__clazz" th:value="${d.clazz}">
	       				<input type="hidden" name="list_spec__p_add" value="new">
	       				<input type="hidden" name="list_spec__p_cmd" value="">
	            	</td>
	            	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__num',vv=${d.num},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',vv=${d.kosgu},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kosgu',vv=${d.kosgu},ro=${rco},ddcl='SpKBK',ddti='Выберите КОСГУ',ddco='kosgu;kosgu=КОСГУ=Y1A',ddfi='kbk $kbk$'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum1',vv=${d.sum1},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum2',vv=${d.sum2},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum3',vv=${d.sum3},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__description',vv=${d.description},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<td width="1%"></td>
	           	</tr>
	           	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
	            	<td class="d-none">
	            		<input type="hidden" name="list_spec__rn" value="">
				       	<input type="hidden" name="list_spec__rnOld" value="">
				       	<input type="hidden" name="list_spec__clazz" value="Specification5">
				       	<input type="hidden" name="list_spec__p_add" value="new">
				       	<input type="hidden" name="list_spec__p_cmd" value="">
	            	</td>
	            	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__num',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kosgu',vv='',ddcl='SpKBK',ddti='Выберите КОСГУ',ddco='kosgu;kosgu=КОСГУ=Y1A',ddfi='kbk $kbk$'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum1',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum2',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum3',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__description',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<td width="1%"></td>
	           	</tr>
       		</tbody>
       		<tbody>
       			<tr>
		       		<th:block th:with="w='39%',tt='label',vv='ИТОГО',aa='l',cs=4"><th th:replace="fragments/tc :: ch"></th></th:block>
		       		<th:block th:with="w='15%',tt='calc',ddoo='sum',ddnn='list_spec__sum1',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='15%',tt='calc',ddoo='sum',ddnn='list_spec__sum2',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='15%',tt='calc',ddoo='sum',ddnn='list_spec__sum3',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<td width="16%"></td>
		       	</tr>
	       	</tbody>
       	</table>
   	</th:block>
   	<th:block th:fragment="spec6_list">
		<table class="table table-sm table-edited table-bordered small">
			<tbody>
				<tr>
		           	<th:block th:with="w='16%',tt='label',vv='Спецификация'"><th th:replace="fragments/tc :: ch"></th></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Добавить',ddco='add',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='32%',tt='xbutton',vv='Создать с копированием',ddco='copy',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Исправить',ddco='update',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<th:block th:if="$(rco!=1)" th:with="w='16%',tt='xbutton',vv='Удалить',ddco='remove',ddta='list_spec'"><td th:replace="fragments/tc :: cd"></td></th:block>
		           	<td width="4%"></td>
		        </tr>
	        </tbody>
        </table>
        <table id="list_spec" class="table table-sm table-edited table-bordered small">
        	<tbody>
        		<tr>
		       		<td class="d-none"></td>
		       		<th:block th:with="w='5%',tt='label',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='19%',tt='label',vv='КБК',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='19%',tt='label',vv='КОСГУ',cs=2"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Сумма ЛБО (текущий год)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Сумма ЛБО (первый год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		       		<th:block th:with="w='15%',tt='label',vv='Сумма ЛБО (второй год планового периода)'"><td th:replace="fragments/tc :: cd"></td></th:block>
		      		<td width="12%"></td>
		       	</tr>
	       	</tbody>
       		<tbody>
	           	<tr th:each="d : ${obj?.list_spec}" class="parent-popup">
	            	<td class="d-none">
	            		<input type="hidden" name="list_spec__rn" th:value="${d.rn}">
	       				<input type="hidden" name="list_spec__rnOld" th:value="${d.rn}">
	       				<input type="hidden" name="list_spec__clazz" th:value="${d.clazz}">
	       				<input type="hidden" name="list_spec__p_add" value="new">
	       				<input type="hidden" name="list_spec__p_cmd" value="">
	            	</td>
	            	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',vv=${d.kbk},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kbk',vv=${d.kbk},ro=${rco},ddcl='SpKBK',ddti='Выберите КБК',ddco='kbk;kbk=КБК=Y0A',ddfi='kbk,substring,18,1 =4 OR =2'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',vv=${d.kosgu},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kosgu',vv=${d.kosgu},ro=${rco},ddcl='SpKBK',ddti='Выберите КОСГУ',ddco='kosgu;kosgu=КОСГУ=Y1A',ddfi='kbk $kbk$'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum1',vv=${d.sum1},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum2',vv=${d.sum2},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum3',vv=${d.sum3},ro=${rco},aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<td width="12%"></td>
	           	</tr>
	           	<tr th:if="${rco!=1}" class="not-visible last-row parent-popup">
	            	<td class="d-none">
	            		<input type="hidden" name="list_spec__rn" value="">
				       	<input type="hidden" name="list_spec__rnOld" value="">
				       	<input type="hidden" name="list_spec__clazz" value="Specification6">
				       	<input type="hidden" name="list_spec__p_add" value="new">
				       	<input type="hidden" name="list_spec__p_cmd" value="">
	            	</td>
	            	<th:block th:with="w='5%',tt='check',vv='',cc='td-check'"><td th:replace="fragments/tc :: check"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',vv='',ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kbk',vv='',ddcl='SpKBK',ddti='Выберите КБК',ddco='kbk;kbk=КБК=Y0A',ddfi='kbk,substring,18,1 =4 OR =2'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',vv=''"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='4%',tt='pbutton',nn1='list_spec',nn2='kosgu',vv='',ddcl='SpKBK',ddti='Выберите КОСГУ',ddco='kosgu;kosgu=КОСГУ=Y1A',ddfi='kbk $kbk$'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum1',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum2',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<th:block th:with="w='15%',tt='text',nn='list_spec__sum3',vv='',aa='c'"><td th:replace="fragments/tc :: cd"></td></th:block>
	            	<td width="12%"></td>
	           	</tr>
       		</tbody>
       		<tbody>
       			<tr>
		       		<th:block th:with="w='43%',tt='label',vv='ИТОГО',aa='l',cs=5"><th th:replace="fragments/tc :: ch"></th></th:block>
		       		<th:block th:with="w='15%',tt='calc',ddoo='sum',ddnn='list_spec__sum1',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='15%',tt='calc',ddoo='sum',ddnn='list_spec__sum2',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<th:block th:with="w='15%',tt='calc',ddoo='sum',ddnn='list_spec__sum3',aa='c'"><td th:replace="fragments/tc :: cr"></td></th:block>
		       		<td width="12%"></td>
		       	</tr>
	       	</tbody>
       	</table>
   	</th:block>
</body>
</html>