html {
	height: 100%;
}
body {
    height: 100%;
}
.table-fixed {
	table-layout: fixed;
	border-collapse: collapse;
	overflow-x: auto;
	display: block;
}
.table-fixed tbody {
	display:block;
	overflow-x: hidden;
}
.table-fixed thead {
	display:block;
}
.table-fixed thead th {
	overflow: hidden; 
	text-overflow: ellipsis; 
}
.max-width {
	max-width: 1024px;
}
.one-line {
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap;
}

.thead_th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
@media (min-width: 1600px) {
  	.container {
  		max-width: 1540px;
  	}
  	.modal-dialog {
    	max-width: 1024px;
    	margin: 1.75rem auto;
	}
}
.form-control:disabled, .form-control[readonly] {
  background-color: #f9fcff;
  opacity: 1;
}
.form-group-sm .row {
	margin-top: 2px; 	
}
.download {
	cursor: pointer;
}
.form-control-th {
    height: calc(1.5rem);
    padding: .125rem .25rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.fit-height {
}
.fit-scroll {
	overflow-y: auto;
}
.text-align-right {
	text-align: right;
}
.margin-left-0 {
	margin-left: 0;
}
.pointer {
	cursor: pointer;
}
.required:after {
    color: #e32;
    content: '\a0*';
    display: inline;
}
.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sorting, .sorting_asc, .sorting_desc {
    position: relative;
    cursor: pointer;
}
.sorting:after {
    opacity: 0.2;
    content: '\2191\2193';
}
.sorting_asc:after {
    content: '\2191';
}
.sorting_desc:after {
    content: '\2193';
}
.sorting:after, .sorting_asc:after, .sorting_desc:after {
    display: inline;
    opacity: 0.5;
    position: absolute;
    bottom: 4px;
    right: 0px;
}
.p_page {
	width: auto; 
	font-size: 90%;
}
.input_date {
	font-size: 100%;
}
.input_time {
	font-size: 100%;
}
.not-visible {
	display: none;
}
.c-footer {
  padding-top: 0.75rem;
  padding-left: 0.75rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.margin-bottom-0 {
	margin-bottom: 0rem;
}
.nav-active {
	font-weight: bold
}
.anchor {
	color: #23e
}
.table-edited {
	margin-bottom: -1px;
	margin-right: 1px;
	border-collapse: collapse;
}
.mb-0 {
	margin-bottom: 0px;
}
.table-edited td, .table-edited th {
	padding: 0px;
}
.table-edited td label, .table-edited th label {
	padding: 0.25rem;
	margin-bottom: 0rem;
}
.table-edited td h6, .table-edited th h6 {
	padding: 0.25rem;
	margin-bottom: 0rem;
	color: #16189b; 
}
.table-edited .td-center {
	text-align:center;
	vertical-align:middle;
}
.table-edited .td-right {
	text-align:right;
	vertical-align:middle;
}
.table-edited .td-left {
	text-align:left;
	vertical-align:middle;
}
.td-button {
	width: 100%; 
	display: block;
	margin-bottom: 1px;
}
.td-label {
	color: #ff8000; 
}
.w-in {
	display: inline-block;
	margin-bottom: -6px;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #ffffff;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #16189b;
  text-decoration: none;
  background-color: transparent;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1.0);
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #16189b;
  text-decoration: none;
  background-color: transparent;
}
.readonly {
  background-color: #f9fcff;
  opacity: 1;
}