html {
	height: 100%;
}
body {
    height: 100%;
}
@media (min-width: 1600px) {
  	.container {
  		max-width: 1540px;
  	}
  	.modal-dialog {
    	max-width: 1540px;
    	margin: 1.75rem auto;
	}
}
.form-group-sm .row {
	margin-top: 2px; 	
}
.download {
	cursor: pointer;
}
.max-width {
	max-width: 200px;
}
.one-line {
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap;
}
.form-control-th {
    height: calc(1.5rem);
    padding: .125rem .25rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.fit-height {
	overflow-y: auto;
}
.text-align-right {
	text-align: right;
}
.margin-left-0 {
	margin-left: 0;
}
.pointer {
	cursor: pointer;
}
.edited {
	cursor: pointer;
}
.required:after {
    color: #e32;
    content: '\a0*';
    display: inline;
}
.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sorting, .sorting_asc, .sorting_desc {
    position: relative;
    cursor: pointer;
}
.sorting:after {
    opacity: 0.2;
    content: '\2191\2193';
}
.sorting_asc:after {
    content: '\2191';
}
.sorting_desc:after {
    content: '\2193';
}
.sorting:after, .sorting_asc:after, .sorting_desc:after {
    display: inline;
    opacity: 0.5;
    position: absolute;
    bottom: 4px;
    right: 0px;
}
.p_page {
	width: auto; 
	font-size: 90%;
}
.input_date {
	font-size: 100%;
}
.input_time {
	font-size: 100%;
}
.not-visible {
	display: none;
}