<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			Amel.size_init();
			Amel.popup_init();
            $('input[name="username"]').focus();
            if (!($('input[name="rn"]').val() > 0)) $('input[name="password"]').attr("required") = "required";
		});
	</script>
	<div th:replace="fragments/header :: header"></div>
	<div class="container w-75">
		<form action="user" method="POST" autocomplete="off">
			<div th:replace="fragments/header :: details-param"></div>
    		<div th:replace="fragments/header :: details-header"></div>
	       	<div class="col-sm-12 card small">
	            <div class="m-sm-2">
	            	<div th:replace="fragments/header :: details-buttons"></div>
	            	<div class="col-sm-12 border fit-height">
	                    <div class="form-group-sm row mt-sm-2">
	                    	<div class="col-sm-12" th:with="tt='label',vv='Логин',rr=1"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-4" th:with="tt='text',nn='login',vv=${obj.login},rr=1"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-2">
	                    	<div class="col-sm-12" th:with="tt='label',vv='Пароль'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-4" th:with="tt='password',nn='password',vv=''"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <h6>Роли</h6>
	                    <div class="form-group-sm row mt-sm-2">
	                    	<div class="col-sm-4" th:with="tt='check',nn='role_user',vv=${role_user},xx='Пользователь'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-4" th:with="tt='check',nn='role_admin',vv=${role_admin},xx='Администратор'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-4" th:with="tt='check',nn='role_df',vv=${role_df},xx='Сотрудник Департамента финансов'"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-2">
	                    	<div class="col-sm-6" th:with="tt='check',nn='disabled',vv=${obj.disabled},xx='Заблокирован'"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-2 parent-popup">
	                    	<div class="col-sm-6" th:with="tt='label',vv='Контрагент (юридическое лицо)'"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-11" th:with="tt='text',vv=${obj.org?.name},ro=1"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-1" th:with="tt='pbutton',nn='org',vv=${obj.org?.rn},ddcl='IOrganization',ddti='Выберите организацию',ddco='name=Наименование организации',ddfi=''"><div th:replace="fragments/component :: c"></div></div>
						</div>	                        
	                    <div class="form-group-sm row mt-sm-2">
	                    	<div class="col-sm-6" th:with="tt='label',vv='Контрагент (физическое лицо)'"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-11" th:with="tt='select',nn='person',ll=${listPerson},vv=${obj.person}"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
                    </div>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/header :: modal"></div>
	<div th:replace="fragments/header :: details-footer"></div>
</body>
</html>