<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			Amel.details_init();
		});
	</script>
	<div th:replace="fragments/header :: header"></div>
	<div class="container w-75">
		<form action="detailsObj" method="POST" enctype="multipart/form-data" autocomplete="off">
			<div th:replace="fragments/header :: details-param"></div>
    		<div th:replace="fragments/header :: details-header"></div>
           	<div th:with="rco=${readonly!=true ? 0 : 1}" class="col-sm-12 card small">
            	<div class="m-sm-2">
            		<div th:replace="fragments/header :: details-buttons"></div>
	                <div class="col-sm-12 border fit-height">
	                	<th:block th:if="${bs!=true}">
	                		<table class="table table-sm table-edited table-bordered"><tbody><tr>
	                			<th:block th:with="w='100%',tt='file',nn='fileuri',vv='Прикрепить файл',ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
	                		<tr></tbody></table>
	                		<table class="table table-sm table-edited table-bordered"><tbody><tr>
	                			<th:block th:with="w='10%',tt='label',vv='Имя файла'"><th th:replace="fragments/tc :: ch"></th></th:block>
		                    	<th:block th:with="w='21%',tt='text',nn='filename',vv=${obj.filename},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
		                        <th:block th:with="w='10%',tt='label',vv='Расширение'"><th th:replace="fragments/tc :: ch"></th></th:block>
		                       	<th:block th:with="w='5%',tt='text',nn='fileext',vv=${obj.fileext},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
		                        <th:block th:with="w='10%',tt='label',vv='Тип файла'"><th th:replace="fragments/tc :: ch"></th></th:block>
		                        <th:block th:with="w='44%',tt='select',nn='filetype',vv=${obj.filetype},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
	                		<tr></tbody></table>
	                		<table class="table table-sm table-edited table-bordered"><tbody><tr>
	                			<th:block th:with="w='7%',tt='label',vv='Длина файла'"><th th:replace="fragments/tc :: ch"></th></th:block>
								<th:block th:with="w='13%',tt='text',nn='filelength',vv=${obj.filelength},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
								<th:block th:with="w='7%',tt='label',vv='Внутренняя ссылка'"><th th:replace="fragments/tc :: ch"></th></th:block>
								<th:block th:with="w='73%',tt='text',vv=${obj.fileuri},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	                		<tr></tbody></table>
	                		<table class="table table-sm table-edited table-bordered"><tbody><tr>
	                			<th:block th:with="w='7%',tt='label',vv='Примечание'"><th th:replace="fragments/tc :: ch"></th></th:block>
	                           	<th:block th:with="w='83%',tt='text',nn='comment',vv=${obj.comment},ro=${rco}"><td th:replace="fragments/tc :: cd"></td></th:block>
	                		<tr></tbody></table>
	                		<table th:if="${obj.rn != null}" class="table table-sm table-edited table-bordered"><tbody><tr>
	                			<td><a th:href="${'fileView?rn=' + obj.rn}">Скачать файл</a></td>
	                		<tr></tbody></table>
	                	</th:block>
	                    <th:block th:if="${bs==true}">
		                	<div class="form-group-sm row mt-sm-1">
		                      	<div class="col-sm-12" th:with="tt='file',nn='fileuri',vv='Прикрепить файл',ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
		                    </div>
		                    <div class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-1" th:with="tt='label',vv='Имя файла'"><div th:replace="fragments/component :: c"></div></div>
		                    	<div class="col-sm-2" th:with="tt='text',nn='filename',vv=${obj.filename},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
		                        <div class="col-sm-1" th:with="tt='label',vv='Расширение'"><div th:replace="fragments/component :: c"></div></div>
		                       	<div class="col-sm-1" th:with="tt='text',nn='fileext',vv=${obj.fileext},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
		                        <div class="col-sm-1" th:with="tt='label',vv='Тип файла'"><div th:replace="fragments/component :: c"></div></div>
		                        <div class="col-sm-6" th:with="tt='select',nn='filetype',vv=${obj.filetype},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
		                    </div>
		                    <div class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-1" th:with="tt='label',vv='Длина файла'"><div th:replace="fragments/component :: c"></div></div>
								<div class="col-sm-2" th:with="tt='text',nn='filelength',vv=${obj.filelength},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
								<div class="col-sm-1" th:with="tt='label',vv='Внутренняя ссылка'"><div th:replace="fragments/component :: c"></div></div>
								<div class="col-sm-8" th:with="tt='text',vv=${obj.fileuri},ro=1"><div th:replace="fragments/component :: c"></div></div>
		                    </div>
		                    <div class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-1" th:with="tt='label',vv='Примечание'"><div th:replace="fragments/component :: c"></div></div>
		                    	<div class="col-sm-11" th:with="tt='text',nn='comment',vv=${obj.comment},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
		                    </div>
		                    <div th:if="${obj.rn != null}" class="form-group-sm row mt-sm-1">
		                    	<div class="col-sm-12"> <a th:href="${'fileView?rn=' + obj.rn}">Скачать файл</a></div>
		                    </div>
	                    </th:block>
                    </div>
				</div>
			</div>
			</form>
	</div>
	<div th:replace="fragments/header :: details-footer"></div>
</body>
</html>