<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.input_date').datepicker({language: "ru"});
			size_init();
			page_init("list_doc", "Document");
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<div class="container fit-height">
		<form th:action="@{/detailsObj}" method="POST" class="form" role="form" autocomplete="off">
			<input type="hidden" name="clazz" value="Reestr" />
			<input type="hidden" name="rn" th:value="${obj.rn}" />
    		<div class="col-md-12 card-header">
            	<h3 th:text="${p_title}"></h3>
            </div>
           	<div class="col-sm-12 card small">
            	<div class="m-sm-2">
            		<div class="row small col-sm-12">
	            		<div class="btn-group">
	            			<button th:if="${readonly!=true}" class="btn btn-sm btn-light" type="submit"><i class="fa fa-sm fa-save"></i> Сохранить</button>
			                <a th:href="@{/listObj?clazz=Reestr}" class="btn btn-light btn-sm"><i class="fa fa-sm fa-window-close"></i> Отмена</a>
		                </div>
	                </div>
	                <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Дата создания</label>
                        <div class="col-sm-2">
                    	    <input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.create_time,'dd.MM.yyyy hh:mm.ss')}"></input>
						</div>
                        <label class="col-sm-2 col-form-label">Создан пользователем</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${obj.create_agent?.name}"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-1 col-form-label required">№ реестра</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" name="reestr_number" th:value="${obj.reestr_number}" required="required"></input>
                       	</div>
                        <label class="col-sm-2 col-form-label required">Дата реестра</label>
                        <div class="col-sm-2">
                        	<input class="input_date form-control form-control-sm" type="text" name="reestr_date" th:value="${#dates.format(obj.reestr_date,'dd.MM.yyyy')}" required="required"></input>
                       	</div>
                       	<label class="col-sm-2 col-form-label">Структурное подразделение</label>
                        <div class="col-sm-3">
                        	<select name="depart" class="form-control form-control-sm">
	                    		<option value=""></option>
								<option th:each="d : ${listDepartment}" th:selected="${obj.depart?.rn==d.rn}" th:value="${d.rn}" th:utext="${d.name}"/>
							</select>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Документы сдал</label>
                        <div class="col-sm-4">
	                    	<select name="agent_from" class="form-control form-control-sm">
	                    		<option value=""></option>
								<option th:each="a : ${listAgent}" th:selected="${obj.agent_from?.rn==a.rn}" th:value="${a.rn}" th:utext="${a.name}"/>
							</select>    
						</div>
						<label class="col-sm-2 col-form-label">Документы принял</label>
                        <div class="col-sm-4">
	                    	<select name="agent_to" class="form-control form-control-sm">
	                    		<option value=""></option>
								<option th:each="a : ${listAgent}" th:selected="${obj.agent_to?.rn==a.rn}" th:value="${a.rn}" th:utext="${a.name}"/>
							</select>    
						</div>
					</div>
					<div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-4 col-form-label">Материально-ответственное лицо</label>
                        <div class="col-sm-8">
	                    	<select name="mol" class="form-control form-control-sm">
	                    		<option value=""></option>
								<option th:each="a : ${listAgent}" th:selected="${obj.mol?.rn==a.rn}" th:value="${a.rn}" th:utext="${a.name}"/>
							</select>    
						</div>
					</div>
					<div class="form-group-sm mt-sm-1">
                        <label class="col-sm-2 col-form-label">Документы, включенные в реестр</label>
                        <div class="col-sm-12">
	                        <table class="table table-sm table-striped table-light table-bordered">
						    	<thead>
							        <tr>
							            <th class="d-none">Идентификатор</th>
							            <th>#</th>
							            <th>Документ</th>
							            <th></th>
							            <th></th>
							            <th class="d-none">Команда</th>
							        </tr>
						        </thead>
						        <tbody>
						        	<tr th:if=${readonly!=true} class="first-row not-visible">
							            <td class="d-none">
							            	<input type="hidden" name="list_doc__rn" value="">
							            	<input type="hidden" name="list_doc__clazz" value="Document">
							            	<input type="hidden" name="list_doc__p_add" value="exists">
							            </td>
							            <td></td>
							            <td class="edited">
							            	<span></span>
							            	<input name="list_doc__doc" type="hidden" value="" data-type="select" data-clazz="Document" data-title="Выберите документ" data-column="name=Документ" data-filter="doc_status__code ='2'">
							            </td>
							            <td></td>
							            <td><button th:if=${readonly!=true} class="remove-item btn btn-light btn-sm" type="button"><i class="fa fa-sm fa-minus"></i></button></td>
							            <td class="d-none cmd"><input type="hidden" name="list_doc__p_cmd" value=""></td>
							        </tr>
							        <tr th:each="doc,iter : ${obj?.list_doc}">
							            <td class="d-none">
							            	<input type="hidden" name="list_doc__rn" th:value="${doc.rn}">
							            	<input type="hidden" name="list_doc__clazz" value="Document">
							            	<input type="hidden" name="list_doc__p_add" value="exists">
							            </td>
							            <td th:text="${iter.index + 1}"/>
							            <td class="edited">
							            	<span th:text="${doc.name}"></span>
							            	<input name="list_doc__doc" type="hidden" th:value="${doc.rn}" data-type="select" data-clazz="Document" data-title="Выберите документ" data-column="name=Документ" data-filter="doc_status__code ='7'">
							            </td>
							            <td><a th:if=${readonly!=true} th:href="@{/detailsObj?clazz=Document&rn=} + ${doc.rn} + '&prn=' + ${obj.rn}" class="btn btn-light btn-sm"><i class="fa fa-sm fa-file"></i></a></td>
							            <td><button th:if=${readonly!=true} class="remove-item btn btn-light btn-sm" type="button"><i class="fa fa-sm fa-minus"></i></button></td>
							            <td class="d-none cmd"><input type="hidden" name="list_doc__p_cmd" value=""></td>
							        </tr>
							        <tr class="last-row">
							        	<td class="d-none"/>
							        	<td><button class="add-item btn btn-light btn-sm"><i class="fa fa-sm fa-plus"></i></button></td>
							        	<td></td>
							        	<td></td>
							        	<td></td>
							        	<td class="d-none"/>
						        	</tr>
						        </tbody>
						    </table>
					    </div>
				    </div>
				    <div class="form-group-sm row mt-sm-1">
				    	<label class="col-sm-2 col-form-label">Количество документов</label>
                        <div class="col-sm-1">
                        	<input class="form-control form-control-sm" type="text" name="doc_count" th:value="${obj.doc_count}"></input>
                       	</div>
				    	<label class="col-sm-2 col-form-label">Количество страниц</label>
                        <div class="col-sm-1">
                        	<input class="form-control form-control-sm" type="text" name="sheet_count" th:value="${obj.sheet_count}"></input>
                       	</div>
				    </div>
					<div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Статус</label>
                        <div class="col-sm-4">
	                    	<select name="reestr_status" class="form-control form-control-sm">
	                    		<option value=""></option>
								<option th:each="d : ${listActStatus}" th:selected="${obj.reestr_status?.rn==d.rn}" th:value="${d.rn}" th:utext="${d.name}"/>
							</select>    
						</div>
                        <label class="col-sm-2 col-form-label">Дата присвоения статуса</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.time_status,'dd.MM.yyyy hh:mm:ss')}"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Изменен пользователем</label>
                        <div class="col-sm-2">
                    	    <input class="form-control form-control-sm" type="text" th:value="${obj.change_agent?.name}"></input>
						</div>
                        <label class="col-sm-2 col-form-label">Дата изменения</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" th:value="${#dates.format(obj.time_status,'dd.MM.yyyy hh:mm:ss')}"></input>
                       	</div>
                    </div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal" tabindex="-1" role="dialog" style="height: 90%"></div>
	<footer class="footer">
    	<div th:replace="fragments/header :: change_info"></div>
    </footer>
</body>
</html>