<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.input_date').datepicker({language: "ru"});
			size_init();
			page_init();
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<div class="container">
		<form th:action="@{/detailsObj}" method="POST" enctype="multipart/form-data" class="form" role="form" autocomplete="off">
			<div th:replace="fragments/header :: details-param"></div>
    		<div class="col-sm-12 card-header"><h6 th:text="${p_title}"></h6></div>
           	<div th:with="st=${obj.reestr_status==null ? '1' : obj.reestr_status?.code},adm=${#strings.contains(p_roles,'ADMIN') ? 1 : 0},rco=${adm==1 || st=='1' ? 0 : 1}" class="col-sm-12 card small">
            	<div class="m-sm-0">
            		<div th:replace="fragments/header :: details-buttons"></div>
	                <div class="col-sm-12 border fit-height">
		                <div class="form-group-sm row mt-sm-1">
	                        <div class="col-sm-2" th:with="tt='label',vv='Дата создания'"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-2" th:with="tt='time',vv=${obj.create_time},ro=1"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-2" th:with="tt='label',vv='Создан пользователем'"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-4" th:with="tt='text',vv=${obj.create_agent?.name},ro=1"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                    	<div class="col-sm-2" th:with="tt='label',vv='№ реестра',rr=1"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-2" th:with="tt='text',nn='reestr_number',vv=${obj.reestr_number},ro=${rco},rr=1"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-2" th:with="tt='label',vv='Дата реестра',rr=1"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-2" th:with="tt='date',nn='reestr_date',vv=${obj.reestr_date},ro=${rco},rr=1"><div th:replace="fragments/component :: c"></div></div>
	                   </div>
	                   <div class="form-group-sm row mt-sm-1">
	                       	<div class="col-sm-2" th:with="tt='label',vv='Структурное подразделение'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-10" th:with="tt='select',nn='depart',ll=${listDepartment},vv=${obj.depart},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                    	<div class="col-sm-4" th:with="tt='label',vv='Документы сдал'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-4" th:with="tt='label',vv='Документы принял'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-4" th:with="tt='label',vv='Материально-ответственное лицо'"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                    	<div class="col-sm-4" th:with="tt='select',nn='agent_from',ll=${listPerson},vv=${obj.agent_from},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-4" th:with="tt='select',nn='agent_to',ll=${listPerson},vv=${obj.agent_to},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-4" th:with="tt='select',nn='mol',ll=${listPerson},vv=${obj.mol},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
						</div>
						<div id="list_doc" class="form-group-sm mt-sm-1">
	                        <label class="col-sm-4">Документы, включенные в реестр</label>
	                        <div class="col-sm-12">
		                        <table class="table table-sm table-striped table-light table-bordered">
							    	<thead>
								        <tr>
								            <th class="d-none">Идентификатор</th>
								            <th>#</th>
								            <th>Документ</th>
								            <th>Заменен</th>
								            <th></th>
								            <th></th>
								            <th class="d-none">Команда</th>
								        </tr>
							        </thead>
							        <tbody>
							        	<tr th:if="${rco!=1}" class="first-row not-visible">
								            <td class="d-none">
								            	<input type="hidden" name="list_doc__rnOld" value="">
								            	<input type="hidden" name="list_doc__clazz" value="Document">
								            	<input type="hidden" name="list_doc__p_add" value="exists">
								            </td>
								            <td></td>
								            <td class="edited">
								            	<span></span>
								            	<input name="list_doc__rn" type="hidden" value="" data-type="select" data-clazz="Document" data-title="Выберите документ" data-column="name=Документ" data-filter="doc_status__code ='4'">
								            </td>
								            <td></td>
								            <td></td>
								            <td><button class="remove-item btn btn-light btn-sm" type="button"><i class="fa fa-sm fa-minus"></i></button></td>
								            <td class="d-none cmd"><input type="hidden" name="list_doc__p_cmd" value=""></td>
								        </tr>
								        <tr th:each="doc,iter : ${obj?.list_doc}">
								            <td class="d-none">
								            	<input type="hidden" name="list_doc__rnOld" th:value="${doc.rn}">
								            	<input type="hidden" name="list_doc__clazz" value="Document">
								            	<input type="hidden" name="list_doc__p_add" value="exists">
								            </td>
								            <td th:text="${iter.index + 1}"/>
								            <td th:if="${adm==1 || st=='2' || st=='3'}" class="edited">
								            	<span th:text="${doc.name}"></span>
								            	<input name="list_doc__rn" type="hidden" th:value="${doc.rn}" data-type="select" data-clazz="Document" data-title="Выберите документ" data-column="name=Документ" data-filter="doc_status__code ='4'">
								            </td>
								            <td th:if="${adm!=1 && st!='2' || st!='3'}">
								            	<span th:text="${doc.name}"></span>
								            </td>
								            <td th:text="${doc.change_doc?.name}"></td>
								            <td><a th:href="@{/detailsObj?clazz=Document&readonly=1&&rn=} + ${doc.rn} + '&prn=' + ${obj.rn}" class="btn btn-light btn-sm"><i class="fa fa-sm fa-file"></i></a></td>
								            <td><button th:if="${rco!=1}" class="remove-item btn btn-light btn-sm" type="button"><i class="fa fa-sm fa-minus"></i></button></td>
								            <td class="d-none cmd"><input type="hidden" name="list_doc__p_cmd" value=""></td>
								        </tr>
								        <tr th:if="${rco!=1}" class="last-row">
								        	<td class="d-none"/>
								        	<td><button class="add-item btn btn-light btn-sm"><i class="fa fa-sm fa-plus"></i></button></td>
								        	<td></td>
								        	<td></td>
								        	<td></td>
								        	<td></td>
								        	<td class="d-none"/>
							        	</tr>
							        </tbody>
							    </table>
						    </div>
					    </div>
					    <div class="form-group-sm row mt-sm-1">
					    	<div class="col-sm-2" th:with="tt='label',vv='Количество документов'"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-1" th:with="tt='text',vv=${obj.doc_count},ro=1"><div th:replace="fragments/component :: c"></div></div>
	                       	<div class="col-sm-2" th:with="tt='label',vv='Количество страниц'"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-1" th:with="tt='text',vv=${obj.sheet_count},ro=1"><div th:replace="fragments/component :: c"></div></div>
					    </div>
						<div class="form-group-sm row mt-sm-1">
							<div class="col-sm-2" th:with="tt='label',vv='Статус'"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-2" th:with="tt='select',nn='reestr_status',ll=${listReestrStatus},vv=${obj.reestr_status},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-1" th:with="tt='label',vv='Дата присвоения статуса'"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-2" th:with="tt='time',vv=${obj.time_status},ro=1"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                    	<div class="col-sm-2" th:with="tt='label',vv='Дата изменения'"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-2" th:with="tt='time',vv=${obj.change_time},ro=1"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-2" th:with="tt='label',vv='Изменен пользователем'"><div th:replace="fragments/component :: c"></div></div>
							<div class="col-sm-4" th:with="tt='text',vv=${obj.change_agent?.name},ro=1"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div th:replace="fragments/header :: list_file"></div>
                    </div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal" tabindex="-1" role="dialog" style="height: 90%"></div>
	<footer class="footer">
    	<div th:replace="fragments/header :: change_info"></div>
    </footer>
</body>
</html>