<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			Amel.date_on();
			Amel.size_init();
		});
	</script>
	<div th:replace="fragments/header :: header"></div>
	<div class="container w-75">
		<form action="detailsObj" method="POST" autocomplete="off">
			<div th:replace="fragments/header :: details-param"></div>
			<div th:replace="fragments/header :: details-header"></div>
           	<div th:with="rco=${readonly!=true ? 0 : 1}" class="col-md-12 card small">
            	<div class="m-sm-2">
            		<div th:replace="fragments/header :: details-buttons"></div>
            		<div class="col-sm-12 border fit-height">
	                    <div class="form-group-sm row mt-sm-1">
	                        <div class="col-sm-2" th:with="tt='label',vv='Машинный код'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-2" th:with="tt='text',nn='mkod',vv=${obj.mkod},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-2" th:with="tt='label',vv='Должность'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-6" th:with="tt='text',nn='position',vv=${obj.position},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
                    	</div>
                    	<div class="form-group-sm row mt-sm-1">
	                    	<div class="col-sm-2" th:with="tt='label',vv='Фамилия'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-2" th:with="tt='text',nn='surname',vv=${obj.surname},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-2" th:with="tt='label',vv='Имя'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-2" th:with="tt='text',nn='firstname',vv=${obj.firstname},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-2" th:with="tt='label',vv='Отчество'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-2" th:with="tt='text',nn='middlename',vv=${obj.middlename},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                        <div class="col-sm-2" th:with="tt='label',vv='Структурное подразделение'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-10" th:with="tt='select',nn='depart',ll=${listDepartment},vv=${obj.depart},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                    	<div class="col-sm-2" th:with="tt='label',vv='Телефон'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-4" th:with="tt='text',nn='phone',vv=${obj.phone},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-2" th:with="tt='label',vv='Электронная почта'"><div th:replace="fragments/component :: c"></div></div>
	                    	<div class="col-sm-4" th:with="tt='text',nn='email',vv=${obj.email},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
	                    <div class="form-group-sm row mt-sm-1">
	                        <div class="col-sm-2" th:with="tt='label',vv='Дата увольнения'"><div th:replace="fragments/component :: c"></div></div>
	                        <div class="col-sm-2" th:with="tt='date',nn='date_fire',vv=${obj.date_fire},ro=${rco}"><div th:replace="fragments/component :: c"></div></div>
	                    </div>
                    </div>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/header :: details-footer"></div>
</body>
</html>