<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			Amel.details_init();
		});
	</script>
	<div th:replace="fragments/header :: header"></div>
	<div class="container table-modal">
		<form action="detailsObj" method="POST" autocomplete="off">
			<div th:replace="fragments/header :: details-param"></div>
    		<div th:replace="fragments/header :: details-header"></div>
           	<div th:with="rco=${readonly!=true ? 0 : 1}" class="col-sm-12 card small">
            	<div class="m-sm-0">
            		<div th:replace="fragments/header :: details-buttons"></div>
	                <div class="col-sm-12 fit-height">
	                	<table class="table table-sm table-edited table-bordered"><tbody><tr class="parent-popup">
	                		<th:block th:with="w='50%',tt='label',vv='КБК'"><th th:replace="fragments/tc :: ch"></th></th:block>
	                		<th:block th:with="w='46%',tt='text',,vv=${obj.kbk},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	                		<th:block th:with="w='4%',tt='pbutton',nn1='kbk',nn2='',vv=${obj.kbk},ro=${rco},ddcl='SpKBK',ddti='Выберите КБК',ddco='kbk;kbk=КБК=YYA',ddfi='kbk,substring,18,1 =4 OR =2'"><td th:replace="fragments/tc :: cd"></td></th:block>
                		</tr></tbody></table>
                		<table class="table table-sm table-edited table-bordered"><tbody><tr class="parent-popup">
	                		<th:block th:with="w='50%',tt='label',vv='КОСГУ'"><th th:replace="fragments/tc :: ch"></th></th:block>
	                		<th:block th:with="w='46%',tt='text',vv=${obj.kosgu},ro=1"><td th:replace="fragments/tc :: cd"></td></th:block>
	                		<th:block th:with="w='4%',tt='pbutton',nn1='kosgu',nn2='',vv=${obj.kosgu},ro=${rco},ddcl='SpKBK',ddti='Выберите КОСГУ',ddco='kosgu;kosgu=КОСГУ=YYA',ddfi='kbk $kbk$'"><td th:replace="fragments/tc :: cd"></td></th:block>
                		</tr></tbody></table>
                		<table class="table table-sm table-edited table-bordered"><tbody><tr>
	                		<th:block th:with="w='50%',tt='label',vv='Сумма ЛБО (текущий год)'"><th th:replace="fragments/tc :: ch"></th></th:block>
	                		<th:block th:with="w='50%',tt='text',nn='sum1',vv=${obj.sum1}"><td th:replace="fragments/tc :: cd"></td></th:block>
		                </tr></tbody></table>
		                <table class="table table-sm table-edited table-bordered"><tbody><tr>
	                		<th:block th:with="w='50%',tt='label',vv='Сумма ЛБО (первый год планового периода)'"><th th:replace="fragments/tc :: ch"></th></th:block>
	                		<th:block th:with="w='50%',tt='text',nn='sum2',vv=${obj.sum2}"><td th:replace="fragments/tc :: cd"></td></th:block>
		                </tr></tbody></table>
		                <table class="table table-sm table-edited table-bordered"><tbody><tr>
	                		<th:block th:with="w='50%',tt='label',vv='Сумма ЛБО (второй год планового периода)'"><th th:replace="fragments/tc :: ch"></th></th:block>
	                		<th:block th:with="w='50%',tt='text',nn='sum3',vv=${obj.sum3}"><td th:replace="fragments/tc :: cd"></td></th:block>
		                </tr></tbody></table>
                    </div>
 				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/header :: details-footer"></div>
</body>
</html>