<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.input_date,.input_time').datepicker({language: "ru"});
			size_init();
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<div class="container w-75 fit-height">
		<form th:action="@{/detailsObj}" method="POST" class="form" role="form" autocomplete="off">
			<input type="hidden" name="clazz" th:value="${obj.clazz}" />
			<input type="hidden" name="rn" th:value="${obj.rn}" />
    		<div class="col-md-12 card-header">
            	<h3 th:text="${p_title}"></h3>
            </div>
           	<div class="col-md-12 card small">
            	<div class="m-sm-2">
            		<div th:replace="fragments/header :: details-buttons"></div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Машинный код</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" name="mkod" th:value="${obj.mkod}"></input>
                       	</div>
                        <label class="col-sm-2 col-form-label">Короткое наименование</label>
                        <div class="col-sm-6">
                        	<input class="form-control form-control-sm" type="text" name="shortname" th:value="${obj.shortname}"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label required">Полное наименование</label>
                        <div class="col-sm-12">
                        	<textarea class="form-control form-control-sm" name="fullname" th:text="${obj.fullname}" required="required"></textarea>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-1 col-form-label required">ИНН</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" name="inn" th:value="${obj.inn}" required="required"></input>
                       	</div>
                      	<label class="col-sm-1 col-form-label">КПП</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" name="kpp" th:value="${obj.kpp}"></input>
                       	</div>
                        <label class="col-sm-2 col-form-label">Код сводного реестра</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" name="srcode" th:value="${obj.srcode}"></input>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-2 col-form-label">Адрес</label>
                        <div class="col-sm-12">
                        	<textarea class="form-control form-control-sm" name="address" th:text="${obj.address}"></textarea>
                       	</div>
                    </div>
                    <div class="form-group-sm row mt-sm-1">
                        <label class="col-sm-1 col-form-label">ОГРН</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" name="ogrn" th:value="${obj.ogrn}"></input>
                       	</div>
                      	<label class="col-sm-1 col-form-label">ОКПО</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" name="okpo" th:value="${obj.okpo}"></input>
                       	</div>
                        <label class="col-sm-2 col-form-label">ОКОПФ</label>
                        <div class="col-sm-2">
                        	<input class="form-control form-control-sm" type="text" name="okopf" th:value="${obj.okopf}"></input>
                       	</div>
                    </div>
				</div>
			</div>
		</form>
	</div>
	<footer class="footer">
    	<div th:replace="fragments/header :: change_info"></div>
    </footer>
</body>
</html>