<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
            
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<section>
		<div class="container py-5">
    		<div class="row">
            	<div class="col-md-6 mx-auto">
	            	<div class="card rounded-0">
		                <div class="card-header">
		                    <h5 class="mb-0" th:text="${p_title}"></h5>
		                </div>
		                <div class="card-body">
			                <form th:if=${p_message==null} action="removeObj" method="POST" autocomplete="off">
			                	<input type="hidden" name="rn" th:value="${obj.rn}" />
			                	<input type="hidden" name="clazz" th:value="${obj.clazz}" />
			                	<input type="hidden" name="prn" th:value="${prn}" />
			                	<input type="hidden" name="list" th:value="${list}" />
			                	<div class="form-group">
			                    	<h6 th:text="${'Вы действительно хотите удалить объект ' + (obj.name != null ? obj.name : '')}"></h6>
		                    	</div>
			                    <div class="form-group">
				                    <button type="submit" class="btn btn-light btn-sm">Да</button>
				                    <a th:href="${'listObj?clazz=' + obj.clazz}"><button type="button" class="btn btn-light btn-sm">Нет</button></a>
			                    </div>
			                </form>
			                <div th:if='${p_message!=null}' >
				                <div class="form-group">
				                	<h6 th:text=${p_message}></h6>
			                	</div>
			                	<div class="form-group">
				                	<a th:href="${'listObj?clazz=' + clazz}"><button type="button" class="btn btn-light btn-sm">Вернуться</button></a>
			                	</div>
		                	</div>
						</div>
					</div>
				</div>
 			</div>
		</div>
	</section>
</body>
</html>