<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			Amel.size_init();
		});
	</script>
	<header th:replace="fragments/header :: header"></header>
	<div class="col-sm-12 fit-height">
		<form id="formSubmit" th:action="@{/search}" method="POST" novalidate  autocomplete="off">
			<div class="col-md-12">
				<h2>Результаты поиска</h2>
				<div class="input-group"> 
					<input name="p_text" th:value=${p_text} type="text" class="form-control form-control-sm"> 
					<span class="input-group-btn">
						<button class="btn btn-sm btn-outline-info" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
				<div th:replace="fragments/pager :: pager-param"></div>
		        <div class="table-responsive">   	
				    <table id="objTable" class="table table-hover small">
				        <tbody>
					        <tr th:each="item,iter : ${listItem}">
					        	<td th:text="${p_off * p_page + iter.index + 1} + ${'.'}"></td>
					        	<td>
					        		<label th:utext="${item.content}" class="col-form-label"></label>
					        		<div class="col-sm-12">
					        			<a th:href="@{/detailsObj?clazz=} + ${item.clazz} + ${'&rn=' + item.id}" th:text="${item.name}"></a>
				        			</div>
				        		</td>
					        </tr>
				        </tbody>
			        </table>
		        </div>
			</div>
        </form>
 	</div>
 	<footer class="footer">
    	<div th:replace="fragments/pager :: pager"></div>
    </footer>
</body>
</html>